<ion-view view-title="Chat UI" ng-controller="ChatCtrl">


<!-- style="background: linear-gradient(to left, #FFB6C1, #f5f5f5); -->
  <ion-header-bar class="bar-stable item-input-inset">
    <div style="margin-left: auto;margin-right: auto;margin-top:8px;">
      <img ng-src="img/tring-logov2.png">
    </div>
  </ion-header-bar>
    <ion-content>
        <div>
            <div ng-show="noChatsToShow">
              You do not have any chats.
            </div>
            <div class="list">
                <!-- chat list Repeater-->

              <div style="background: linear-gradient(to right, #fcfbfd, #f5f5f5);" class="item item-remove-animate item-avatar item-icon-right item-borderless padding-right-0" ng-class="chat.isGroup? 'group-chat': 'single-chat'"   ng-repeat="chat in chats | orderBy:'-message.ts' track by chat._id">
                    <div class="thumb-cover" ng-click="goToMessage(chat)">
                        <img ng-src="{{chat.thumbnailData}}" class="thumb-img">
                    </div>
                    <div  ng-class="{'item-chat': $index > 0}">
                      <div style="float:left; padding-top:5px;padding-bottom:5px;" ng-click="goToMessage(chat)" >
                        <h2 style="font-size:large;">{{chat.name}}</h2>
                        <p class="notification-summary" style="width:150px;font-size:smaller">
                          <span style="font-size:small;"  ng-if="chat.message.dir == 0 && chat.message.handleName" class="text-shift-right">{{chat.message.handleName}}</span>
                          <span style="font-size:small;" ng-if="chat.message.dir == 1" class="text-shift-right">You</span>
                          <br>
                          {{chat.message.data}}
                          <!--<span ng-if="chat.message.dir == 0 && chat.message.handleName" class="text-shift-right">{{chat.message.handleName}}</span>-->
                        </p>
                      </div>
                      <div style="float:right;padding-right:5px;padding-top:3px;" ng-click="goToMessage(chat)" >
                        <p class="notification-summary">
                          <span class="text-shift-right" style="font-size:11px;" ng-if="chat.message.ts > 0">
                          {{chat.message.ts | amCalendar}}
                          </span>
                          <br>
                          <span class="new-notification-bubble" ng-if="chat.unReadCount > 0">{{chat.unReadCount}}
                          </span>
                        </p>
                        <br>
                      </div>
                    </div>

                </div>
            </div>
        </div>
        <span ng-controller="DownloadController"></span>
    </ion-content>
    <!-- End chat content list -->

</ion-view>
