<!-- Chat Conversation Screen - Refer to chat-ui.scss -->
<ion-view hide-tabs view-title="Conversation">
    <!--
  setting 'hide-nav-bar="true"' above enables us to create our own header bar
  by hiding the default one without messing with ionic's state/history management
  online-status
  -->

  <div class="bar bar-passel-header">
    <div class="row">
      <div class="col-10">
        <button class="button button-back button-clear tring-color" ng-click="goBackAStep()">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </div>
      <div class="col-33">
        <img style = "margin-top: 5px;
    float: right;
     margin-right:2px;
    border-radius: 50%;
    width: 50px;" ng-src="{{chat.thumbnailData}}" ng-click="goToDetailsAndProfile()">
      </div>
      <div class="col-33">
        <h4 style = "margin-top: 18px;
    float: left;
    margin-left:2px;
    ">
          <span  ng-bind="chat.senderName"></span>
        </h4>
      </div>
      <div>
        <button ng-if="isOwnerOrAdmin === true" class="btn-rack-right button icon icon-view-group brand-base-text-color tring-color" ng-click="setPrivateMessageToModerator()">
        </button>
      </div>
    </div>
  </div>
    <ion-content class="has-header has-footer" delegate-handle="chatMessagesScreen" style="background-color: #f5f5f5;">
        <div class="chat-window">
            <ion-refresher class="load-more" immediate-check="false" ng-if="!noMoreOldMessagesAvailable" pulling-text="Load earlier Messages..." on-refresh="loadOldMessages()">
            </ion-refresher>
            <div ng-repeat="message in messages | orderBy:'_id':false track by message._id" ng-class="getClasses(message)">
                <!--ng-click="handleMessageClick(message);"-->
                <div class="chat-label ion-round chat-group-ui" ng-click="handleHandleNameClick($event, message);">
                    <i ng-if="message.status == 0" class="status-icon ion-android-time"></i>
                    <i ng-if="message.status == 1" class="status-icon ion-checkmark-round"></i>
                    <i ng-if="message.status == 2" class="status-icon ion-checkmark-round text-green"></i>
                    <span ng-if="chat.sendertype != 2 && message.dir != 0">You -</span>
                    <span ng-if="chat.sendertype == 2 && message.dir == 0 && message.handleName" style="font-size: 14px;font-weight: bolder">{{message.handleName}} says </span>
                    <span class="text-shift-right"><span>{{message.ts | amCalendar}}</span></span>
                </div>
                <div class="message-holder" ng-click="handleHandleNameClick($event, message)">
                    <!--ng-click="shouldNotFocusOnBlur()"-->
                    <span class="icon-holder" ng-if="Tring.isContentMessage(message)" ng-click="handleHandleNameClick($event, message);$event.stopPropagation();">
                        <button class="button button-clear"><i ng-class="'icon icon-right ' + getIcon(message)"></i></button>
                        <img ng-click="handleMessageClick(message);$event.stopPropagation()" ng-if="message.thumbnailData" src="{{message.thumbnailData}}" style="width:192px;"/>
                    </span>
                    <span class="icon-holder" ng-if="needsPlayButton(message)" ng-click="handleMessageClick(message);$event.stopPropagation();">
                        <button class="button button-outline large_button"><i ng-class="'icon icon-right ' + getOpenerIcon(message)"></i></button>
                    </span>
                    <span ng-if="Tring.isGroupInviteMessage(message) || Tring.isGroupMembershipRequestMessage(message)" ng-click="handleMessageClick(message);$event.stopPropagation()">
                        <i class="button icon icon-right ion-card"></i>
                    </span>
                    <span><pre><div ng-bind-html="message.data | linky | hrefToJS"></div></pre></span>
                    <div class="chat-label" ng-if="Tring.isContentMessage(message)  && (message.uploadInProgress || message.downloadInProgress)">
                        <div class="text-shift-left">
                            <span>{{contentMessages.fileTransferProgress[message.dir===0?(message.contentId+ (message.contentName ? ('.'+ message.contentName.split('.').pop()):'')):message.contentName]}}</span>
                            <ion-spinner icon="bubbles"></ion-spinner>
                            <button class="button-clear" ng-if="message.uploadInProgress" ng-click="cancelUpload(message.contentName, message._id, $event)">Cancel</button>
                            <button class="button-clear" ng-if="message.downloadInProgress" ng-click="cancelDownload(message._id, $event)">Cancel</button>
                        </div>
                        <!--                            <div class="text-shift-left" ng-if="message.uploadAborted">
                                    <button class="button-clear" ng-click="">Retry</button>
                            </div>-->
                    </div>
                </div>
            </div>
            <span ng-controller="DownloadController"></span>
            <span ng-controller="GroupInviteController"></span>
            <span ng-controller="GroupMembershipRequestController"></span>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="chat-footer-bar">
        <div class="row" tring-message-input>
            <div class="col col-10 button-add-wapper" style="margin-left:-1px;" ng-class="{on:captureToggle}" ng-controller="CaptureController">
              <div id="multiMediaBtns"  class="sub-buttons animated fadeIn" style="position: absolute;top: -30px;left: 11px;  border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-left: 0px;
    padding-right: 10px;margin-top:-5px;background: rgba(0, 0, 0, 0.75);">
                <button class="button" ng-click="capturePicture();" style="border:none;"><i class="icon icon-camera" style="margin:10px;"></i></button>
                <button class="button" ng-click="captureAudio();" style="border:none;"><i class="icon icon-mic" style="margin:10px;"></i></button>
                <button class="button" ng-click="captureVideo();" style="border:none;"><i class="icon icon-video-camera" style="margin:10px;"></i></button>
                <!--                        <button class="button button-clear brand-base-text-color" ui-sref="app.chat-ui.fileBrowse"><i class="icon ion-ios-upload-outline"></i></button>-->
                <button class="button" ng-click="chooseAndUploadFile();" style="border:none;"><i class="icon ion-ios-upload-outline" style="margin:10px;"></i></button>
                <!--<button class="button"><i class="icon icon-smily-happy"></i></button>-->
              </div>
              <button class="button" ng-click="toggle()"><i class="icon ion-android-add"></i></button>
            </div>

            <div class="col col-75 box-relative" style="padding-top:2px;">
                <!--
                <textarea cols="75" detect-focus on-focus="scrollContentToBottom()" on-blur="scrollContentToBottom()" focus-on-blur="focusManager.focusInputOnBlur" ng-keyup="sendTypingStatus($event)" class="chat-text-input" placeholder="Type your message" ng-model="inputMessage" ng-trim="false" ng-model-options="{ updateOn: 'default blur',debounce: { 'default': 1500, 'blur': 0  } }">
                </textarea>

ng-focus="$ionicScrollDelegate.scrollBottom(true)" ng-blur="$ionicScrollDelegate.scrollBottom(true);"
-->
                <a class="prvt-chat-close" ng-if="showCloseIcon" ng-click="exitPrivateMode()">
                    <i class="icon ion-close"></i>
                </a>
                <textarea name="" msd-elastic set-placeholder ng-keyup="sendTypingStatus($event);" class="chat-text-input" style="{{showBorder}}" placeholder="Type your message" ng-model="inputMessage" ng-trim="false"></textarea>
                <!--<input type="text" set-placeholder ng-keyup="sendTypingStatus($event)" ng-keypress="($event.which === 13)?sendMessage():0" class="chat-text-input" style="{{showBorder}}" placeholder="Type your message" ng-model="inputMessage" ng-trim="false">-->
                <!--                <input type="text" ng-keypress="($event.which === 13)?sendMessage():0" class="chat-text-input" placeholder="Type your message" ng-model="inputMessage" ng-model-options="modelOptions">-->
            </div>
            <div class="col col-10 button-add-wapper">
                <button class="button chat-sent-button"  tring-message-sender send-message="sendMessage()"><i class="icon ion-paper-airplane"></i></button>

            </div>
        </div>
    </ion-footer-bar>

</ion-view>
