<!-- Chat Screen - Refer to _chat.scss -->
<ion-view view-title="Contacts" hide-nav-bar="true" class="rubyonic-pane chat-screen" ng-controller="ContactsController">
    <!-- Custom Header:
  We did this so we could have a custom bar without 
  altering ionic's state/history management.
  Use with 'hide-nav-bar="true"' attribute at line 1: -->
    <div class="bar bar-passel-header">
        <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left"></button>
        <h1 class="title brand-base-text-color">Tring <span>Contacts</span></h1>
        <div class="btn-rack-right">
            <button class="button ruby-button-clear icon icon-home brand-base-text-color" ui-sref="app.chats">
            </button>
            <button class="button ruby-button-clear icon icon-search brand-base-text-color"  ui-sref="app.discover">
            </button>
        </div>
    </div>
    <!-- End Custom navbar -->

    <ion-content class="has-header">
        <select-with-auto-suggest initialize-elements="initializeContacts()" refresh-elements="refreshContacts()"  get-elements-paged="getContactsPaged(first, last, elements)" select-handler="goToMessage(element)" keep-suggestions additional-element-markup="&lt;span  class=&quot;list-action&quot; &gt; &lt;span ng-click=&quot;additionalElementClickHandler({element:element})&quot; ng-if=&quot;!element.registered &quot; &gt; &lt;button class=&quot;button ruby-button-clear icon icon-message-check brand-base-text-color&quot;  &gt;&lt;/button&gt; &lt;/span&gt; &lt;button ng-if=&quot;element.registered &quot; class=&quot;button ruby-button-clear icon icon-passel brand-base-text-color&quot; &gt;  &lt;/button&gt; &lt;/span&gt;" additional-element-click-handler="sendInvite(element)" >
        </select-with-auto-suggest>
        <span ng-controller="DownloadController"></span>
    </ion-content>
</ion-view>
