<ion-view view-title="Browse File" hide-nav-bar="true" class="rubyonic-pane form-screen ">
    <!-- Custom Header:
  We did this so we could have a custom bar without 
  altering ionic's state/history management.
  Use with 'hide-nav-bar="true"' attribute at line 1: -->

    <div class="bar bar-ruby-header bar-transparent">
        <!--
    <button class="button ruby-button-clear icon  brand-base-text-color" ng-controller="NavigationCtrl" ng-click="goBackAStep()" >
      &lt;Back 
    </button> -->
        <button class="button button-clear brand-base-text-color" ng-controller="NavigationCtrl" ng-click="goBackAStep()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title brand-base-text-color">Browse File</h1>
        <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right">
        </button>
    </div>
    <ion-content ng-controller="FileBrowseController" class="has-header rubyonic-pane menu-screen">
        <div class="list">
            <ion-refresher class="load-more" immediate-check="false" ng-if="!noMorePreviousFilesAvailable" pulling-text="Load previous files..." on-refresh="loadPreviousFiles()"></ion-refresher>

            <div ng-repeat="file in files">
                <a class="item item-icon-left" href="#" ng-click="getContents(file.nativeURL)" ng-show="file.isDirectory">
                    <i class="icon ion-folder"></i>{{file.name}}
                </a>
                <a class="item item-icon-left" href="#" ng-click="uploadFile(file.nativeURL)" ng-show="file.isFile">
                    <span class="row">
                        <img class="col col-20" style="width:50px; " ng-src="{{thumbnails[file.name]}}" ng-if="thumbnails[file.name]" />
                        <i ng-if="!thumbnails[file.name]" class=" col col-offset-5 icon ion-document"></i>
                        <span class="col col-10"></span>
                    <span class="col col-offset-30">{{file.name}}</span>
                    </span>
                </a>
            </div>
            <ion-infinite-scroll on-infinite="addFilesPaged(false)" ng-if="!noMoreFilesAvailable" immediate-check="false" distance="1%"></ion-infinite-scroll>

        </div>
    </ion-content>
</ion-view>