<!--
<ion-scroll>
    <div>
        <label class="row">Ratings and Reviews:</label>
        <rating class="row" readonly="true" ng-model="groupInput.groupInfo.meanRating" max="5"></rating>
        <span class="row">
            <label>Number of ratings:</label>{{groupInput.groupInfo.ratingCount}}
        </span>
        <span class="row">
            <label>Average Rating:</label>{{groupInput.groupInfo.meanRating}}
        </span>
        <ion-list>
            <div collection-repeat="hName in Object.keys(groupInput.groupInfo.ratingsAndReviews) track by $index" class="item">
                <label class="row">
                    <label>{{hName}}</label>
                    <rating class="row" readonly="true" ng-model="groupInput.groupInfo.ratingsAndReviews[hName].rating" max="5"></rating>
                </label>
                <label class="row">{{groupInput.groupInfo.ratingsAndReviews[hName].review}}</label>
            </div>
        </ion-list>
    </div>
    <div>
        <div>
            <label>Rate Group:</label>
            <rating class="row" ng-model="groupInput.rating" max="5"></rating>
        </div>
        <div>
            <label>Review Group:</label>
            <textarea class="col col-offset-10" style="height:130px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; color: black;" placeholder="Write Review - max 200 characters" ng-model="groupInput.review" maxlength="200"></textarea>
        </div>
        <button class="button button-energized" style="width: 70%;" ng-click="pushRatingAndReview()">Submit</button>
    </div>
    <div class="list">
        <label>Location:</label>
        <label class="item item-input item-select">
            <div class="input-label">
                Country
            </div>
            <label>{{groupInput.groupInfo.country}}</label>
        </label>
        <label class="item item-input item-select" ng-if="groupInput.groupInfo.country">
            <div class="input-label">
                State
            </div>
            <label>{{groupInput.groupInfo.state}}</label>
        </label>
        <label class="item item-input" ng-if="groupInput.groupInfo.country">
            <div class="input-label">
                Place
            </div>
            <span class="item item-input">
                <input readonly type="text" ng-model="groupInput.groupInfo.city" placeholder="City/Place/Village">
            </span>
        </label>
    </div>
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Type
            </div>
            <label>{{groupInput.groupInfo.closed ?'Closed':'Open'}}</label>
        </label>
    </div>

    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Type
            </div>
            <label>{{groupInput.groupInfo.o2m?'Owner To Member':'Member To Member'}}</label>
        </label>
    </div>

       <div class="list" ng-hide="true">
        <label class="item item-input item-select">
            <div class="input-label">
                Subgroups visible to Owner
            </div>
            <select ng-model="groupInput.groupInfo.subgroupsVisibleToOwner" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]">
            </select>
        </label>
    </div>
    <div class="list" ng-controller="ProfileController">
        <label>Group Profile Picture:</label>
        <div class="row responsive-sm">
            <div class="col col-10">
                <span>
                        <img class="profile-thumb" ng-src="{{groupInput.groupInfo.thumbnailData}}" alt="Profile Picture">
                </span>
            </div>
        </div>
    </div>
    <form name="myForm">

        <div class="list list-inset">
            <label>Group Name:</label>
            <span class="item item-input ruby-search-box">
                <label >
                    <input  readonly name="myGroupName" ng-pattern="/^[0-9a-zA-Z_\.]+$/"  type="text" style="width:180px;" placeholder="Group Name"
                           ng-model="groupInput.groupInfo.name" required maxlength="15" ng-change="resetCheckAvailability()">
                </label>
            </span>

            <label>My Handle:</label>
            <label class="item item-input">
                <input readonly name="myHandle" ng-pattern="/^[0-9a-zA-Z_\.]+$/" type="text" placeholder="Owner Handle" ng-model="groupInput.groupInfo.handleName" ng-maxlength="15" ng-required="true">
            </label>
        </div>
    </form>

    <div class="list">
        <label>Categories:</label>
        <span class="item" ng-show="groupInput.groupInfo.categories.length">
               <span class="list" ng-repeat="tag in groupInput.groupInfo.categories">
                   <span class="item item-input">
                       <label style="width:280px;">{{tag}}</label>
                   </span>
        </span>
        </span>

        <label>Description:</label>
        <label class="item item-input">
            <input readonly type="text" ng-model="groupInput.groupInfo.description" placeholder="Description">
        </label>
        <label>Rules:</label>
        <label class="row item item-input">
            <textarea readonly class="col col-offset-10" style="height:130px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; color: black;" placeholder="Rules" ng-model="groupInput.groupInfo.rules"></textarea>
        </label>
    </div>


</ion-scroll>-->
<ion-view view-title="Group Details" hide-nav-bar="true" class="rubyonic-pane chat-screen">
  <!-- Custom Header:
  We did this so we could have a custom bar without
  altering ionic's state/history management.
  Use with 'hide-nav-bar="true"' attribute at line 1: -->
    <div class="bar bar-passel-header">
<!--
        <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
            <span class="new-notification-bubble"></span>
        </button>
-->
        <button class="button button-back button-clear brand-base-text-color" ng-click="goBackAStep()">
                <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title brand-base-text-color">Group  <span>Details</span></h1>
        <div class="btn-rack-right">
            <button class="button ruby-button-clear icon icon-home brand-base-text-color" ui-sref="app.chats">
            </button>
            <button class="button ruby-button-clear icon icon-search brand-base-text-color"  ui-sref="app.discover">
            </button>
        </div>
    </div>
    <ion-content style="background-color: #ffffff;">
        <div class="slide-animate" ng-include="'templates/rubyonic/manageNetwork/parentGroupDetails.html'"></div>
    </ion-content>
</ion-view>
