
<!--<ion-tabs class="tabs-icon-top tabs-positive">-->
  <!--<ion-tab title="Tab1" icon="icon-v-card" ui-sref="app.groups.memberships">-->
  <!--</ion-tab>-->
  <!--<ion-tab title="Tab2" icon="icon-create-group" ui-sref="app.groups.createNew">-->
<!--</ion-tabs>-->
<!--<ion-content class="has-header rubyonic-pane scroll-content">-->
  <!--<div ui-view="tab-content-view"></div>-->
<!--</ion-content>-->
<ion-view view-title="List Groups">
  <ion-content>
    <a href="#">Manageee Group</a>
  </ion-content>
</ion-view>
