<ion-view view-title="Group Join" hide-nav-bar="true" hide-tabs>

  <!--<div align-title="center" class="groups-nav-bar bar bar-header bar-stable " ng-controller="NavigationCtrl">-->
    <!--<button class="button button-back button-clear brand-base-text-color " ng-click="goBackAStep()">-->
      <!--<i class="icon ion-ios-arrow-back"></i>-->
    <!--</button>-->
    <!--&lt;!&ndash;<div class="h1 bold title">{{group.name}}</div>&ndash;&gt;-->
    <!--<div class="h4 title" style="margin-top: 0px;-->
    <!--float: left;-->
    <!--margin-left:2px;color:#323232-->
    <!--">{{group.name}}-->
    <!--</div>-->
  <!--</div>-->

  <div align-title="center" class="bar bar-header bar-stable" ng-controller="NavigationCtrl">
    <div class="row">
      <div style="position:absolute;left:5px;bottom: 5px">
        <button class=" button button-back button-clear tring-color" ng-click="goBackAStep()" style="margin-bottom: -10px">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </div>
      <div class="h4 col " style="text-align:center;">
        <span style="line-height:2.0;vertical-align:middle;">{{group.name}}</span>
      </div>
    </div>
  </div>

  <ion-content scroll="true" class="has-header " >

    <ion-list class="text-center item-borderless " style=" background-color:white;">
      <ion-item class="groups-image-panorama " style="margin:0;padding:3px;background-color:white">
        <div
          style="width:100%;border-width:0">

          <img ng-if="group.thumbnailData" border="0" class="" style="margin: 0"
               ng-src="{{group.thumbnailData}}" width="100%">
          <!--<i ng-if="!group.thumbnailData" class="icon ion-ios-groups groups-thumb-big"></i>-->
          <img ng-if="!group.thumbnailData"  border="0"  class="" style="margin: 0"
               ng-src="img/group-profile-icon.png" height="150px" >
        </div>
      </ion-item>
    </ion-list>
    <div class="silver-grey-background" style="min-height:10%;position:relative">
      <span style="position: absolute;bottom: 3px;left:30px;font-size: large;font-weight: 100">Description</span>
    </div>

    <div class="text-wrap silver-grey-background" style="height:20%;position:relative;">
      <div  style="float:left;margin-left:30px;color:grey;font-size:medium;text-align: justify;max-width:90%">{{group.description}}</div>
    </div>
    <div class="silver-grey-background"  style="min-height:10%;position:relative">
      <span style="position: absolute;bottom: 3px;left:30px;font-size: large;font-weight: 100">Categories</span>
    </div>
    <div class="silver-grey-background"  style="height:12%;position:relative">
      <div  style="position: absolute; left:30px;font-size: medium; color:grey;text-align: justify;max-width:90%">
        <span class="text-wrap "
              ng-repeat="cat in group.categories.slice(0,group.categories.length-1)">
                                    {{cat}} ,
        </span>
        <span class="text-wrap " >
          {{group.categories[group.categories.length-1]}}
        </span>
      </div>
    </div>
    <div class="silver-grey-background"  style="height:7%;position:relative">
    </div>
    <div style="box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc">
    </div>
    <!--<div class="text-center container-with-centered-content" style="margin:0px;background-color: white;height:22%;color:red; font-size:x-large;" ng-click="requestMembership(group)">-->
      <!--<button class="button button-outline button-assertive "><pre>      Join             </pre></button>-->
    <!--</div>-->
    <div style="margin-top: 20px;" class="container-with-centered-content row">
      <button style="margin:auto;width: 120px;height: 30px;border-radius: 15px;" class="button button-outline button-balanced col col-33" ng-click="tryJoinGroup(group)">
        Join
      </button>
    </div>
    <div  style="height:15%;position:relative;color:white">
    </div>
  </ion-content>
</ion-view>

