
<ion-view view-title="List Groups" ng-controller="UserCtrl">
  <ion-content>
    <button class="button button-clear brand-base-text-color" ng-click="goToLists()"><i class="icon ion-ios-upload-outline"></i></button>
  </ion-content>
</ion-view>

