<ion-view view-title="Groups">
  <div align-title="center" class="bar bar-header bar-stable">
    <div class="row">
      <div class="col col-33">
        <button class=" button  button-clear tring-color" ui-sref="app.groups.createNew({isCreateNew:   true})">
          New Group
        </button>
      </div>
      <div class="h4 col col-33" style="text-align:left;">
        <span style="line-height:2.0;vertical-align:middle;">Groups</span>
      </div>
      <div class="col col-33">
        <button class=" button  button-clear tring-color" ui-sref="app.groups.memberships">
          My Groups
        </button>
      </div>
    </div>
  </div>
  <ion-pane class="has-footer has-header" ng-controller="GroupInviteController" style="background-color: #FCFCFC ">

    <!--        <div class="serach-discover-cat">-->
    <div style="background-color:  #FCFCFC; opacity:0.8;border-bottom: 3px solid #e8e8e8 ">
      <div style="height:10px;"></div>
      <div class="searchBoxView item-input-inset" style=" margin-top:10px;margin-bottom:0;margin-left:5px; ">
        <!--                    <input type="text" name="searchGroup" ng-model="keyword" id="searchGroupId" ng-model-options="{debounce:  1000}" ng-change="keyword && search(keyword);" autofocus class="search-input" />-->
        <!--                <button class="button icon icon-search discoverSearch" ng-click="search(keyword)"></button>-->

        <label class="item-input-wrapper" style="background-color:  #e8e8e8; border-radius:20px;">
          <i class="icon ion-ios-search placeholder-icon" style="margin-left:15px"></i>
          <input type="text" id="searchGroupId" placeholder="Search" name="searchGroup" ng-model="keyword"
                 ng-model-options="{debounce:  1000}" ng-change="keyword ? search(keyword):showFeaturedGroups()">
        </label>
      </div>
    </div>

    <ion-scroll direction="y" scrollbar-y="true" id="finalResult" style="margin-bottom:50px;width:100%;background-color:  #FCFCFC;">
      <!--<div style="height:50px"></div>-->
      <div class="text-center">
        <label ng-if="keyword && noNetworksFound">No Tring groups found.</label>
        <label ng-if="keyword && getNetworkConnectionError()">Not connected to network.</label>
      </div>

      <!--<div><div style="display:inline">abcdefg</div><span >hijk</span><div style="display:inline">lmn</div></div>-->
      <!--<ion-list type="list-inset" class="text-center" ng-repeat="group in groups track by $index"-->
      <!--style="width:50%;float:left;padding:0;background-color:  #F5F5F5">-->
      <span style="width:100%;padding:0px;background-color:#FCFCFC;">
      <div ng-click="goToRequestMembership(group)" ng-repeat="group in groups track by $index"
           style="vertical-align: top;margin-left:3%; margin-bottom: 5px;margin-top:5px;width:165px;height:280px;padding:0;background-color:  #F5F5F5;display:inline-block"
           class="text-center">
        <div class=""
             style="position:initial;top:0;left:0; height:62% ;margin-bottom: 0px;margin-top:0;margin-left:0;margin-right:0;">

          <img ng-if="group.thumbnailData" border="0" class="group-photo" style="margin: 0"
               ng-src="{{group.thumbnailData}}">
          <i ng-if="!group.thumbnailData" class="icon ion-ios-groups"
             style="margin: 0; font-size: 150px;color: lightgrey"></i>


        </div>
        <div class="container-with-centered-content text-group-desc "
              style="display: inline-block; width:90% ; height:35px;margin-top: -20px;opacity:0.90;background-color: white;border-style:solid; border-width:1px;"
              ;>
          <span style="height:40px;line-height:2.5;vertical-align:middle;" class="text-group-desc">{{group.groupName|uppercase}}</span>
          <!--<span>({{group.count ? group.count: group.membercount}})</span> -->
        </div>

        <!--<div style="height: 20px"></div>-->

        <div class="text-left text-group-desc" style="margin-left:5px">
          <span  style="font-size: 100%; font-weight: 900;color:grey">{{group.description}}</span>
        </div>
        <span style="color:grey">

        <div class="text-left text-group-desc" style="margin-left:5px"><strong>Categories:</strong>
          <span>
            <span  style="font-size: 80%; font-weight: 100"
                  ng-repeat="cat in group.categories.slice(0,group.categories.length-1)">
                                    {{cat}} ,
            </span>
            <span  style="font-size: 80%; font-weight: 100">
              {{group.categories[group.categories.length-1]}}
            </span>
          </span>
        </div>
        <div class="text-left text-group-desc" style="margin-left:5px">
          <strong>Location:</strong>
        <span>
          <span ng-if="group.city">{{group.city}},</span><span  ng-if="group.state">{{group.state}},</span><span
          ng-if="group.country">{{group.country}}</span>
        </span>
        </div>
        </span>
        <!--<div class="groups-item-action">-->
        <!--<button class="button button-energized" style="width: 45%;" ng-click="goToRequestMembership(group)">Join-->
        <!--</button>-->
        <!--</div>-->
      </div>
        <!--</ion-list>-->
    </span>
      <div style="height: 20px"></div>

      <ion-infinite-scroll on-infinite="keyword && searchRest(keyword)" ng-if=" !browseFeatured && !allGroupsLoaded"
                           immediate-check="false">infinitescroll
      </ion-infinite-scroll>
      <div style="height:200px"></div>

    </ion-scroll>
  </ion-pane>
  <!--        </div>-->
  <!--
  <ion-footer-bar>
      <div class="row  row-no-padding footer-bar-item">
          <span class="col col-33 padding" ui-sref="app.groups"><button class="button-block button">Groups</button>
      </span>
          <span class="col col-33 padding" ui-sref="app.chats"><button class=" button-block button">Chats</button></span>
          <span class="col col-33 padding" ui-sref="app.profile({readOnly:false, contact: null})"><button class=" button-block button">Settings</button></span>
      </div>
  </ion-footer-bar>
-->
</ion-view>
