<ion-view view-title="Contacts" hide-nav-bar="true" class="rubyonic-pane chat-screen">
  <!-- Custom Header:
  We did this so we could have a custom bar without
  altering ionic's state/history management.
  Use with 'hide-nav-bar="true"' attribute at line 1: -->
    <div class="bar bar-passel-header">
        <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
            <!--<span class="new-notification-bubble"></span>-->
        </button>
        <h1 class="title brand-base-text-color">Tring <span>Groups</span></h1>
        <div class="btn-rack-right">
            <button class="button ruby-button-clear icon icon-home brand-base-text-color" ui-sref="app.chats">
            </button>
<!--
            <button class="button ruby-button-clear icon icon-search brand-base-text-color">
            </button>
-->
        </div>
    </div>
    <ion-content style="background-color: #ffffff;">
        <div class="slide-animate" ng-include="'templates/rubyonic/groupDiscover.html'"></div>
    </ion-content>
</ion-view>
