<!-- Feed Screen - Refer to form.scss -->

<ion-view view-title="Create New Group" hide-tabs>
  <div align-title="center" class="bar bar-header bar-stable" ng-controller="NavigationCtrl">
    <div class="row">
      <div style="position:absolute;left:5px;bottom: 5px">
        <button class=" button button-back button-clear tring-color" ng-click="goBackAStep()" style="margin-bottom: -10px">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </div>
      <div class="h4 col " style="text-align:center;">
        <span style="line-height:2.0;vertical-align:middle;">Create Group</span>
      </div>
    </div>
  </div>
  <ion-content class="has-header " view-title="{{title}}" style="background-color: white">

    <div class="silver-grey-background" style="box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8;height:3%;position:relative">
    </div>

    <div class="container-with-centered-content " ng-controller="ProfileController"
         ng-click="setGroupProfilePictureInPlace()"
         style=" height:150px; width:100%;margin:0;">


      <img ng-if="groupInput.groupInfo.thumbnailData && groupInput.groupInfo.thumbnailData!=='//:0'" border="0"
           class="groups-thumb-big" style="margin: 0"
           ng-src="{{groupInput.groupInfo.thumbnailData}}">

      <img ng-if="!groupInput.groupInfo.thumbnailData || groupInput.groupInfo.thumbnailData==='//:0'" border="0"
           class="groups-thumb-big" style="margin: 0"
           src="img/group-profile-create.png">

    </div>

    <div class="silver-grey-background" style="display:block;height:5%;position:relative; box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
    </div>
    <div class="list createForm" style="margin-left:30px">
      <form name="myNetwork">
        <div class="row " >
          <div class="col col-90 cus-input">
            <div class="help-box" ng-click="popup3 = !popup3">?
              <span ng-show="popup3" class="popup-msg">
                                    Group name should be unique string not more than 20 characters in length.
                                    Only alphanumeric, "." and "_" are allowed.
                                </span>
            </div>
            <label>
              <input name="myGroupName" ng-pattern="/^[0-9a-zA-Z_\.]+$/" type="text" placeholder="Group name *"
                     ng-model="groupInput.groupInfo.name" required maxlength="20" ng-change="checkAvailability();">
            </label>
          </div>
          <div class="col col-offset-20 col-10">
                            <span ng-messages="myNetwork.myGroupName.$error" class="errorBox" role="alert">
                                <!--<div class="row" ng-message="required">Error: Required field</div>-->
                                <div class="row" ng-message="pattern">
                                    <i class="icon ion-help-circled" ng-click="errorCha=!errorCha"></i>

                                    <div class="inputError"
                                         ng-show="errorCha">No special characters other than _ and .</div>
                                </div>
                                <div class="row" ng-message="maxlength">
                                    <i class="icon ion-help-circled"></i>
                                    <div class="inputError" ng-show="true">Error: Max length is 20</div>
                                </div>
                            </span>
            <span style="margin-top: 13px; font-size: 18px; display: inline-block;" ng-show="groupInput.groupInfo.name">
                            <!--a ng-click="checkAvailability();"
                               ng-style="(groupInput.nameAvailable === null) ? {'color': 'gray'}:(groupInput.nameAvailable?{'color': 'green'}:{'color': 'red'})">
                                Check Availability
                            </a-->
                                <i class="icon ion-ios-checkmark text-green" ng-show="groupInput.nameAvailable"></i>
                                <i class="icon ion-close-circled text-red" ng-hide="groupInput.nameAvailable"></i>
                           </span>
          </div>
        </div>
      </form>
      <form name="myCat">
        <div class="row">
          <div class="col col-95 cus-input" style="max-width:90%;">
            <label >
            <input name="myHandle" ng-pattern="/^[0-9a-zA-Z_\.]+$/" type="text" placeholder="User name *"
                   ng-model="groupInput.ownerHandle" ng-maxlength="15" ng-required="true">
            </label>
            <div class="add_error_box">
              <div ng-messages="myCat.myHandle.$error" class="errorBox" role="alert">
                <div class="row" ng-message="pattern">
                  <i class="icon ion-help-circled" ng-click="errormyHandle=!errormyHandle"></i>

                  <div class="inputError left" ng-show="errormyHandle">No special characters other than _ and .
                  </div>
                </div>
                <div class="row" ng-message="maxlength">
                  <i class="icon ion-help-circled"></i>

                  <div class="inputError left">
                    Max length is 15
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
      <div class="row">
        <div class="col col-95 cus-input" style="max-width:90%;">
          <tags-input add-on-comma on-tag-added="onTagAddedHandler($tag)" on-tag-adding="onTagAddingHandler($tag)"
                      placeholder="Categories At least 1, at most 3 comma separated *"
                      ng-model="groupInput.groupInfo.categories" min-tags="1" max-tags="3" min-length="3"
                      max-length="512" replace-spaces-with-dashes="false" enable-editing-last-tag="true" ></tags-input>


        </div>
      </div>
      <div class="row">
        <div class="col col-95 cus-input " style="max-width:90%;">
          <textarea placeholder="Description (Max 100 characters)" ng-model="groupInput.groupInfo.description"
                    maxlength="100"></textarea>
        </div>
      </div>

      <div class="row" >
        <div class="col col-95 cus-input" style="max-width:90%;">
          <select ng-model="groupInput.groupInfo.country" ng-options="cntry.v as cntry.n for cntry in countries"
                  ng-change="groupInput.groupInfo.state='Select a state';groupInput.groupInfo.city=''" style="color:darkgrey">
          </select>
        </div>
      </div>
      <div class="row" >
       <div class="col col-95" style="max-width:90%;" ng-if="groupInput.groupInfo.country && groupInput.groupInfo.country !== '0'">
        <select ng-model="groupInput.groupInfo.state" ng-change="groupInput.groupInfo.city=''" style="color:grey;background-color: #f5f5f5;border:0">
          <option selected >Select a state</option>
          <option ng-repeat="state in getStates(groupInput.groupInfo.country)">{{state}}</option>
        </select>
       </div>
      </div>
      <div class="row" ng-if="groupInput.groupInfo.country  && groupInput.groupInfo.country !== '0'" style="max-width:90%;">
        <div class="col col-95 cus-input">
          <input class="left-placeholder" type="text" ng-model="groupInput.groupInfo.city" placeholder="City/Place/Village">
        </div>
      </div>
    </div>
    <div class="silver-grey-background" style="box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8;display:block;height:9%;position:relative">
    </div>

    <div style="margin-top: 20px;" class="container-with-centered-content row">
      <button style="margin:auto;width: 120px;height: 30px;border-radius: 15px;" class="button  button-outline button-balanced col col-33" ng-click="createNewGroup()">
        Create
      </button>
    </div>
    <div  style="display:block;height:15%;position:relative">
    </div>

  </ion-content>

</ion-view>
