<ion-view hide-nav-bar="true" class="rubyonic-pane">
    <!-- Custom Header:
  We did this so we could have a custom bar without
  altering ionic's state/history management.
  Use with 'hide-nav-bar="true"' attribute at line 1: -->
    <ion-header-bar align-title="left" class="bar-chat" ng-controller="NavigationCtrl">
        <div class="bar bar-passel-header">
            <button class="button button-back button-clear brand-base-text-color" ng-click="goBackAStep()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
            <h1 class="title brand-base-text-color">Tring <span>Groups</span></h1>
            <!--
            <div class="btn-rack-right">
                    <button class="button ruby-button-clear icon icon-home brand-base-text-color">
                    </button>
                    <button class="button ruby-button-clear icon icon-search brand-base-text-color">
                    </button>
            </div>
-->
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="slide-animate-container" ng-controller="UserReputationReportController">
            <div class="slide-animate" ng-include="'templates/rubyonic/userReputationReport.html'"></div>
        </div>
        <div class="row review-textarea" ng-if="data.groupMembershipNeedsApproval">
            <div class="col">
                <button class="button button-energized button-block" ng-click="processAcceptReject(true)">Accept</button>
            </div>
        </div>
        <div class="row review-textarea">
            <div class="col">
                <button class="button button-assertive button-block" ng-click="processAcceptReject(false)">Reject</button>
            </div>
        </div>
        <div class="row review-textarea">
            <div class="col">
                <button class="button button-assertive button-block" ng-click="goBack()">Cancel</button>
            </div>
        </div>
    </ion-content>
</ion-view>