<ion-view hide-tabs view-title="Group Member Admin" hide-nav-bar="true" hide-tabs>

  <div align-title="center" class="bar bar-header bar-stable" ng-controller="NavigationCtrl">
    <div class="row">
      <div style="position:absolute;left:5px;bottom: 5px">
        <button class=" button button-back button-clear tring-color" ng-click="goBackAStep()" style="margin-bottom: -10px">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </div>
      <div class="h4 col " style="text-align:center;">
        <span style="line-height:2.0;vertical-align:middle;">{{group.name}}</span>
      </div>
    </div>
  </div>
  <ion-content scroll="true" class="has-header " style="background-color: #FCFCFC">
    <div class="silver-grey-background" style="height:5%;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
    </div>
    <ion-list class="text-center  container-with-centered-content" style=" background-color:white;display:flex ">
      <ion-item class="item-borderless" style="margin:0;padding:3px;background-color: white;">
        <div class="groups-image-panorama"
          style="position:initial;top:0;left:0;margin-bottom: 13px;margin-top:0;margin-left:0;margin-right:0;width:100%;border-width:0">

          <img ng-if="group.thumbnailData" border="0" style="margin: 0;"
               ng-src="{{group.thumbnailData}}" width="100%">
          <!--<i ng-if="!group.thumbnailData" class="icon ion-ios-groups groups-thumb-big"></i>-->
          <img ng-if="!group.thumbnailData" border="0" style="margin: 0;"
               src="img/group-profile-icon.png" height="200px">
        </div>
      </ion-item>
    </ion-list>
    <div class="silver-grey-background" style="min-height:10%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
      <span style="position: absolute;bottom: 7px;left:30px;font-size: large;font-weight: 100">Description</span>
    </div>
    <div  style="height:20%;background-color: white;margin-top:4px;position:relative">
      <div class="text-wrap "  style="position: absolute; left:30px;font-size: medium; color:grey;text-align: justify;max-width:90%">{{group.description}}</div>
    </div>

    <div class="silver-grey-background" style="min-height:10%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
      <span style="position: absolute;bottom: 7px;left:30px;font-size: large;font-weight: 100">Categories</span>
    </div>
    <div class="" style="background-color: white; height:12%;position:relative;margin-top:4px">
      <div style="position: absolute; left:30px;font-size: medium; color:grey;text-align: justify;max-width:90%" >
        <span class="text-wrap "
              ng-repeat="cat in group.categories.slice(0,group.categories.length-1)">
                                    {{cat}} ,
        </span>
        <span class="text-wrap " >
          {{group.categories[group.categories.length-1]}}
        </span>
      </div>
    </div>
    <div class="silver-grey-background" style="height:7%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
    </div>
    <div ng-controller="GroupController" class="text-center container-with-centered-content" style="background-color: white;height:20%;color:red; font-size:x-large;" ng-click="leave(group)">
     <button class="button  button-outline button-assertive " style="margin:auto;width: 120px;height: 30px;border-radius: 15px;">Exit Group</button>
    </div>
    <div class="silver-grey-background" style="height:20%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
    </div>
  </ion-content>
</ion-view>
