<div class="modalHeader">
    <lable>Congratulations,</lable>
    <br>
    <lable class="group-name">'{{inviteData.groupName}}'</lable>
    <br>
    <lable>Group is successfully created</lable>
    <br>
    <label class="text-center"><img src="img/popupTring.png"></label>
</div>
<div class="modalBody text-center">
    Go ahead and invite your friends
</div>