<div class="list createForm">
    <div class="modalHeader">
        <lable>You are Invited for</lable>
        <br>
        <lable class="group-name">'{{data.groupName}}'</lable>
    </div>
    <div class="row">
        <div class="col col-80 cus-input">
            <input name="handleName" limit-to="15" ng-pattern="/^[0-9a-zA-Z_\.]+$/" type="text" placeholder="My username *" ng-model="data.userHandle" ng-change="data.checkAvailability();" />
            <div class="add_error_box">
                <div ng-messages="handleName.$error" class="errorBox" role="alert">
                    <div class="row" ng-message="pattern">
                        <i class="icon ion-help-circled" ng-click="errormyHandle=!errormyHandle"></i>
                        <div class="inputError left" ng-show="errormyHandle">No special characters other than _ and .
                        </div>
                    </div>
                    <div class="row" ng-message="maxlength">
                        <i class="icon ion-help-circled"></i>
                        <div class="inputError left">
                            Max length is 15
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-15 checkAvaTxt">
            <span style="margin-top: 13px; display: inline-block;" ng-show="data.userHandle">
                <i class="icon ion-ios-checkmark text-green" ng-show="data.nameAvailable"></i>
                <i class="icon ion-close-circled text-red"  ng-hide="data.nameAvailable"></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col cus-input">
            <label>Description: </label>
            <div class="item-text-wrap">{{data.groupDescription}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Rules: </label>
            <div class="item-text-wrap">{{data.groupRules}}</div>
        </div>
    </div>
</div>
