<div ng-controller="NavigationCtrl">
    <div class="bar bar-passel-header">
        <button ng-if="burgerMenu === true" class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
            <!--<span class="new-notification-bubble"></span>-->
        </button>
        <button ng-if="backButton === true" class="button button-back button-clear brand-base-text-color" ng-click="goBackAStep()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title brand-base-text-color">Tring <span>Groups</span></h1>
        <div class="btn-rack-right">
            <button class="button ruby-button-clear icon icon-home brand-base-text-color" ui-sref="app.chats">
            </button>
            <button class="button ruby-button-clear icon icon-search brand-base-text-color" ui-sref="app.groups.discover">
            </button>
        </div>
    </div>
    <ion-pane class="has-header">
        <ion-tabs class="tabs-icon-top tabs-positive">
            <ion-tab title="Find Groups" icon="icon-search" ui-sref="app.groups.discover">
                <ion-nav-view name="tab-discover" class="tab-discover">
                    <ion-view></ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="New Group" icon="icon-create-group" ui-sref="app.groups.createNew({isCreateNew:   true})">
                <ion-nav-view name="tab-create" class="tab-create">
                    <ion-view></ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="My Groups" icon="icon-v-card" ui-sref="app.groups.memberships">
                <ion-nav-view name="tab-memberships" class="tab-memberships">
                    <ion-view></ion-view>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Admin" icon="icon-message" on-select="onManageGroupsSelected()">
                <ion-nav-view name="tab-manage" class="tab-manage">
                    <ion-view></ion-view>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</div>
