<ion-view view-title="Group Memberships" hide-nav-bar="true">
  <!-- Custom Header:
We did this so we could have a custom bar without
altering ionic's state/history management.
Use with 'hide-nav-bar="true"' attribute at line 1: -->

  <!--div class="bar bar-ruby-header bar-transparent">
      <button class="button button-clear brand-base-text-color" ng-controller="NavigationCtrl" ng-click="goBackAStep()">
          <i class="icon ion-ios-arrow-back"></i>
      </button>
      <h1 class="title brand-base-text-color">Group Memberships</h1>
      <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right"></button>
  </div>

  <ion-content class="has-header rubyonic-pane menu-screen">

      <ion-infinite-scroll on-infinite="addGroups()" ng-if="!allRowsLoaded" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view-->
  <!--<div align-title="center" class="groups-nav-bar bar bar-header bar-stable " ng-controller="NavigationCtrl">-->
  <!--<button class="button button-back button-clear tring-color " ng-click="goBackAStep()" >-->
  <!--<i class="icon ion-ios-arrow-back"></i>-->
  <!--</button>-->
  <!--<div class="h1 title">My Groups</div>-->
  <!--</div>-->
  <div align-title="center" class="bar bar-header bar-stable" ng-controller="NavigationCtrl">
    <div class="row">
      <div style="position:absolute;left:5px;bottom: 5px">
        <button class=" button button-back button-clear tring-color" ng-click="goBackAStep()" style="margin-bottom: -10px">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </div>
      <div class="h4 col " style="text-align:center;">
        <span style="line-height:2.0;vertical-align:middle;">My Groups</span>
      </div>
    </div>
  </div>
  <ion-content scroll="true" class="has-header ">
    <!--<div ui-view="ownedView" class="card" style=" height: 40%">-->
    <div class="silver-grey-background" style="min-height:40px;position:relative">
      <span class="silver-grey-background" style="position: absolute;left:20px;bottom: 7px;font-size: medium;font-weight: 100">OWNER / ADMIN</span>
    </div>
    <!--<ion-scroll zooming="false" direction="y">-->

    <div class="text-center">
      <label ng-if="noOwnedMemberShips">{{'You are not a member of any group.'}}</label>
      <label ng-if="requestTimedOut">{{'Not connected to network.'}}</label>
    </div>
    <ion-list style="background-color: #fcfcfc" ng-controller="ManageGroupCtrl">
      <ion-item type="text-wrap" style="min-height:80px;background-color: #fcfcfc" ng-repeat="group in ownedGroups track by $index"
                class="item-remove-animate item-avatar item-icon-right " style="background-color: white "
                ng-click="handleMemberships(group)" ng-class="{active: isGroupShown(group)}">
        <!--                        ui-sref="app.groups.seeGroupDetails({'readOnly': true, 'group': groups[$index]})" -->
        <!--<div class="groups-thumb icon ion-ios-people" ng-if="!group.thumbnailData">-->
        <!--</div>-->
        <div class="group-photo-members" ng-if="group.thumbnailData">
          <img class="group-photo-members" src="{{group.thumbnailData}}" style="height:70px;border:0">
        </div>
        <div class="group-photo-members" ng-if="!group.thumbnailData" style="background-color: lightgrey">
          <img class="group-photo-members" src="img/group-profile-icon.png"
               style="height:70px;border:0;background-color: lightgrey">
        </div>
        <!--<div ng-if="!group.thumbnailData" class="group-photo-members" style=" background-color: #F6F0F2;"><i   class="icon ion-ios-groups"-->
        <!--style="left:20%;font-size: 40px;color: lightsteelblue"></i></div>-->
        <!--                                <i ng-if="!isOwnerOrAdmin(group)" class="icon col" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>-->

        <div class="row group-info-members"><label style="resize:none; ">{{group.name}}</label></div>
        <div class="row group-info-members "><label style="overflow:hidden; text-overflow: ellipsis ">{{group.description}}</label>
        </div>
        <a><i class=" icon  ion-ios-plus-outline icon-accessory"
              style="right:10px;font-size: x-large;color: red"></i></a>
        <!--<button class="button button-clear" ></button>-->

      </ion-item>

    </ion-list>


    <div class="silver-grey-background"
         style="min-height:40px;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc">
      <span class="silver-grey-background" style="position: absolute;left:20px;bottom: 7px;font-size: medium;font-weight: 100">MEMBER</span>
    </div>
    <div class="text-center">
      <label ng-if="noJoinedMemberShips">{{'You are not a member of any group.'}}</label>
      <label ng-if="requestTimedOut">{{'Not connected to network.'}}</label>
    </div>
    <ion-list style="background-color: #fcfcfc">
      <!--<div ng-repeat="group in joinedGroups track by $index" class="manageDiv">-->
      <ion-item style="min-height:80px;background-color: #fcfcfc" ng-repeat="group in joinedGroups track by $index"
                type="text-wrap" class="item-remove-animate item-avatar  item-icon-right"
                ng-click="goTo('app.groups.memberadmin',{group: group})" ng-class="{active: isGroupShown(group)}">
        <!--                        ui-sref="app.groups.seeGroupDetails({'readOnly': true, 'group': groups[$index]})" -->


        <div class="group-photo-members" ng-if="group.thumbnailData">
          <img class="group-photo-members" src="{{group.thumbnailData}}" style="height:70px;border:0">
        </div>
        <div class="group-photo-members" ng-if="!group.thumbnailData" style="background-color: lightgrey">
          <img class="group-photo-members" src="img/group-profile-icon.png"
               style="height:70px;border:0;background-color: lightgrey">
        </div>
        <!--<div ng-if="!group.thumbnailData" class="group-photo-members" style=" background-color: #F6F0F2;"><i   class="icon ion-ios-groups"-->
        <!--style="left:20%;font-size: 40px;color: lightsteelblue"></i></div>-->
        <!--                                <i ng-if="!isOwnerOrAdmin(group)" class="icon col" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>-->

        <div class="row group-info-members"><label style="resize:none; ">{{group.name}}</label></div>
        <div class="row group-info-members "><label style="overflow:hidden; text-overflow: ellipsis ">{{group.description}}</label>
        </div>
        <a><i class=" icon  ion-ios-plus-outline icon-accessory"
              style="right:10px;font-size: x-large;color: red"></i></a>
        </div>
      </ion-item>
      <!--<ion-item class="manageDiv bottom-line" ng-show="isGroupShown(group)">-->

      <!--<div class="row">-->
      <!--<div class="col col-50">Handle: {{group.handleName}}</div>-->
      <!--</div>-->


      <!--<div class="row review-textarea">-->
      <!--<div class="col">-->
      <!--<button class="button button-assertive button-block" ng-click="leave(group)">Exit Group</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</ion-item>-->
      <!--</div>-->
    </ion-list>
    <!--        <ion-infinite-scroll on-infinite="addGroups(false)" ng-if="!allRowsLoaded" immediate-check="false"></ion-infinite-scroll>-->
    <!--</ion-scroll>-->
    <!--</div>-->
  </ion-content>
  <!--
  <ion-footer-bar>
      <div class="row  row-no-padding footer-bar-item">
          <span class="col col-33 padding" ui-sref="app.groups"><button class="button-block button">Groups</button>
      </span>
          <span class="col col-33 padding" ui-sref="app.chats"><button class=" button-block button">Chats</button></span>
          <span class="col col-33 padding" ui-sref="app.profile({readOnly:false, contact: null})"><button class=" button-block button">Settings</button></span>
      </div>
  </ion-footer-bar>
-->
</ion-view>
