<!--<div class="mod-head" ng-controller="ProfileController">-->
    <!--<div class="profile-thumb icon icon-user-img" ng-click="readOnly && openProfileImage() || !readOnly && setProfilePicture()">-->
        <!--<img ng-hide="true" ng-src="{{profile.profileUri}}" border="0">-->
    <!--</div>-->
    <!--Pareeta Jha-->
<!--</div>-->
<div ng-controller="ModerateHandleCtrl">
  <div class="mod-title">
    {{$scope.moderateHandleName}}
  </div>
  <div ng-if="adminContext === true" class="slide-animate-container" ng-controller="UserReputationReportController">
    <div class="slide-animate" ng-include="'templates/rubyonic/userReputationReport.html'"></div>
  </div>

  <div ng-if="moderationEnabled === true" class="mod-body">
    <div class="form">
      <div ng-if="adminContext === true" class="row">
        <div class="col">
          <input type="text" ng-model="evictionMessage" ng-trim="false"  placeholder="Eviction message"/>
          <span>Max 30</span>
          <button class="button button-energized button-block" ng-click="sendEvictionMessage()">Evict from group</button>
        </div>
      </div>
      <div  class="row">
        <div class="col">
          <input type="text" ng-model="warningMessage" ng-trim="false"  placeholder="Warning message"/>
          <span>Max 30</span>
          <button class="button button-energized button-block" ng-click="sendWarningMessage()">Issue warning</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" ng-model="userNote" ng-trim="false" placeholder="Update Notes"/>
          <span>Max 30</span>
          <button class="button button-energized button-block" ng-click="sendUserNote()">Update notes</button>
        </div>
      </div>
    </div>
      <div ng-if="moderationEnabled === true" class="item info-message" style="text-align: left;">
          Existing Notes:
          <ul>
              <li ng-repeat="note in notes track by $index">{{note.notes}}</li>
          </ul>
      </div>
  </div>
  <div ng-if="moderationEnabled === false" class="item info-message" style="text-align: left;">
    This handle is a owner or admin of the group or moderator of one of the subgroup. Hence cannot be moderated.

  </div>

</div>

