
    <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Chats" icon-on="ion-waterdrop" icon-off="ion-locked" ui-sref="tabs.chats">
        <ion-nav-view name="chats-tab"></ion-nav-view>
        </ion-tab>
    <ion-tab title="Contacts" icon-on="ion-waterdrop" icon-off="ion-locked" ui-sref="tabs.contacts">
        <ion-nav-view name="contacts-tab"></ion-nav-view>
        </ion-tab>
    <ion-tab title="Groups" icon-on="ion-waterdrop" icon-off="ion-locked" ui-sref="tabs.groups">
        <ion-nav-view name="groups-tab"></ion-nav-view>
        </ion-tab>
    <ion-tab title="Profile" icon-on="ion-waterdrop" icon-off="ion-locked" ui-sref="tabs.profile">
                <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>
    <ion-tab title="Settings" icon-on="ion-waterdrop" icon-off="ion-locked" ui-sref="tabs.settings">        <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
