<div  ng-controller="IntroController">
<div class="bar bar-passel-header" ng-controller="NavigationCtrl"  ng-if="!justStarting">
    <button ng-if="burgerMenu === true" class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
        <!--<span class="new-notification-bubble"></span>-->
    </button>
    <button ng-if="backButton === true" class="button button-back button-clear brand-base-text-color" ng-click="goBackAStep()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title brand-base-text-color">Tring <span>Introduction</span></h1>
    <div class="btn-rack-right">
        <button class="button ruby-button-clear icon icon-home brand-base-text-color" ui-sref="app.chats">
        </button>
        <button class="button ruby-button-clear icon icon-search brand-base-text-color"  ui-sref="app.discover">
        </button>
    </div>
</div>
<ion-content class="intro-screen new-screen" ng-class="{'has-header' : !justStarting}">
    <ion-slide-box class="intro-slider" on-slide-changed="slideChanged(index)">
        <ion-slide class="intro-screen-1">
            <div class="box padding">
                <p class="intro-title">Welcome to <b>Tring,</b> the world of
                    open discoverable chat groups</p>
                <p>
                    <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="272px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
<g>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M5.734,2.007L5.734,2.007c0.317-0.317,0.837-0.317,1.155,0
		l1.68,1.68c0.318,0.317,0.318,0.837,0,1.155l0,0c-0.318,0.317-0.837,0.317-1.155,0l-1.68-1.68C5.417,2.845,5.417,2.325,5.734,2.007
		L5.734,2.007z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#69C8DA;" d="M10.271,2.007L10.271,2.007c-0.318-0.317-0.838-0.317-1.156,0
		l-1.679,1.68c-0.453,0.479-0.634,0.46-0.758,0.417c0.579,0.613,1.174,1.476,1.912,0.738l1.681-1.68
		C10.588,2.845,10.588,2.325,10.271,2.007L10.271,2.007z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M8.036,0.431c0.54,0,0.978,0.438,0.978,0.978
		c0,0.54-0.438,0.977-0.978,0.977c-0.54,0-0.977-0.438-0.977-0.977C7.059,0.868,7.497,0.431,8.036,0.431L8.036,0.431z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M10.271,9.927L10.271,9.927c-0.318,0.318-0.838,0.318-1.156,0
		L7.436,8.248c-0.317-0.319-0.317-0.838,0-1.156h0c0.317-0.317,0.837-0.317,1.154,0l1.681,1.68
		C10.588,9.091,10.588,9.61,10.271,9.927L10.271,9.927z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#69C8DA;" d="M5.734,9.927L5.734,9.927c0.317,0.318,0.837,0.318,1.155,0
		l1.68-1.679c0.453-0.48,0.635-0.462,0.758-0.417C8.748,7.217,8.152,6.354,7.414,7.092l-1.68,1.68
		C5.417,9.091,5.417,9.61,5.734,9.927L5.734,9.927z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M7.968,11.504c-0.54,0-0.978-0.438-0.978-0.977
		c0-0.541,0.438-0.978,0.978-0.978c0.54,0,0.977,0.437,0.977,0.978C8.945,11.066,8.508,11.504,7.968,11.504L7.968,11.504z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M3.996,8.204L3.996,8.204c-0.317-0.318-0.317-0.838,0-1.155
		l1.68-1.68c0.317-0.318,0.837-0.318,1.155,0l0,0c0.317,0.317,0.317,0.837,0,1.155l-1.68,1.68C4.833,8.521,4.313,8.521,3.996,8.204
		L3.996,8.204z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#69C8DA;" d="M3.996,3.667L3.996,3.667c-0.317,0.318-0.317,0.837,0,1.155
		l1.68,1.68c0.479,0.452,0.46,0.634,0.417,0.757C6.706,6.68,7.569,6.084,6.831,5.346l-1.68-1.68
		C4.833,3.349,4.313,3.349,3.996,3.667L3.996,3.667z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M2.419,5.901c0-0.54,0.438-0.977,0.978-0.977
		c0.54,0,0.977,0.438,0.977,0.977c0,0.54-0.438,0.978-0.977,0.978C2.857,6.878,2.419,6.441,2.419,5.901L2.419,5.901z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M12.004,3.721L12.004,3.721c0.318,0.317,0.318,0.837,0,1.155
		l-1.68,1.68c-0.318,0.317-0.838,0.317-1.154,0l0,0c-0.318-0.318-0.318-0.837,0-1.155l1.68-1.68
		C11.166,3.403,11.686,3.403,12.004,3.721L12.004,3.721z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#69C8DA;" d="M12.004,8.259L12.004,8.259c0.318-0.318,0.318-0.838,0-1.156
		l-1.68-1.68c-0.48-0.452-0.461-0.634-0.418-0.757C9.295,5.244,8.431,5.839,9.17,6.578l1.68,1.681
		C11.166,8.576,11.686,8.576,12.004,8.259L12.004,8.259z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M13.58,6.023C13.58,6.563,13.143,7,12.604,7
		c-0.541,0-0.979-0.437-0.979-0.978c0-0.54,0.438-0.977,0.979-0.977C13.143,5.046,13.58,5.483,13.58,6.023L13.58,6.023z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M8.026,3.787c1.249,0,2.263,1.013,2.263,2.262
		c0,1.249-1.014,2.262-2.263,2.262S5.765,7.298,5.765,6.049C5.765,4.8,6.777,3.787,8.026,3.787L8.026,3.787z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#0A2145;" d="M9.805,9.041l0.041-1.115l0.049-0.048
		c0.857-0.853,1.029-2.182,0.418-3.227c-0.357-0.61-0.936-1.05-1.621-1.229C8.011,3.244,7.285,3.344,6.677,3.699
		c-0.611,0.357-1.05,0.937-1.23,1.621C5.269,6.001,5.369,6.728,5.724,7.335c0.612,1.047,1.86,1.55,3.026,1.214l0.066-0.019
		L9.805,9.041L9.805,9.041z M6.948,4.164C7.433,3.88,8.012,3.801,8.555,3.943c0.547,0.143,1.008,0.494,1.293,0.98
		c0.285,0.484,0.363,1.064,0.221,1.607c-0.143,0.545-0.494,1.007-0.98,1.292C8.604,8.107,8.024,8.187,7.481,8.044
		C6.936,7.901,6.474,7.55,6.188,7.063C5.905,6.579,5.826,6,5.968,5.457C6.111,4.911,6.462,4.449,6.948,4.164L6.948,4.164z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#0A2145;" d="M9.127,5.653V4.986c-0.004-0.043-0.039-0.077-0.082-0.08H6.953
		C6.91,4.909,6.876,4.943,6.873,4.986v0.667C6.876,5.696,6.91,5.73,6.953,5.733h0.375C7.371,5.73,7.405,5.696,7.409,5.653V5.394
		H8.59L8.589,5.653C8.592,5.696,8.626,5.73,8.67,5.733h0.375C9.088,5.73,9.123,5.696,9.127,5.653L9.127,5.653z M7.716,5.744
		c0,0.288,0,0.575,0,0.863L7.493,6.605c-0.042,0-0.077,0.035-0.081,0.08v0.329c0.004,0.042,0.038,0.076,0.081,0.08l1.028,0.001
		c0.043-0.003,0.076-0.037,0.08-0.08V6.687c-0.004-0.043-0.037-0.078-0.08-0.08l-0.223,0V5.744c-0.002-0.043-0.037-0.077-0.08-0.08
		H7.796C7.753,5.667,7.719,5.701,7.716,5.744L7.716,5.744z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#0A2145;" d="M5.858,14.033c-0.142,0.304-0.458,0.942-0.683,1.038
		c-0.086,0.037-0.183,0.048-0.265-0.007c-0.181-0.122-0.1-0.441-0.052-0.613C4.93,14.198,5.036,13.94,5.149,13.7
		c-0.124,0.017-0.248,0.028-0.368,0.03c-0.148,0.004-0.385-0.002-0.448-0.169c-0.01-0.025-0.014-0.053-0.013-0.08
		c0.01-0.206,0.266-0.319,0.429-0.38c0.238-0.089,0.506-0.146,0.757-0.187c0.029-0.005,0.059-0.01,0.087-0.013
		c0.118-0.176,0.332-0.458,0.542-0.389c0.05,0.017,0.089,0.05,0.118,0.093c0.045,0.063,0.048,0.153,0.036,0.242
		c0.077,0.002,0.155,0.007,0.229,0.019c0.117,0.02,0.257,0.064,0.292,0.193c0.008,0.03,0.01,0.062,0.004,0.093
		c-0.024,0.127-0.197,0.188-0.303,0.228c-0.139,0.052-0.284,0.094-0.428,0.131c-0.038,0.095-0.077,0.189-0.118,0.282
		c0.097-0.174,0.233-0.322,0.407-0.297c0.029,0.005,0.057,0.015,0.082,0.029c0.049,0.027,0.082,0.067,0.105,0.116
		c0.154-0.144,0.354-0.222,0.543-0.084c0.016,0.013,0.03,0.026,0.042,0.042c0.043-0.075,0.093-0.146,0.15-0.196
		c-0.069-0.122-0.038-0.286,0.021-0.407c0.071-0.144,0.212-0.281,0.386-0.26c0.079,0.01,0.151,0.047,0.197,0.112
		c0.091,0.131,0.044,0.312-0.03,0.439c-0.034,0.06-0.082,0.12-0.139,0.168c0.02,0.04,0.031,0.084,0.038,0.134
		c0.101-0.228,0.264-0.469,0.493-0.449c0.051,0.005,0.1,0.023,0.139,0.058c0.078,0.063,0.104,0.167,0.104,0.28
		c0.11-0.083,0.233-0.146,0.362-0.134c0.08,0.007,0.152,0.037,0.205,0.099c0.043,0.053,0.063,0.118,0.068,0.19
		c0.004-0.009,0.01-0.018,0.016-0.025c0.227-0.343,0.602-0.529,1.01-0.514c0.141,0.005,0.275,0.05,0.365,0.161
		c0.273,0.331-0.047,1.009-0.219,1.325c-0.131,0.24-0.289,0.486-0.465,0.697c-0.063,0.075-0.135,0.156-0.213,0.216
		c-0.086,0.064-0.199,0.111-0.297,0.035c-0.158-0.123-0.029-0.354,0.033-0.494c0.076-0.171,0.145-0.338,0.207-0.509
		c-0.166,0.052-0.338,0.053-0.469-0.073c-0.002-0.002-0.004-0.004-0.006-0.006c0.016,0.039,0.016,0.077,0.01,0.12
		c-0.004,0.042-0.02,0.083-0.047,0.115c-0.059,0.078-0.158,0.102-0.252,0.089c-0.088-0.012-0.174-0.053-0.242-0.108
		c-0.098-0.079-0.159-0.18-0.192-0.291c-0.024,0.027-0.05,0.053-0.075,0.079c-0.112,0.114-0.306,0.307-0.477,0.305
		c-0.032,0-0.063-0.008-0.091-0.021c-0.091-0.043-0.135-0.14-0.149-0.256c-0.093,0.214-0.236,0.437-0.428,0.411H7.157
		c-0.034-0.004-0.065-0.016-0.095-0.031c-0.209-0.121-0.171-0.483-0.115-0.73c-0.183,0.107-0.314,0.264-0.434,0.447
		c-0.062,0.094-0.118,0.194-0.182,0.285c-0.062,0.088-0.137,0.173-0.243,0.203c-0.476,0.104-0.367-0.587-0.279-0.887
		C5.822,14.137,5.838,14.087,5.858,14.033L5.858,14.033z M11.51,12.631c0.137-0.16,0.391,0.039,0.492,0.14
		c0.168,0.165,0.285,0.385,0.283,0.623c-0.002,0.229-0.096,0.444-0.246,0.614c-0.096,0.108-0.268,0.25-0.42,0.247
		c-0.063-0.001-0.119-0.026-0.15-0.082c-0.047-0.077-0.016-0.151,0.025-0.22c0.027-0.044,0.055-0.086,0.08-0.131
		c0.07-0.128,0.109-0.258,0.109-0.403c-0.002-0.156-0.035-0.293-0.107-0.431C11.518,12.88,11.41,12.751,11.51,12.631L11.51,12.631z
		 M10.832,12.807c0.121-0.145,0.338,0.014,0.434,0.106c0.141,0.133,0.238,0.311,0.236,0.507c-0.002,0.187-0.082,0.359-0.207,0.495
		c-0.082,0.089-0.227,0.2-0.354,0.197c-0.059-0.001-0.111-0.025-0.145-0.077c-0.068-0.108,0.02-0.21,0.068-0.303
		c0.047-0.095,0.074-0.19,0.072-0.297c0-0.116-0.021-0.219-0.07-0.322C10.82,13.016,10.744,12.911,10.832,12.807L10.832,12.807z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M7.511,13.392c-0.235-0.038-0.047-0.537,0.174-0.51
		c0.273,0.034,0.019,0.533-0.17,0.511L7.511,13.392L7.511,13.392z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M7.176,14.746c-0.324-0.04,0.041-1.334,0.349-1.288
		c0.292,0.043-0.091,1.32-0.346,1.288H7.176L7.176,14.746z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M8.287,13.874l0.091-0.089c0.111-0.104,0.31-0.31,0.478-0.294
		c0.346,0.03-0.078,0.674,0.105,0.994c0.018,0.029,0.01,0.056,0.008,0.067c-0.016,0.185-0.556,0.048-0.464-0.522L8.5,14.025
		c-0.097,0.092-0.488,0.588-0.669,0.585c-0.277-0.003,0.057-1.354,0.417-1.322c0.2,0.017,0.077,0.449,0.034,0.58L8.287,13.874
		L8.287,13.874z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M6.003,14.93c0,0-0.001,0-0.001,0c-0.001,0-0.003,0-0.005,0
		l0-0.001c-0.313-0.056,0.049-1.332,0.355-1.286c0.099,0.015,0.121,0.171,0.096,0.37c0.036-0.039,0.312-0.526,0.57-0.337
		c0.047,0.036,0.083,0.171,0.01,0.253c-0.627,0.25-0.739,0.932-0.981,0.996c-0.014,0.005-0.027,0.008-0.04,0.006L6.003,14.93
		L6.003,14.93z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M9.822,14.246c-1.088,0.706-0.826-1.051,0.34-1.005
		c0.988,0.039-0.531,2.334-0.734,2.175C9.33,15.339,9.598,15.027,9.822,14.246L9.822,14.246z M10.063,13.475
		c0.002-0.013,0.004-0.023,0.008-0.034c0.002-0.003,0.002-0.006,0.004-0.009c0-0.003,0-0.005,0-0.007
		c0.002-0.013-0.006-0.02-0.023-0.022c-0.035-0.005-0.094,0.025-0.178,0.093c-0.145,0.115-0.313,0.333-0.338,0.521
		c-0.008,0.053,0.002,0.081,0.029,0.085C9.799,14.133,10.025,13.674,10.063,13.475L10.063,13.475z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M11.621,12.725c0.051-0.06,0.523,0.24,0.518,0.668
		c-0.004,0.427-0.383,0.72-0.518,0.717c-0.133-0.003,0.213-0.23,0.207-0.692C11.824,12.955,11.572,12.785,11.621,12.725
		L11.621,12.725z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M6.134,12.689c0.03,0.037,0.017,0.151-0.027,0.309
		c0.336-0.015,0.584,0.021,0.564,0.128c-0.011,0.061-0.316,0.167-0.696,0.264c-0.242,0.632-0.671,1.469-0.857,1.548
		c-0.373,0.16-0.083-0.713,0.286-1.426C4.91,13.6,4.46,13.628,4.467,13.487c0.009-0.196,0.631-0.373,1.212-0.45
		C5.876,12.739,6.056,12.564,6.134,12.689L6.134,12.689z"/>
	<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCDB61;" d="M10.943,12.901c0.039-0.047,0.416,0.188,0.412,0.517
		c-0.004,0.329-0.309,0.551-0.412,0.549s0.145-0.178,0.141-0.533S10.904,12.947,10.943,12.901L10.943,12.901z"/>
</g>
</svg>
                </p>
                <p class="text-right">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="150px" height="190px" viewBox="0 0 12.813 18.185" style="enable-background:new 0 0 12.813 18.185;"
	 xml:space="preserve">
<g id="Layer_1">
	<g>
		<g>
			<defs>
				<path id="SVGID_1_" d="M-41.903,2.456c0.333,0.382,0.273,1.005-0.133,1.393c-0.406,0.387-1.005,0.392-1.337,0.009
					c-0.333-0.382-0.273-1.006,0.133-1.393S-42.235,2.073-41.903,2.456L-41.903,2.456z"/>
			</defs>
			<radialGradient id="SVGID_2_" cx="-42.6382" cy="3.1563" r="0.9679" gradientUnits="userSpaceOnUse">
				<stop  offset="0" style="stop-color:#FFFFFF"/>
				<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
			</radialGradient>
			<use xlink:href="#SVGID_1_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_2_);"/>
			<clipPath id="SVGID_3_">
				<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
			</clipPath>
		</g>
	</g>
	<g>
		<g>
			<path style="fill:#FFFFFF;" d="M10.791,3.15c0.056-0.329,0.409-0.909,0.491-0.991c0.05-0.034,0.152-0.136,0.188-0.14
				c0.048,0.003,0.046,0.034,0.031,0.07c0.007-0.005,0.013-0.014,0.02-0.019c0.218,0.083,0.482,0.052,0.696-0.121
				c0.319-0.257,0.4-0.707,0.183-1.005c-0.219-0.298-0.654-0.332-0.974-0.075c-0.316,0.254-0.397,0.698-0.186,0.996
				c0.08,0.043-0.137,0.231-0.16,0.249c-0.22,0.185-0.557,0.707-0.437,1.002C10.693,3.127,10.742,3.139,10.791,3.15z"/>
			<path style="fill:#FFFFFF;" d="M2.944,3.863C2.885,3.834,2.801,3.805,2.747,3.858L2.745,3.859
				C2.73,3.874,2.715,3.892,2.718,3.915c0.006,0.028-0.051-0.021-0.056-0.026c-0.026-0.034-0.009-0.063,0.01-0.101
				c0.002-0.01,0.033-0.044,0.042-0.052C2.729,3.722,2.75,3.717,2.771,3.715c0.087-0.013,0.165,0.024,0.236,0.07
				c0.017,0.012,0.035,0.028,0.053,0.044C3.057,3.786,3.056,3.744,3.055,3.732C3.048,3.668,3.018,3.617,2.979,3.567
				C2.927,3.51,2.875,3.467,2.8,3.443c-0.037-0.008-0.064-0.01-0.101,0C2.66,3.457,2.636,3.476,2.613,3.509
				C2.524,3.643,2.5,3.762,2.509,3.921c0.016,0.157,0.059,0.275,0.133,0.414c0.065,0.117,0.14,0.227,0.241,0.316
				c0.008,0.007,0.069,0.059,0.128,0.117c0.03-0.146,0.062-0.296,0.095-0.451C3.101,4.317,3.099,4.319,3.093,4.32
				C3,4.376,3.104,4.234,3.112,4.221C3.191,4.076,3.07,3.929,2.944,3.863z"/>
			<path style="fill:#FFFFFF;" d="M7.595,3.265C7.578,3.409,7.586,3.519,7.62,3.656c0.041,0.14,0.092,0.237,0.183,0.347
				c0.094,0.106,0.181,0.171,0.31,0.229c0.127,0.053,0.231,0.072,0.371,0.072c0.141-0.006,0.248-0.03,0.38-0.088
				C9,4.154,9.096,4.085,9.202,3.976c0.102-0.111,0.166-0.21,0.218-0.352c0.022-0.064,0.024-0.127,0.029-0.19
				C9.505,3.197,9.47,2.963,9.358,2.76L8.097,2.5C8.089,2.503,8.082,2.508,8.075,2.511c0.002,0,0.006,0.001,0.008,0.002
				C8.081,2.515,8.078,2.516,8.075,2.517c-0.003,0-0.006-0.001-0.009-0.002C8.035,2.53,8.005,2.541,7.975,2.566
				C7.862,2.664,7.789,2.753,7.716,2.885C7.648,3.015,7.614,3.123,7.595,3.265z"/>
			<path style="fill:#FFFFFF;" d="M12.15,5.362c-0.045-0.034-0.087-0.05-0.143-0.062c-0.128-0.02-0.24-0.006-0.363,0.027
				c-0.051,0.017-0.093,0.049-0.138,0.076c-0.005,0.014-0.012,0.026-0.017,0.039c-0.032,0.01-0.06,0.023-0.09,0.035
				c-0.031,0.035-0.082,0.092-0.082,0.093c-0.004,0.003-0.012,0.009-0.017,0.013c0.133-0.056,0.265-0.097,0.327-0.11
				c0.125-0.022,0.281-0.042,0.396,0.024c0.021,0.01,0.041,0.022,0.056,0.041c0.002,0.004,0.011,0.018,0.012,0.02
				c0.016,0.026,0.024,0.048,0.027,0.078c0.001,0.025-0.003,0.043-0.012,0.066c-0.017,0.028-0.021,0.045-0.058,0.048
				c-0.04,0.003-0.067-0.042-0.065-0.042c0-0.002,0.007,0.002,0.011,0.002c0.009,0,0.012-0.004,0.013-0.013
				c0-0.016-0.009-0.029-0.019-0.041c0,0-0.007-0.012-0.008-0.013c-0.068-0.09-0.229-0.078-0.327-0.066
				c-0.183,0.027-0.531,0.129-0.554,0.352c0.001,0.032,0.02,0.205-0.043,0.113c-0.273-0.151-0.073-0.313,0.168-0.426
				c-0.016,0.002-0.034,0.012-0.043-0.008c-0.328-0.028-0.13-0.195,0.051-0.291c0.056-0.028,0.116-0.036,0.172-0.055
				c0.237-0.552,0.483-1.101,0.772-1.696c-0.411-0.103-0.824-0.212-1.237-0.319c0.024,0.047,0.076,0.159-0.005,0.121
				c-0.047,0.009-0.083-0.155-0.109-0.167l-0.163-0.025c0.024,0.05,0.044,0.106-0.018,0.085c-0.152,0.057-0.204-0.012-0.196-0.14
				C10.157,3.045,9.865,2.97,9.572,2.895c0.04,0.121,0.06,0.229,0.056,0.364c-0.01,0.154-0.039,0.272-0.102,0.416
				c-0.07,0.151-0.145,0.256-0.261,0.374C9.146,4.165,9.041,4.236,8.893,4.301C8.748,4.361,8.631,4.385,8.479,4.39
				c-0.15-0.001-0.264-0.023-0.401-0.08c-0.14-0.063-0.234-0.133-0.337-0.249C7.643,3.943,7.586,3.837,7.54,3.685
				C7.501,3.537,7.491,3.417,7.507,3.261c0.02-0.156,0.055-0.273,0.125-0.416c0.077-0.146,0.154-0.248,0.274-0.359
				c0.003-0.002,0.007-0.004,0.01-0.007c-0.16-0.038-0.328-0.069-0.49-0.105c0.005,0.023,0.012,0.044,0.016,0.069
				C7.46,2.596,7.453,2.718,7.42,2.871C7.381,3.033,7.329,3.15,7.241,3.287C7.171,3.39,7.099,3.464,7.016,3.536
				c-0.028-0.021-0.06-0.03-0.089-0.044c0.078-0.065,0.146-0.131,0.205-0.217c0.001-0.001,0.003-0.002,0.004-0.004
				C7.137,3.27,7.137,3.268,7.139,3.266c0.009-0.014,0.02-0.024,0.029-0.039c0.044-0.073,0.074-0.144,0.099-0.216V3.01
				c0.092-0.23,0.076-0.464,0.009-0.68l-1.43-0.295C5.844,2.037,5.843,2.038,5.842,2.039C5.828,2.037,5.816,2.033,5.803,2.031
				C5.789,2.046,5.775,2.057,5.762,2.074C5.673,2.192,5.62,2.294,5.574,2.438C5.57,2.453,5.572,2.465,5.569,2.479
				c-0.018,0.06-0.014,0.118-0.021,0.178C5.541,2.714,5.523,2.769,5.527,2.834c0,0.003,0.001,0.004,0.001,0.007
				c0.007,0.135,0.04,0.265,0.099,0.382c0.061,0.123,0.125,0.208,0.227,0.296c0.108,0.087,0.201,0.134,0.333,0.166
				c0.129,0.027,0.231,0.027,0.362,0c0.006-0.001,0.01-0.006,0.016-0.007C6.557,3.707,6.548,3.736,6.542,3.771
				C6.409,3.794,6.301,3.796,6.168,3.769C6.025,3.733,5.924,3.682,5.807,3.588C5.691,3.49,5.62,3.398,5.551,3.257
				c-0.064-0.139-0.094-0.254-0.107-0.41C5.435,2.69,5.447,2.568,5.488,2.414C5.534,2.255,5.59,2.142,5.683,2.009
				C5.102,1.9,4.519,1.795,3.946,1.712c-0.417,1.275-0.784,2.6-0.819,3.949C4.168,6.5,5.17,7.206,6.352,7.88
				c0.797-0.124,1.66-0.255,2.491-0.417c0.414-0.08,0.82-0.165,1.204-0.265c0.268-0.07,0.476-0.148,0.64-0.211
				c0.046-0.109,0.089-0.216,0.132-0.322c-0.013-0.004-0.029-0.005-0.036-0.011c-0.101-0.124,0.357-0.173,0.417-0.187
				c0.135-0.029,0.257-0.08,0.381-0.14c0.185-0.087,0.328-0.181,0.468-0.331c0.064-0.074,0.107-0.139,0.145-0.23
				c0.034-0.094,0.045-0.168,0.035-0.268c-0.004-0.029-0.011-0.051-0.025-0.078C12.188,5.397,12.173,5.38,12.15,5.362z"/>
		</g>
		<g>
			<polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" points="12.073,11.623 12.073,11.624 12.074,11.625 			"/>
			<polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" points="4.789,17.007 4.794,17.001 4.779,17.006 			"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M10.293,8.162c0.056,0.02,0.158,0.103,0.267,0.196
				c0.103-0.375,0.208-0.754,0.317-1.137c-0.028,0.008-0.058,0.018-0.089,0.008c-0.014-0.004-0.019-0.018-0.03-0.025
				C9.512,7.588,7.561,7.913,6.363,8.034C6.13,8.058,3.884,6.371,3.534,6.076C3.288,5.868,3.211,5.801,3.119,5.71
				C3.092,5.769,3.04,5.813,2.972,5.805c-0.001,0-0.002-0.001-0.003-0.001C2.62,9.68,3.384,13.112,4.513,16.805
				c0.064,0.005,0.119,0.013,0.17,0.022c0.158-0.347,1.548-1.157,1.958-1.221c0.056,0.001,0.28-0.013,0.323,0.023
				c0.004,0.005-0.006,0.007-0.004,0.011c0.146,0.035,0.277,0.084,0.412,0.13c-0.398-0.229-0.808-0.381-1.167-0.375
				c0.981-0.102,2.38,0.889,3.033,1.618c-0.006-2.369,0.32-4.512,0.825-6.678c-0.372-0.157-0.717-0.328-0.31-0.34
				c-0.001-0.117,0.555,0.254,0.571,0.266c0.002,0.001,0.003,0.002,0.005,0.003c0.093,0.063,0.191,0.121,0.286,0.18
				c0.53,0.349,0.879,0.582,1.341,1.075c0.011,0.013,0.021,0.02,0.036,0.024c0.014,0.005,0.025,0.005,0.037,0
				c0.011-0.004,0.017-0.011,0.021-0.02c-0.178-1.019-0.556-1.988-1.238-2.753C10.563,8.506,10.229,8.15,10.293,8.162z"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M4.924,16.806c-0.001,0.005-0.005,0.021-0.01,0.039
				c0.164-0.23,0.38-0.448,0.643-0.637C5.264,16.395,5.009,16.61,4.924,16.806z"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M2.638,6.208C2.444,6.015,1.989,5.457,1.931,5.394
				c-0.073-0.08-0.146-0.16-0.22-0.238C1.299,4.728,0.852,4.377,0.358,4.05c-0.01-0.006-0.019-0.008-0.031-0.007
				c-0.011,0.002-0.02,0.006-0.028,0.015c-0.008,0.009-0.012,0.018-0.013,0.03c0,0.012,0.003,0.021,0.01,0.031
				C0.373,4.231,0.421,4.36,0.45,4.493c0.014,0.075,0.021,0.138,0.012,0.214C0.453,4.771,0.437,4.82,0.395,4.87
				C0.386,4.881,0.381,4.891,0.38,4.905C0.379,4.919,0.381,4.93,0.389,4.943C0.971,5.951,1.693,7.6,2.353,8.449
				c0.015,0.017,0.189,0.206,0.305,0.357C2.6,7.937,2.592,7.069,2.638,6.208z"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M0.317,4.979c0.001,0.002-0.002,0.006,0,0.008
				c0.721,1.34,1.456,2.753,1.94,3.448C1.516,7.19,0.322,4.993,0.318,4.985C0.317,4.983,0.318,4.981,0.317,4.979z"/>
		</g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M4.916,10.271c-0.032,0.586,0.39,1.129,0.941,1.21
			c0.534,0.075,0.974-0.313,1.005-0.871c0.032-0.586-0.391-1.129-0.942-1.211C5.875,9.393,5.83,9.39,5.786,9.39
			C5.31,9.39,4.944,9.761,4.916,10.271z"/>
		<g>
			<g>
				<defs>
					<path id="SVGID_4_" d="M9.295,2.601c0.333,0.382,0.273,1.005-0.133,1.393C8.756,4.381,8.157,4.385,7.825,4.003
						C7.492,3.621,7.552,2.997,7.958,2.61S8.963,2.218,9.295,2.601L9.295,2.601z"/>
				</defs>
				<radialGradient id="SVGID_5_" cx="8.5605" cy="3.3018" r="0.9679" gradientUnits="userSpaceOnUse">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
				</radialGradient>
				<use xlink:href="#SVGID_4_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_5_);"/>
				<clipPath id="SVGID_6_">
					<use xlink:href="#SVGID_4_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<g>
			<g>
				<defs>
					<path id="SVGID_7_" d="M7.054,1.905c0.385,0.316,0.429,0.929,0.098,1.371C6.822,3.717,6.244,3.82,5.86,3.504
						c-0.385-0.315-0.43-0.929-0.1-1.371C6.09,1.692,6.669,1.59,7.054,1.905L7.054,1.905z"/>
				</defs>

					<radialGradient id="SVGID_8_" cx="6.1245" cy="3.25" r="0.9503" gradientTransform="matrix(0.986 -0.1667 0.1667 0.986 -0.1234 0.5218)" gradientUnits="userSpaceOnUse">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
				</radialGradient>
				<use xlink:href="#SVGID_7_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_8_);"/>
				<clipPath id="SVGID_9_">
					<use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M6.797,2.403c0.114,0.045,0.146,0.23,0.071,0.413
			C6.795,3,6.643,3.111,6.529,3.065s-0.146-0.23-0.071-0.413C6.532,2.469,6.684,2.358,6.797,2.403L6.797,2.403z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M6.803,2.395c0.048,0.027,0.048,0.12-0.001,0.208
			C6.753,2.691,6.674,2.74,6.625,2.713c-0.048-0.027-0.048-0.12,0.001-0.208C6.675,2.417,6.754,2.368,6.803,2.395L6.803,2.395z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M8.837,3.122c0.12,0.048,0.153,0.244,0.075,0.437
			S8.674,3.87,8.554,3.822S8.4,3.578,8.479,3.385S8.717,3.074,8.837,3.122L8.837,3.122z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M8.831,3.112c0.053,0.026,0.057,0.125,0.01,0.22
			C8.794,3.427,8.713,3.483,8.66,3.458c-0.053-0.026-0.058-0.125-0.01-0.22C8.697,3.142,8.778,3.086,8.831,3.112L8.831,3.112z"/>
		<path style="fill:#231F20;" d="M6.513,10.3l0.021-0.39c0-0.025-0.018-0.049-0.042-0.054L5.33,9.686
			C5.306,9.684,5.286,9.7,5.282,9.726l-0.021,0.39c0,0.025,0.019,0.048,0.042,0.053l0.208,0.031c0.023,0.002,0.044-0.016,0.047-0.04
			l0.009-0.151l0.655,0.097l-0.009,0.151c0,0.025,0.019,0.048,0.042,0.053l0.208,0.031C6.489,10.342,6.509,10.324,6.513,10.3
			L6.513,10.3z M5.727,10.237c-0.009,0.168-0.019,0.336-0.028,0.504l-0.124-0.02c-0.024-0.003-0.044,0.014-0.047,0.04l-0.011,0.192
			c0,0.024,0.019,0.048,0.042,0.053l0.571,0.085c0.024,0.002,0.044-0.015,0.047-0.04l0.01-0.191c0-0.026-0.019-0.049-0.042-0.054
			l-0.124-0.018l0.028-0.504c0-0.025-0.018-0.049-0.042-0.054l-0.234-0.034C5.75,10.195,5.729,10.212,5.727,10.237L5.727,10.237z"/>
		<g>
			<path style="fill:#231F20;" d="M6.002,8.839C5.136,8.713,4.398,9.358,4.35,10.24c-0.048,0.871,0.592,1.68,1.425,1.802
				c0.074,0.011,0.147,0.017,0.219,0.017c0.773,0,1.39-0.609,1.435-1.417C7.477,9.771,6.837,8.962,6.002,8.839z M5.857,11.481
				c-0.551-0.081-0.974-0.624-0.941-1.21C4.944,9.761,5.31,9.39,5.786,9.39c0.044,0,0.089,0.003,0.134,0.01
				c0.552,0.082,0.975,0.625,0.942,1.211C6.831,11.169,6.392,11.557,5.857,11.481z"/>
			<path style="fill:#231F20;" d="M5.33,9.686C5.306,9.684,5.286,9.7,5.282,9.726l-0.021,0.39c0,0.025,0.019,0.048,0.042,0.053
				l0.208,0.031c0.023,0.002,0.044-0.016,0.047-0.04l0.009-0.151l0.655,0.097l-0.009,0.151c0,0.025,0.019,0.048,0.042,0.053
				l0.208,0.031c0.024,0.002,0.044-0.016,0.048-0.04l0.021-0.39c0-0.025-0.018-0.049-0.042-0.054L5.33,9.686z"/>
			<path style="fill:#231F20;" d="M6.022,10.789l0.028-0.504c0-0.025-0.018-0.049-0.042-0.054l-0.234-0.034
				c-0.024-0.002-0.044,0.015-0.047,0.04c-0.009,0.168-0.019,0.336-0.028,0.504l-0.124-0.02c-0.024-0.003-0.044,0.014-0.047,0.04
				l-0.011,0.192c0,0.024,0.019,0.048,0.042,0.053l0.571,0.085c0.024,0.002,0.044-0.015,0.047-0.04l0.01-0.191
				c0-0.026-0.019-0.049-0.042-0.054L6.022,10.789z"/>
		</g>
		<g>
			<g>
				<defs>
					<path id="SVGID_10_" d="M9.295,2.601c0.333,0.382,0.273,1.005-0.133,1.393C8.756,4.381,8.157,4.385,7.825,4.003
						C7.492,3.621,7.552,2.997,7.958,2.61S8.963,2.218,9.295,2.601L9.295,2.601z"/>
				</defs>
				<radialGradient id="SVGID_11_" cx="8.5605" cy="3.3018" r="0.9679" gradientUnits="userSpaceOnUse">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
				</radialGradient>
				<use xlink:href="#SVGID_10_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_11_);"/>
				<clipPath id="SVGID_12_">
					<use xlink:href="#SVGID_10_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M8.837,3.122c0.12,0.048,0.153,0.244,0.075,0.437
			S8.674,3.87,8.554,3.822S8.4,3.578,8.479,3.385S8.717,3.074,8.837,3.122L8.837,3.122z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M8.831,3.112c0.053,0.026,0.057,0.125,0.01,0.22
			C8.794,3.427,8.713,3.483,8.66,3.458c-0.053-0.026-0.058-0.125-0.01-0.22C8.697,3.142,8.778,3.086,8.831,3.112L8.831,3.112z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M6.797,2.403c0.114,0.045,0.146,0.23,0.071,0.413
			C6.795,3,6.643,3.111,6.529,3.065s-0.146-0.23-0.071-0.413C6.532,2.469,6.684,2.358,6.797,2.403L6.797,2.403z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M6.803,2.395c0.048,0.027,0.048,0.12-0.001,0.208
			C6.753,2.691,6.674,2.74,6.625,2.713c-0.048-0.027-0.048-0.12,0.001-0.208C6.675,2.417,6.754,2.368,6.803,2.395L6.803,2.395z"/>
		<g>
			<path d="M12.577,1.514c0.141-0.391-0.136-0.775-0.328-0.859c-0.25-0.109-0.738-0.179-1.094,0.391c-0.234,0.375,0,0.859,0,0.859
				c0.006,0.008-0.344,0.356-0.337,0.363c-0.15,0.248-0.311,0.59-0.344,0.809c-0.297-0.07-0.595-0.14-0.892-0.209
				c-0.001-0.002,0-0.004-0.001-0.006c-0.114-0.249-0.271-0.475-0.23-0.156c0.14,0.216,0.175,0.476,0.113,0.734
				C9.46,3.502,9.458,3.565,9.436,3.63C9.384,3.771,9.319,3.87,9.218,3.98C9.111,4.09,9.016,4.158,8.879,4.222
				C8.747,4.279,8.64,4.303,8.499,4.309c-0.14,0-0.244-0.019-0.371-0.072c-0.129-0.058-0.216-0.123-0.31-0.229
				C7.728,3.898,7.677,3.8,7.636,3.66C7.602,3.524,7.594,3.414,7.61,3.271C7.63,3.127,7.664,3.02,7.731,2.89
				C7.805,2.758,7.878,2.668,7.99,2.57c0.03-0.024,0.061-0.036,0.092-0.05c0.003,0,0.006,0.001,0.009,0.002
				C8.094,2.521,8.097,2.52,8.099,2.518c-0.002,0-0.006-0.001-0.008-0.002c0.022-0.01,0.046-0.025,0.067-0.037
				c0.059-0.036,0.114-0.074,0.177-0.097l0.001,0C8.357,2.375,8.379,2.37,8.4,2.366c0.007-0.001,0.014,0,0.021-0.001
				c0.312-0.082,0.635-0.017,0.854,0.222c0.007-0.002,0.02,0.002,0.018-0.01C9.256,2.47,9.134,2.391,9.045,2.337
				C8.928,2.271,8.827,2.238,8.693,2.216c-0.016-0.002-0.03-0.004-0.045-0.005c-0.121-0.01-0.234,0.014-0.352,0.053
				C8.156,2.317,8.053,2.381,7.938,2.479c-0.149-0.036-0.317-0.075-0.5-0.118C7.415,2.255,7.385,2.162,7.328,2.063
				c-0.15-0.219-0.335-0.411-0.251-0.127C7.082,1.94,7.084,1.946,7.089,1.95c0.055,0.052,0.101,0.11,0.136,0.173
				c0.159,0.258,0.18,0.585,0.058,0.892v0C7.258,3.088,7.228,3.158,7.184,3.232c-0.01,0.015-0.021,0.025-0.029,0.039
				C7.152,3.273,7.152,3.275,7.151,3.276S7.148,3.279,7.147,3.28c-0.06,0.085-0.127,0.151-0.205,0.216
				C6.972,3.51,7.003,3.52,7.031,3.541c0.083-0.071,0.155-0.146,0.226-0.249c0.088-0.138,0.14-0.254,0.179-0.416
				c0.033-0.153,0.04-0.275,0.021-0.429C7.453,2.422,7.446,2.402,7.441,2.378c0.162,0.036,0.33,0.068,0.49,0.105
				c-0.003,0.003-0.007,0.004-0.01,0.007C7.802,2.603,7.725,2.703,7.647,2.85c-0.07,0.143-0.105,0.26-0.125,0.417
				C7.507,3.422,7.517,3.542,7.556,3.69c0.046,0.152,0.103,0.257,0.201,0.376c0.103,0.116,0.197,0.186,0.337,0.249
				c0.138,0.057,0.251,0.079,0.401,0.08C8.646,4.39,8.764,4.365,8.908,4.306c0.148-0.065,0.254-0.137,0.373-0.252
				c0.116-0.118,0.19-0.223,0.261-0.374c0.063-0.144,0.092-0.262,0.102-0.417C9.647,3.128,9.628,3.021,9.588,2.9
				c0.293,0.076,0.585,0.15,0.878,0.227c-0.008,0.128,0.044,0.196,0.196,0.14c0.062,0.021,0.042-0.035,0.018-0.085l0.102,0.026
				c-0.008,0.118,0.034,0.192,0.171,0.166c0.081,0.038,0.029-0.074,0.005-0.121c0.413,0.107,0.826,0.216,1.237,0.319
				c-0.289,0.596-0.535,1.145-0.772,1.696c-0.056,0.019-0.116,0.026-0.172,0.055c-0.181,0.095-0.379,0.263-0.051,0.291
				c0.009,0.02,0.027,0.01,0.043,0.008c-0.241,0.113-0.441,0.274-0.168,0.426c0.063,0.091,0.044-0.082,0.043-0.114
				c0.022-0.223,0.371-0.324,0.554-0.351c0.098-0.012,0.259-0.023,0.327,0.066c0.001,0.001,0.008,0.013,0.008,0.013
				c0.01,0.012,0.019,0.025,0.019,0.041c-0.001,0.008-0.004,0.013-0.013,0.013c-0.004,0-0.011-0.004-0.011-0.002
				c-0.002,0,0.025,0.045,0.065,0.042c0.037-0.003,0.041-0.02,0.058-0.047c0.009-0.023,0.013-0.042,0.012-0.067
				c-0.003-0.03-0.012-0.052-0.027-0.078c-0.001-0.003-0.01-0.016-0.012-0.02c-0.015-0.019-0.034-0.031-0.056-0.042
				c-0.115-0.065-0.271-0.046-0.396-0.024c-0.063,0.014-0.194,0.055-0.327,0.11c0.005-0.004,0.013-0.01,0.017-0.013
				c0,0,0.051-0.058,0.082-0.093c0.03-0.011,0.058-0.024,0.09-0.035c0.005-0.013,0.012-0.026,0.017-0.039
				c0.045-0.027,0.087-0.06,0.138-0.076c0.123-0.034,0.235-0.048,0.363-0.028c0.056,0.012,0.098,0.027,0.143,0.062
				c0.022,0.019,0.037,0.035,0.052,0.06c0.015,0.026,0.021,0.048,0.025,0.078c0.01,0.1-0.001,0.174-0.035,0.268
				c-0.037,0.091-0.08,0.155-0.145,0.229c-0.14,0.151-0.283,0.245-0.468,0.332c-0.124,0.06-0.246,0.11-0.381,0.14
				c-0.06,0.014-0.518,0.063-0.417,0.187c0.007,0.006,0.023,0.007,0.036,0.011c-0.043,0.106-0.086,0.213-0.132,0.322
				c-0.164,0.063-0.372,0.141-0.64,0.211C8.906,7.504,7.56,7.7,6.367,7.885C5.185,7.21,4.183,6.504,3.143,5.667
				c0.035-1.35,0.402-2.674,0.819-3.95C4.534,1.8,5.117,1.905,5.698,2.015C5.605,2.147,5.55,2.26,5.503,2.419
				C5.462,2.572,5.45,2.695,5.459,2.852c0.013,0.156,0.043,0.271,0.106,0.41c0.07,0.141,0.142,0.233,0.256,0.332
				c0.118,0.094,0.219,0.145,0.362,0.18C6.316,3.802,6.425,3.8,6.558,3.775C6.563,3.74,6.571,3.711,6.58,3.683
				C6.574,3.685,6.57,3.689,6.563,3.69c-0.131,0.027-0.232,0.027-0.361,0C6.07,3.658,5.978,3.611,5.87,3.524
				C5.768,3.436,5.704,3.351,5.643,3.228C5.583,3.111,5.551,2.981,5.544,2.846v0c0-0.002-0.001-0.004-0.001-0.006
				C5.54,2.774,5.556,2.719,5.564,2.662c0.007-0.06,0.003-0.119,0.021-0.178C5.588,2.47,5.586,2.458,5.59,2.443
				c0.046-0.144,0.099-0.246,0.187-0.364c0.014-0.017,0.028-0.028,0.042-0.044c0.013,0.002,0.025,0.006,0.039,0.008
				C5.87,2.03,5.884,2.019,5.897,2.006C5.884,2.002,5.87,1.999,5.855,1.996c0.063-0.065,0.128-0.121,0.214-0.167
				c0.019-0.01,0.038-0.019,0.058-0.028c0.093-0.038,0.17-0.058,0.267-0.068C6.417,1.73,6.437,1.738,6.458,1.738
				c0.171-0.016,0.336,0.024,0.486,0.113h0.001c0.04,0.011,0.069,0.014,0.06-0.013C6.952,1.741,6.821,1.686,6.729,1.65
				C6.606,1.608,6.506,1.594,6.376,1.599c-0.015,0-0.029,0.001-0.044,0.003C6.217,1.615,6.114,1.66,6.011,1.721
				C5.899,1.792,5.819,1.869,5.737,1.97c-0.97-0.214-1.82-0.383-1.85-0.318C3.639,2.203,3.423,2.964,3.244,3.714
				C3.186,3.616,3.108,3.516,3.056,3.465C2.98,3.404,2.914,3.361,2.817,3.339c-0.056-0.01-0.099-0.008-0.154,0.01
				C2.604,3.372,2.565,3.404,2.53,3.457C2.435,3.612,2.406,3.745,2.415,3.925c0.014,0.169,0.055,0.297,0.125,0.45
				C2.601,4.5,2.726,4.722,2.839,4.808C2.862,4.824,2.922,4.87,2.982,4.911c-0.025,0.127-0.05,0.251-0.073,0.368
				c-0.017-0.01-0.03-0.026-0.051-0.028C2.773,5.242,2.696,5.303,2.687,5.388C2.665,5.615,2.66,5.846,2.646,6.075
				C2.479,5.808,2.113,5.397,2.06,5.337c-0.004-0.004-0.037-0.039-0.037-0.04C1.574,4.799,0.962,4.338,0.405,3.974
				c-0.03-0.018-0.056-0.023-0.09-0.019C0.28,3.96,0.257,3.973,0.233,3.998C0.21,4.023,0.2,4.049,0.197,4.083
				c0,0.035,0.007,0.061,0.028,0.088c0.071,0.101,0.115,0.22,0.142,0.339c0.013,0.064,0.019,0.121,0.012,0.187
				C0.373,4.744,0.362,4.78,0.333,4.815c-0.021,0.026-0.031,0.05-0.035,0.083C0.295,4.932,0.302,4.957,0.318,4.985
				C0.323,4.995,2.14,8.337,2.68,9.111c0.206,2.586,0.826,5.173,1.714,7.553c0.023,0.063,0.034,0.097,0.047,0.139
				c-0.049-0.002-0.098-0.005-0.151-0.004c-0.332,0.008-0.599,0.077-0.597,0.155c0.002,0.078,0.272,0.136,0.604,0.128
				c0.243-0.005,0.448-0.044,0.542-0.095c0.013-0.004,0.023-0.015,0.034-0.034c0.006-0.009,0.021-0.017,0.021-0.025
				c0-0.002-0.004-0.003-0.004-0.005c0.02-0.05,0.033-0.107,0.035-0.117c0.187-0.433,1.198-0.973,1.653-1.05
				c0.025-0.002,0.463-0.022,0.387-0.126c-0.043-0.036-0.268-0.022-0.323-0.023c-0.409,0.063-1.799,0.874-1.958,1.221
				c-0.051-0.01-0.106-0.018-0.17-0.022C3.384,13.112,2.62,9.68,2.969,5.804c0.001,0,0.002,0.001,0.003,0.001
				C3.04,5.813,3.092,5.769,3.119,5.71c0.092,0.091,0.168,0.157,0.415,0.365c0.35,0.295,2.596,1.982,2.829,1.958
				c1.197-0.122,3.148-0.446,4.395-0.831c0.012,0.008,0.017,0.021,0.03,0.025c0.031,0.01,0.061,0,0.089-0.008
				c-0.109,0.383-0.215,0.762-0.317,1.137c-0.108-0.094-0.211-0.177-0.267-0.196c-0.095-0.018,0.669,0.756,0.769,0.874
				c0.154,0.192,0.271,0.377,0.39,0.594c0.334,0.634,0.5,1.183,0.61,1.852c0.002,0.016,0.001,0.026-0.005,0.039
				s-0.014,0.019-0.026,0.023c-0.012,0.005-0.023,0.005-0.037,0c-0.015-0.005-0.025-0.012-0.036-0.024
				c-0.462-0.493-0.811-0.727-1.341-1.075c-0.095-0.059-0.193-0.116-0.286-0.18c-0.002-0.001-0.003-0.002-0.005-0.003
				c-0.017-0.012-0.572-0.383-0.571-0.266c-0.407,0.012-0.063,0.183,0.31,0.34c-0.505,2.166-0.831,4.309-0.825,6.678
				c-0.653-0.729-2.052-1.72-3.033-1.618c0.94-0.015,2.214,1.033,2.778,1.782c0.007,0.009,0.014,0.019,0.023,0.028
				c0.008,0.012,0.02,0.023,0.027,0.034l0.007-0.004c0.086,0.074,0.236,0.163,0.428,0.24c0.308,0.123,0.581,0.165,0.609,0.092
				c0.029-0.072-0.196-0.231-0.504-0.354c-0.011-0.005-0.021-0.007-0.031-0.011c-0.044-2.395,0.265-4.567,0.753-6.77
				c0.123,0.05,0.233,0.096,0.293,0.126c0.511,0.286,0.894,0.558,1.318,1.013c0.025,0.026,0.048,0.042,0.08,0.053
				c0.031,0.01,0.056,0.01,0.083,0.001c0.027-0.011,0.043-0.026,0.058-0.052c0.013-0.028,0.016-0.053,0.011-0.087
				c-0.113-0.684-0.276-1.236-0.604-1.889c-0.154-0.292-0.351-0.621-0.578-0.864c-0.036-0.037-0.117-0.117-0.207-0.202
				c0.106-0.41,0.216-0.823,0.33-1.241c0.081-0.294,0.068-0.392-0.035-0.395c0.022-0.078,0.043-0.159,0.065-0.236
				c0.005-0.001,0.015-0.002,0.019-0.002c0.152-0.021,0.401-0.145,0.534-0.218c0.19-0.105,0.336-0.209,0.481-0.373
				c0.07-0.084,0.117-0.157,0.158-0.26c0.04-0.11,0.053-0.197,0.043-0.313C12.34,5.45,12.33,5.417,12.309,5.377
				c-0.021-0.037-0.042-0.062-0.074-0.09c-0.059-0.047-0.111-0.069-0.184-0.088c-0.141-0.03-0.264-0.023-0.405-0.002
				c-0.015,0.002-0.026,0.01-0.04,0.013c0.157-0.402,0.322-0.801,0.511-1.223c0.313-0.7,0.336-0.451-0.712-0.692
				c-0.155-0.036-0.311-0.073-0.466-0.109c-0.037-0.149,0.248-0.765,0.482-1.015C11.421,2.17,12.239,2.454,12.577,1.514z
				 M3.186,3.958c0,0.003-0.001,0.005-0.001,0.008C3.182,3.962,3.179,3.958,3.175,3.954C3.179,3.956,3.183,3.956,3.186,3.958z
				 M2.353,8.449C1.693,7.6,0.971,5.951,0.389,4.943C0.381,4.93,0.379,4.919,0.38,4.905C0.381,4.891,0.386,4.881,0.395,4.87
				c0.042-0.05,0.058-0.098,0.067-0.162c0.009-0.076,0.002-0.14-0.012-0.214C0.421,4.36,0.373,4.231,0.296,4.118
				c-0.007-0.01-0.01-0.019-0.01-0.031c0.001-0.012,0.005-0.021,0.013-0.03c0.008-0.008,0.017-0.013,0.028-0.015
				c0.012-0.001,0.021,0,0.031,0.007C0.852,4.377,1.299,4.728,1.71,5.156c0.074,0.079,0.147,0.158,0.22,0.238
				c0.059,0.063,0.514,0.621,0.708,0.814C2.592,7.069,2.6,7.937,2.658,8.807C2.542,8.655,2.368,8.466,2.353,8.449z M3.112,4.221
				C3.104,4.234,3,4.376,3.093,4.32c0.005,0,0.008-0.002,0.013-0.003C3.073,4.471,3.041,4.622,3.011,4.768
				C2.952,4.709,2.891,4.657,2.883,4.65C2.782,4.561,2.708,4.452,2.642,4.334C2.568,4.196,2.525,4.078,2.509,3.921
				C2.5,3.762,2.524,3.643,2.613,3.509C2.636,3.476,2.66,3.457,2.699,3.443c0.037-0.01,0.064-0.009,0.101,0
				c0.075,0.024,0.127,0.067,0.18,0.125c0.038,0.049,0.069,0.101,0.075,0.165c0.001,0.012,0.002,0.054,0.006,0.097
				C3.042,3.813,3.024,3.797,3.007,3.785c-0.071-0.046-0.149-0.083-0.236-0.07C2.75,3.717,2.729,3.722,2.713,3.736
				C2.705,3.744,2.674,3.777,2.672,3.788c-0.019,0.037-0.036,0.066-0.01,0.101c0.005,0.005,0.063,0.055,0.056,0.026
				C2.715,3.892,2.73,3.874,2.745,3.859l0.001-0.001c0.055-0.053,0.138-0.024,0.197,0.005C3.07,3.929,3.191,4.076,3.112,4.221z
				 M10.835,6.704l0.008-0.031c0.017,0.003,0.033,0.005,0.054,0.005C10.875,6.686,10.848,6.698,10.835,6.704z M10.791,3.15
				c-0.049-0.011-0.098-0.023-0.146-0.034c-0.12-0.295,0.217-0.817,0.437-1.002c0.023-0.018,0.24-0.206,0.16-0.249
				c-0.212-0.298-0.131-0.742,0.186-0.996c0.319-0.257,0.755-0.224,0.974,0.075c0.218,0.298,0.137,0.749-0.183,1.005
				c-0.214,0.173-0.479,0.204-0.696,0.121c-0.007,0.005-0.013,0.013-0.02,0.019c0.015-0.036,0.017-0.066-0.031-0.07
				c-0.036,0.004-0.139,0.106-0.188,0.14C11.2,2.242,10.847,2.822,10.791,3.15z"/>
			<path d="M6.782,5.452C6.733,5.436,6.696,5.42,6.653,5.392C6.549,5.317,6.449,5.165,6.407,5.414
				c-0.07,0.028,0.034,0.103,0.07,0.12c0.039,0.015,0.071,0.02,0.113,0.02c0.041,0,0.099,0.006,0.14,0.013
				c0.168,0.01,0.288,0.014,0.458-0.003C7.484,5.529,7.686,5.46,7.961,5.406C8.037,5.39,8.381,5.25,8.235,5.194
				C8.202,5.189,8.057,5.251,7.972,5.263C7.705,5.316,7.555,5.429,7.18,5.475C7.04,5.487,6.919,5.487,6.782,5.452z"/>
			<path d="M7.267,3.718C7.226,3.704,7.19,3.682,7.154,3.66C7.103,3.628,7.054,3.597,6.999,3.568
				c-0.047-0.024-0.088-0.042-0.14-0.053c-0.04-0.007-0.072-0.009-0.112,0.004C6.729,3.526,6.715,3.534,6.698,3.547
				C6.678,3.563,6.663,3.58,6.648,3.602C6.597,3.672,6.571,3.747,6.546,3.83C6.532,3.865,6.519,3.899,6.501,3.932
				c-0.043,0.096-0.084,0.382,0.025,0.31c0.027-0.029,0.045-0.16,0.091-0.244c0.019-0.036,0.036-0.118,0.046-0.16
				c0.014-0.067,0.031-0.135,0.07-0.192C6.741,3.633,6.75,3.623,6.763,3.613c0.006-0.005,0.012-0.008,0.02-0.011
				c0.02-0.005,0.037-0.003,0.057,0.001c0.039,0.009,0.07,0.024,0.104,0.045c0.043,0.027,0.076,0.054,0.113,0.088
				C7.09,3.771,7.118,3.803,7.147,3.841c0.075,0.104,0.131,0.212,0.234,0.042C7.45,3.881,7.394,3.797,7.368,3.771
				C7.336,3.745,7.306,3.73,7.267,3.718z"/>
		</g>
	</g>
</g>
<g id="Layer_2" style="display:none;">
</g>
</svg>
                </p>
            </div>
        </ion-slide>
        <ion-slide class="intro-screen-2">
            <div class="img-holder padding">
                <p class="intro-title"><b>Create and participate</b> in open discoverable chat groups with no size constraints</p>
            </div>
        </ion-slide>
        <ion-slide class="intro-screen-3">
            <div class="img-holder padding">
                <p class="intro-title"><b>Discover interesting groups</b> by browsing, searching and filtering by category or location</p>
            </div>
        </ion-slide>
        <ion-slide class="intro-screen-4">
            <div class="img-holder padding">
                <p class="intro-title">Enjoy your <b>privacy by joining</b> any group under a username created
                    on the fly</p>
            </div>
        </ion-slide>
        <ion-slide class="intro-screen-5">
            <div class="img-holder padding">
                <p class="intro-title">Create special groups such as
                    <b>sub-groups and 02M groups</b> based
                    on your needs</p>
            </div>
        </ion-slide>
        <ion-slide ng-if="justStarting">
            <div class="padding box">
            <h3>Okay, let's rock-n-roll!</h3>
            <div class="mascot">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	  class="mascot-item" viewBox="0 0 12.813 18.185" style="enable-background:new 0 0 12.813 18.185;"
	 xml:space="preserve" >
<g id="Layer_1">
	<g>
		<g>
			<defs>
				<path id="SVGID_1_" d="M-41.903,2.456c0.333,0.382,0.273,1.005-0.133,1.393c-0.406,0.387-1.005,0.392-1.337,0.009
					c-0.333-0.382-0.273-1.006,0.133-1.393S-42.235,2.073-41.903,2.456L-41.903,2.456z"/>
			</defs>
			<radialGradient id="SVGID_2_" cx="-42.6382" cy="3.1563" r="0.9679" gradientUnits="userSpaceOnUse">
				<stop  offset="0" style="stop-color:#FFFFFF"/>
				<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
			</radialGradient>
			<use xlink:href="#SVGID_1_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_2_);"/>
			<clipPath id="SVGID_3_">
				<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
			</clipPath>
		</g>
	</g>
	<g>
		<g>
			<path style="fill:#FFFFFF;" d="M10.791,3.15c0.056-0.329,0.409-0.909,0.491-0.991c0.05-0.034,0.152-0.136,0.188-0.14
				c0.048,0.003,0.046,0.034,0.031,0.07c0.007-0.005,0.013-0.014,0.02-0.019c0.218,0.083,0.482,0.052,0.696-0.121
				c0.319-0.257,0.4-0.707,0.183-1.005c-0.219-0.298-0.654-0.332-0.974-0.075c-0.316,0.254-0.397,0.698-0.186,0.996
				c0.08,0.043-0.137,0.231-0.16,0.249c-0.22,0.185-0.557,0.707-0.437,1.002C10.693,3.127,10.742,3.139,10.791,3.15z"/>
			<path style="fill:#FFFFFF;" d="M2.944,3.863C2.885,3.834,2.801,3.805,2.747,3.858L2.745,3.859
				C2.73,3.874,2.715,3.892,2.718,3.915c0.006,0.028-0.051-0.021-0.056-0.026c-0.026-0.034-0.009-0.063,0.01-0.101
				c0.002-0.01,0.033-0.044,0.042-0.052C2.729,3.722,2.75,3.717,2.771,3.715c0.087-0.013,0.165,0.024,0.236,0.07
				c0.017,0.012,0.035,0.028,0.053,0.044C3.057,3.786,3.056,3.744,3.055,3.732C3.048,3.668,3.018,3.617,2.979,3.567
				C2.927,3.51,2.875,3.467,2.8,3.443c-0.037-0.008-0.064-0.01-0.101,0C2.66,3.457,2.636,3.476,2.613,3.509
				C2.524,3.643,2.5,3.762,2.509,3.921c0.016,0.157,0.059,0.275,0.133,0.414c0.065,0.117,0.14,0.227,0.241,0.316
				c0.008,0.007,0.069,0.059,0.128,0.117c0.03-0.146,0.062-0.296,0.095-0.451C3.101,4.317,3.099,4.319,3.093,4.32
				C3,4.376,3.104,4.234,3.112,4.221C3.191,4.076,3.07,3.929,2.944,3.863z"/>
			<path style="fill:#FFFFFF;" d="M7.595,3.265C7.578,3.409,7.586,3.519,7.62,3.656c0.041,0.14,0.092,0.237,0.183,0.347
				c0.094,0.106,0.181,0.171,0.31,0.229c0.127,0.053,0.231,0.072,0.371,0.072c0.141-0.006,0.248-0.03,0.38-0.088
				C9,4.154,9.096,4.085,9.202,3.976c0.102-0.111,0.166-0.21,0.218-0.352c0.022-0.064,0.024-0.127,0.029-0.19
				C9.505,3.197,9.47,2.963,9.358,2.76L8.097,2.5C8.089,2.503,8.082,2.508,8.075,2.511c0.002,0,0.006,0.001,0.008,0.002
				C8.081,2.515,8.078,2.516,8.075,2.517c-0.003,0-0.006-0.001-0.009-0.002C8.035,2.53,8.005,2.541,7.975,2.566
				C7.862,2.664,7.789,2.753,7.716,2.885C7.648,3.015,7.614,3.123,7.595,3.265z"/>
			<path style="fill:#FFFFFF;" d="M12.15,5.362c-0.045-0.034-0.087-0.05-0.143-0.062c-0.128-0.02-0.24-0.006-0.363,0.027
				c-0.051,0.017-0.093,0.049-0.138,0.076c-0.005,0.014-0.012,0.026-0.017,0.039c-0.032,0.01-0.06,0.023-0.09,0.035
				c-0.031,0.035-0.082,0.092-0.082,0.093c-0.004,0.003-0.012,0.009-0.017,0.013c0.133-0.056,0.265-0.097,0.327-0.11
				c0.125-0.022,0.281-0.042,0.396,0.024c0.021,0.01,0.041,0.022,0.056,0.041c0.002,0.004,0.011,0.018,0.012,0.02
				c0.016,0.026,0.024,0.048,0.027,0.078c0.001,0.025-0.003,0.043-0.012,0.066c-0.017,0.028-0.021,0.045-0.058,0.048
				c-0.04,0.003-0.067-0.042-0.065-0.042c0-0.002,0.007,0.002,0.011,0.002c0.009,0,0.012-0.004,0.013-0.013
				c0-0.016-0.009-0.029-0.019-0.041c0,0-0.007-0.012-0.008-0.013c-0.068-0.09-0.229-0.078-0.327-0.066
				c-0.183,0.027-0.531,0.129-0.554,0.352c0.001,0.032,0.02,0.205-0.043,0.113c-0.273-0.151-0.073-0.313,0.168-0.426
				c-0.016,0.002-0.034,0.012-0.043-0.008c-0.328-0.028-0.13-0.195,0.051-0.291c0.056-0.028,0.116-0.036,0.172-0.055
				c0.237-0.552,0.483-1.101,0.772-1.696c-0.411-0.103-0.824-0.212-1.237-0.319c0.024,0.047,0.076,0.159-0.005,0.121
				c-0.047,0.009-0.083-0.155-0.109-0.167l-0.163-0.025c0.024,0.05,0.044,0.106-0.018,0.085c-0.152,0.057-0.204-0.012-0.196-0.14
				C10.157,3.045,9.865,2.97,9.572,2.895c0.04,0.121,0.06,0.229,0.056,0.364c-0.01,0.154-0.039,0.272-0.102,0.416
				c-0.07,0.151-0.145,0.256-0.261,0.374C9.146,4.165,9.041,4.236,8.893,4.301C8.748,4.361,8.631,4.385,8.479,4.39
				c-0.15-0.001-0.264-0.023-0.401-0.08c-0.14-0.063-0.234-0.133-0.337-0.249C7.643,3.943,7.586,3.837,7.54,3.685
				C7.501,3.537,7.491,3.417,7.507,3.261c0.02-0.156,0.055-0.273,0.125-0.416c0.077-0.146,0.154-0.248,0.274-0.359
				c0.003-0.002,0.007-0.004,0.01-0.007c-0.16-0.038-0.328-0.069-0.49-0.105c0.005,0.023,0.012,0.044,0.016,0.069
				C7.46,2.596,7.453,2.718,7.42,2.871C7.381,3.033,7.329,3.15,7.241,3.287C7.171,3.39,7.099,3.464,7.016,3.536
				c-0.028-0.021-0.06-0.03-0.089-0.044c0.078-0.065,0.146-0.131,0.205-0.217c0.001-0.001,0.003-0.002,0.004-0.004
				C7.137,3.27,7.137,3.268,7.139,3.266c0.009-0.014,0.02-0.024,0.029-0.039c0.044-0.073,0.074-0.144,0.099-0.216V3.01
				c0.092-0.23,0.076-0.464,0.009-0.68l-1.43-0.295C5.844,2.037,5.843,2.038,5.842,2.039C5.828,2.037,5.816,2.033,5.803,2.031
				C5.789,2.046,5.775,2.057,5.762,2.074C5.673,2.192,5.62,2.294,5.574,2.438C5.57,2.453,5.572,2.465,5.569,2.479
				c-0.018,0.06-0.014,0.118-0.021,0.178C5.541,2.714,5.523,2.769,5.527,2.834c0,0.003,0.001,0.004,0.001,0.007
				c0.007,0.135,0.04,0.265,0.099,0.382c0.061,0.123,0.125,0.208,0.227,0.296c0.108,0.087,0.201,0.134,0.333,0.166
				c0.129,0.027,0.231,0.027,0.362,0c0.006-0.001,0.01-0.006,0.016-0.007C6.557,3.707,6.548,3.736,6.542,3.771
				C6.409,3.794,6.301,3.796,6.168,3.769C6.025,3.733,5.924,3.682,5.807,3.588C5.691,3.49,5.62,3.398,5.551,3.257
				c-0.064-0.139-0.094-0.254-0.107-0.41C5.435,2.69,5.447,2.568,5.488,2.414C5.534,2.255,5.59,2.142,5.683,2.009
				C5.102,1.9,4.519,1.795,3.946,1.712c-0.417,1.275-0.784,2.6-0.819,3.949C4.168,6.5,5.17,7.206,6.352,7.88
				c0.797-0.124,1.66-0.255,2.491-0.417c0.414-0.08,0.82-0.165,1.204-0.265c0.268-0.07,0.476-0.148,0.64-0.211
				c0.046-0.109,0.089-0.216,0.132-0.322c-0.013-0.004-0.029-0.005-0.036-0.011c-0.101-0.124,0.357-0.173,0.417-0.187
				c0.135-0.029,0.257-0.08,0.381-0.14c0.185-0.087,0.328-0.181,0.468-0.331c0.064-0.074,0.107-0.139,0.145-0.23
				c0.034-0.094,0.045-0.168,0.035-0.268c-0.004-0.029-0.011-0.051-0.025-0.078C12.188,5.397,12.173,5.38,12.15,5.362z"/>
		</g>
		<g>
			<polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" points="12.073,11.623 12.073,11.624 12.074,11.625 			"/>
			<polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" points="4.789,17.007 4.794,17.001 4.779,17.006 			"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M10.293,8.162c0.056,0.02,0.158,0.103,0.267,0.196
				c0.103-0.375,0.208-0.754,0.317-1.137c-0.028,0.008-0.058,0.018-0.089,0.008c-0.014-0.004-0.019-0.018-0.03-0.025
				C9.512,7.588,7.561,7.913,6.363,8.034C6.13,8.058,3.884,6.371,3.534,6.076C3.288,5.868,3.211,5.801,3.119,5.71
				C3.092,5.769,3.04,5.813,2.972,5.805c-0.001,0-0.002-0.001-0.003-0.001C2.62,9.68,3.384,13.112,4.513,16.805
				c0.064,0.005,0.119,0.013,0.17,0.022c0.158-0.347,1.548-1.157,1.958-1.221c0.056,0.001,0.28-0.013,0.323,0.023
				c0.004,0.005-0.006,0.007-0.004,0.011c0.146,0.035,0.277,0.084,0.412,0.13c-0.398-0.229-0.808-0.381-1.167-0.375
				c0.981-0.102,2.38,0.889,3.033,1.618c-0.006-2.369,0.32-4.512,0.825-6.678c-0.372-0.157-0.717-0.328-0.31-0.34
				c-0.001-0.117,0.555,0.254,0.571,0.266c0.002,0.001,0.003,0.002,0.005,0.003c0.093,0.063,0.191,0.121,0.286,0.18
				c0.53,0.349,0.879,0.582,1.341,1.075c0.011,0.013,0.021,0.02,0.036,0.024c0.014,0.005,0.025,0.005,0.037,0
				c0.011-0.004,0.017-0.011,0.021-0.02c-0.178-1.019-0.556-1.988-1.238-2.753C10.563,8.506,10.229,8.15,10.293,8.162z"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M4.924,16.806c-0.001,0.005-0.005,0.021-0.01,0.039
				c0.164-0.23,0.38-0.448,0.643-0.637C5.264,16.395,5.009,16.61,4.924,16.806z"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M2.638,6.208C2.444,6.015,1.989,5.457,1.931,5.394
				c-0.073-0.08-0.146-0.16-0.22-0.238C1.299,4.728,0.852,4.377,0.358,4.05c-0.01-0.006-0.019-0.008-0.031-0.007
				c-0.011,0.002-0.02,0.006-0.028,0.015c-0.008,0.009-0.012,0.018-0.013,0.03c0,0.012,0.003,0.021,0.01,0.031
				C0.373,4.231,0.421,4.36,0.45,4.493c0.014,0.075,0.021,0.138,0.012,0.214C0.453,4.771,0.437,4.82,0.395,4.87
				C0.386,4.881,0.381,4.891,0.38,4.905C0.379,4.919,0.381,4.93,0.389,4.943C0.971,5.951,1.693,7.6,2.353,8.449
				c0.015,0.017,0.189,0.206,0.305,0.357C2.6,7.937,2.592,7.069,2.638,6.208z"/>
			<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#05A5C5;" d="M0.317,4.979c0.001,0.002-0.002,0.006,0,0.008
				c0.721,1.34,1.456,2.753,1.94,3.448C1.516,7.19,0.322,4.993,0.318,4.985C0.317,4.983,0.318,4.981,0.317,4.979z"/>
		</g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M4.916,10.271c-0.032,0.586,0.39,1.129,0.941,1.21
			c0.534,0.075,0.974-0.313,1.005-0.871c0.032-0.586-0.391-1.129-0.942-1.211C5.875,9.393,5.83,9.39,5.786,9.39
			C5.31,9.39,4.944,9.761,4.916,10.271z"/>
		<g>
			<g>
				<defs>
					<path id="SVGID_4_" d="M9.295,2.601c0.333,0.382,0.273,1.005-0.133,1.393C8.756,4.381,8.157,4.385,7.825,4.003
						C7.492,3.621,7.552,2.997,7.958,2.61S8.963,2.218,9.295,2.601L9.295,2.601z"/>
				</defs>
				<radialGradient id="SVGID_5_" cx="8.5605" cy="3.3018" r="0.9679" gradientUnits="userSpaceOnUse">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
				</radialGradient>
				<use xlink:href="#SVGID_4_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_5_);"/>
				<clipPath id="SVGID_6_">
					<use xlink:href="#SVGID_4_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<g>
			<g>
				<defs>
					<path id="SVGID_7_" d="M7.054,1.905c0.385,0.316,0.429,0.929,0.098,1.371C6.822,3.717,6.244,3.82,5.86,3.504
						c-0.385-0.315-0.43-0.929-0.1-1.371C6.09,1.692,6.669,1.59,7.054,1.905L7.054,1.905z"/>
				</defs>

					<radialGradient id="SVGID_8_" cx="6.1245" cy="3.25" r="0.9503" gradientTransform="matrix(0.986 -0.1667 0.1667 0.986 -0.1234 0.5218)" gradientUnits="userSpaceOnUse">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
				</radialGradient>
				<use xlink:href="#SVGID_7_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_8_);"/>
				<clipPath id="SVGID_9_">
					<use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M6.797,2.403c0.114,0.045,0.146,0.23,0.071,0.413
			C6.795,3,6.643,3.111,6.529,3.065s-0.146-0.23-0.071-0.413C6.532,2.469,6.684,2.358,6.797,2.403L6.797,2.403z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M6.803,2.395c0.048,0.027,0.048,0.12-0.001,0.208
			C6.753,2.691,6.674,2.74,6.625,2.713c-0.048-0.027-0.048-0.12,0.001-0.208C6.675,2.417,6.754,2.368,6.803,2.395L6.803,2.395z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M8.837,3.122c0.12,0.048,0.153,0.244,0.075,0.437
			S8.674,3.87,8.554,3.822S8.4,3.578,8.479,3.385S8.717,3.074,8.837,3.122L8.837,3.122z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M8.831,3.112c0.053,0.026,0.057,0.125,0.01,0.22
			C8.794,3.427,8.713,3.483,8.66,3.458c-0.053-0.026-0.058-0.125-0.01-0.22C8.697,3.142,8.778,3.086,8.831,3.112L8.831,3.112z"/>
		<path style="fill:#231F20;" d="M6.513,10.3l0.021-0.39c0-0.025-0.018-0.049-0.042-0.054L5.33,9.686
			C5.306,9.684,5.286,9.7,5.282,9.726l-0.021,0.39c0,0.025,0.019,0.048,0.042,0.053l0.208,0.031c0.023,0.002,0.044-0.016,0.047-0.04
			l0.009-0.151l0.655,0.097l-0.009,0.151c0,0.025,0.019,0.048,0.042,0.053l0.208,0.031C6.489,10.342,6.509,10.324,6.513,10.3
			L6.513,10.3z M5.727,10.237c-0.009,0.168-0.019,0.336-0.028,0.504l-0.124-0.02c-0.024-0.003-0.044,0.014-0.047,0.04l-0.011,0.192
			c0,0.024,0.019,0.048,0.042,0.053l0.571,0.085c0.024,0.002,0.044-0.015,0.047-0.04l0.01-0.191c0-0.026-0.019-0.049-0.042-0.054
			l-0.124-0.018l0.028-0.504c0-0.025-0.018-0.049-0.042-0.054l-0.234-0.034C5.75,10.195,5.729,10.212,5.727,10.237L5.727,10.237z"/>
		<g>
			<path style="fill:#231F20;" d="M6.002,8.839C5.136,8.713,4.398,9.358,4.35,10.24c-0.048,0.871,0.592,1.68,1.425,1.802
				c0.074,0.011,0.147,0.017,0.219,0.017c0.773,0,1.39-0.609,1.435-1.417C7.477,9.771,6.837,8.962,6.002,8.839z M5.857,11.481
				c-0.551-0.081-0.974-0.624-0.941-1.21C4.944,9.761,5.31,9.39,5.786,9.39c0.044,0,0.089,0.003,0.134,0.01
				c0.552,0.082,0.975,0.625,0.942,1.211C6.831,11.169,6.392,11.557,5.857,11.481z"/>
			<path style="fill:#231F20;" d="M5.33,9.686C5.306,9.684,5.286,9.7,5.282,9.726l-0.021,0.39c0,0.025,0.019,0.048,0.042,0.053
				l0.208,0.031c0.023,0.002,0.044-0.016,0.047-0.04l0.009-0.151l0.655,0.097l-0.009,0.151c0,0.025,0.019,0.048,0.042,0.053
				l0.208,0.031c0.024,0.002,0.044-0.016,0.048-0.04l0.021-0.39c0-0.025-0.018-0.049-0.042-0.054L5.33,9.686z"/>
			<path style="fill:#231F20;" d="M6.022,10.789l0.028-0.504c0-0.025-0.018-0.049-0.042-0.054l-0.234-0.034
				c-0.024-0.002-0.044,0.015-0.047,0.04c-0.009,0.168-0.019,0.336-0.028,0.504l-0.124-0.02c-0.024-0.003-0.044,0.014-0.047,0.04
				l-0.011,0.192c0,0.024,0.019,0.048,0.042,0.053l0.571,0.085c0.024,0.002,0.044-0.015,0.047-0.04l0.01-0.191
				c0-0.026-0.019-0.049-0.042-0.054L6.022,10.789z"/>
		</g>
		<g>
			<g>
				<defs>
					<path id="SVGID_10_" d="M9.295,2.601c0.333,0.382,0.273,1.005-0.133,1.393C8.756,4.381,8.157,4.385,7.825,4.003
						C7.492,3.621,7.552,2.997,7.958,2.61S8.963,2.218,9.295,2.601L9.295,2.601z"/>
				</defs>
				<radialGradient id="SVGID_11_" cx="8.5605" cy="3.3018" r="0.9679" gradientUnits="userSpaceOnUse">
					<stop  offset="0" style="stop-color:#FFFFFF"/>
					<stop  offset="0.7192" style="stop-color:#DFF3F8"/>
				</radialGradient>
				<use xlink:href="#SVGID_10_"  style="overflow:visible;fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_11_);"/>
				<clipPath id="SVGID_12_">
					<use xlink:href="#SVGID_10_"  style="overflow:visible;"/>
				</clipPath>
			</g>
		</g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M8.837,3.122c0.12,0.048,0.153,0.244,0.075,0.437
			S8.674,3.87,8.554,3.822S8.4,3.578,8.479,3.385S8.717,3.074,8.837,3.122L8.837,3.122z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M8.831,3.112c0.053,0.026,0.057,0.125,0.01,0.22
			C8.794,3.427,8.713,3.483,8.66,3.458c-0.053-0.026-0.058-0.125-0.01-0.22C8.697,3.142,8.778,3.086,8.831,3.112L8.831,3.112z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#414042;" d="M6.797,2.403c0.114,0.045,0.146,0.23,0.071,0.413
			C6.795,3,6.643,3.111,6.529,3.065s-0.146-0.23-0.071-0.413C6.532,2.469,6.684,2.358,6.797,2.403L6.797,2.403z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M6.803,2.395c0.048,0.027,0.048,0.12-0.001,0.208
			C6.753,2.691,6.674,2.74,6.625,2.713c-0.048-0.027-0.048-0.12,0.001-0.208C6.675,2.417,6.754,2.368,6.803,2.395L6.803,2.395z"/>
		<g>
			<path d="M12.577,1.514c0.141-0.391-0.136-0.775-0.328-0.859c-0.25-0.109-0.738-0.179-1.094,0.391c-0.234,0.375,0,0.859,0,0.859
				c0.006,0.008-0.344,0.356-0.337,0.363c-0.15,0.248-0.311,0.59-0.344,0.809c-0.297-0.07-0.595-0.14-0.892-0.209
				c-0.001-0.002,0-0.004-0.001-0.006c-0.114-0.249-0.271-0.475-0.23-0.156c0.14,0.216,0.175,0.476,0.113,0.734
				C9.46,3.502,9.458,3.565,9.436,3.63C9.384,3.771,9.319,3.87,9.218,3.98C9.111,4.09,9.016,4.158,8.879,4.222
				C8.747,4.279,8.64,4.303,8.499,4.309c-0.14,0-0.244-0.019-0.371-0.072c-0.129-0.058-0.216-0.123-0.31-0.229
				C7.728,3.898,7.677,3.8,7.636,3.66C7.602,3.524,7.594,3.414,7.61,3.271C7.63,3.127,7.664,3.02,7.731,2.89
				C7.805,2.758,7.878,2.668,7.99,2.57c0.03-0.024,0.061-0.036,0.092-0.05c0.003,0,0.006,0.001,0.009,0.002
				C8.094,2.521,8.097,2.52,8.099,2.518c-0.002,0-0.006-0.001-0.008-0.002c0.022-0.01,0.046-0.025,0.067-0.037
				c0.059-0.036,0.114-0.074,0.177-0.097l0.001,0C8.357,2.375,8.379,2.37,8.4,2.366c0.007-0.001,0.014,0,0.021-0.001
				c0.312-0.082,0.635-0.017,0.854,0.222c0.007-0.002,0.02,0.002,0.018-0.01C9.256,2.47,9.134,2.391,9.045,2.337
				C8.928,2.271,8.827,2.238,8.693,2.216c-0.016-0.002-0.03-0.004-0.045-0.005c-0.121-0.01-0.234,0.014-0.352,0.053
				C8.156,2.317,8.053,2.381,7.938,2.479c-0.149-0.036-0.317-0.075-0.5-0.118C7.415,2.255,7.385,2.162,7.328,2.063
				c-0.15-0.219-0.335-0.411-0.251-0.127C7.082,1.94,7.084,1.946,7.089,1.95c0.055,0.052,0.101,0.11,0.136,0.173
				c0.159,0.258,0.18,0.585,0.058,0.892v0C7.258,3.088,7.228,3.158,7.184,3.232c-0.01,0.015-0.021,0.025-0.029,0.039
				C7.152,3.273,7.152,3.275,7.151,3.276S7.148,3.279,7.147,3.28c-0.06,0.085-0.127,0.151-0.205,0.216
				C6.972,3.51,7.003,3.52,7.031,3.541c0.083-0.071,0.155-0.146,0.226-0.249c0.088-0.138,0.14-0.254,0.179-0.416
				c0.033-0.153,0.04-0.275,0.021-0.429C7.453,2.422,7.446,2.402,7.441,2.378c0.162,0.036,0.33,0.068,0.49,0.105
				c-0.003,0.003-0.007,0.004-0.01,0.007C7.802,2.603,7.725,2.703,7.647,2.85c-0.07,0.143-0.105,0.26-0.125,0.417
				C7.507,3.422,7.517,3.542,7.556,3.69c0.046,0.152,0.103,0.257,0.201,0.376c0.103,0.116,0.197,0.186,0.337,0.249
				c0.138,0.057,0.251,0.079,0.401,0.08C8.646,4.39,8.764,4.365,8.908,4.306c0.148-0.065,0.254-0.137,0.373-0.252
				c0.116-0.118,0.19-0.223,0.261-0.374c0.063-0.144,0.092-0.262,0.102-0.417C9.647,3.128,9.628,3.021,9.588,2.9
				c0.293,0.076,0.585,0.15,0.878,0.227c-0.008,0.128,0.044,0.196,0.196,0.14c0.062,0.021,0.042-0.035,0.018-0.085l0.102,0.026
				c-0.008,0.118,0.034,0.192,0.171,0.166c0.081,0.038,0.029-0.074,0.005-0.121c0.413,0.107,0.826,0.216,1.237,0.319
				c-0.289,0.596-0.535,1.145-0.772,1.696c-0.056,0.019-0.116,0.026-0.172,0.055c-0.181,0.095-0.379,0.263-0.051,0.291
				c0.009,0.02,0.027,0.01,0.043,0.008c-0.241,0.113-0.441,0.274-0.168,0.426c0.063,0.091,0.044-0.082,0.043-0.114
				c0.022-0.223,0.371-0.324,0.554-0.351c0.098-0.012,0.259-0.023,0.327,0.066c0.001,0.001,0.008,0.013,0.008,0.013
				c0.01,0.012,0.019,0.025,0.019,0.041c-0.001,0.008-0.004,0.013-0.013,0.013c-0.004,0-0.011-0.004-0.011-0.002
				c-0.002,0,0.025,0.045,0.065,0.042c0.037-0.003,0.041-0.02,0.058-0.047c0.009-0.023,0.013-0.042,0.012-0.067
				c-0.003-0.03-0.012-0.052-0.027-0.078c-0.001-0.003-0.01-0.016-0.012-0.02c-0.015-0.019-0.034-0.031-0.056-0.042
				c-0.115-0.065-0.271-0.046-0.396-0.024c-0.063,0.014-0.194,0.055-0.327,0.11c0.005-0.004,0.013-0.01,0.017-0.013
				c0,0,0.051-0.058,0.082-0.093c0.03-0.011,0.058-0.024,0.09-0.035c0.005-0.013,0.012-0.026,0.017-0.039
				c0.045-0.027,0.087-0.06,0.138-0.076c0.123-0.034,0.235-0.048,0.363-0.028c0.056,0.012,0.098,0.027,0.143,0.062
				c0.022,0.019,0.037,0.035,0.052,0.06c0.015,0.026,0.021,0.048,0.025,0.078c0.01,0.1-0.001,0.174-0.035,0.268
				c-0.037,0.091-0.08,0.155-0.145,0.229c-0.14,0.151-0.283,0.245-0.468,0.332c-0.124,0.06-0.246,0.11-0.381,0.14
				c-0.06,0.014-0.518,0.063-0.417,0.187c0.007,0.006,0.023,0.007,0.036,0.011c-0.043,0.106-0.086,0.213-0.132,0.322
				c-0.164,0.063-0.372,0.141-0.64,0.211C8.906,7.504,7.56,7.7,6.367,7.885C5.185,7.21,4.183,6.504,3.143,5.667
				c0.035-1.35,0.402-2.674,0.819-3.95C4.534,1.8,5.117,1.905,5.698,2.015C5.605,2.147,5.55,2.26,5.503,2.419
				C5.462,2.572,5.45,2.695,5.459,2.852c0.013,0.156,0.043,0.271,0.106,0.41c0.07,0.141,0.142,0.233,0.256,0.332
				c0.118,0.094,0.219,0.145,0.362,0.18C6.316,3.802,6.425,3.8,6.558,3.775C6.563,3.74,6.571,3.711,6.58,3.683
				C6.574,3.685,6.57,3.689,6.563,3.69c-0.131,0.027-0.232,0.027-0.361,0C6.07,3.658,5.978,3.611,5.87,3.524
				C5.768,3.436,5.704,3.351,5.643,3.228C5.583,3.111,5.551,2.981,5.544,2.846v0c0-0.002-0.001-0.004-0.001-0.006
				C5.54,2.774,5.556,2.719,5.564,2.662c0.007-0.06,0.003-0.119,0.021-0.178C5.588,2.47,5.586,2.458,5.59,2.443
				c0.046-0.144,0.099-0.246,0.187-0.364c0.014-0.017,0.028-0.028,0.042-0.044c0.013,0.002,0.025,0.006,0.039,0.008
				C5.87,2.03,5.884,2.019,5.897,2.006C5.884,2.002,5.87,1.999,5.855,1.996c0.063-0.065,0.128-0.121,0.214-0.167
				c0.019-0.01,0.038-0.019,0.058-0.028c0.093-0.038,0.17-0.058,0.267-0.068C6.417,1.73,6.437,1.738,6.458,1.738
				c0.171-0.016,0.336,0.024,0.486,0.113h0.001c0.04,0.011,0.069,0.014,0.06-0.013C6.952,1.741,6.821,1.686,6.729,1.65
				C6.606,1.608,6.506,1.594,6.376,1.599c-0.015,0-0.029,0.001-0.044,0.003C6.217,1.615,6.114,1.66,6.011,1.721
				C5.899,1.792,5.819,1.869,5.737,1.97c-0.97-0.214-1.82-0.383-1.85-0.318C3.639,2.203,3.423,2.964,3.244,3.714
				C3.186,3.616,3.108,3.516,3.056,3.465C2.98,3.404,2.914,3.361,2.817,3.339c-0.056-0.01-0.099-0.008-0.154,0.01
				C2.604,3.372,2.565,3.404,2.53,3.457C2.435,3.612,2.406,3.745,2.415,3.925c0.014,0.169,0.055,0.297,0.125,0.45
				C2.601,4.5,2.726,4.722,2.839,4.808C2.862,4.824,2.922,4.87,2.982,4.911c-0.025,0.127-0.05,0.251-0.073,0.368
				c-0.017-0.01-0.03-0.026-0.051-0.028C2.773,5.242,2.696,5.303,2.687,5.388C2.665,5.615,2.66,5.846,2.646,6.075
				C2.479,5.808,2.113,5.397,2.06,5.337c-0.004-0.004-0.037-0.039-0.037-0.04C1.574,4.799,0.962,4.338,0.405,3.974
				c-0.03-0.018-0.056-0.023-0.09-0.019C0.28,3.96,0.257,3.973,0.233,3.998C0.21,4.023,0.2,4.049,0.197,4.083
				c0,0.035,0.007,0.061,0.028,0.088c0.071,0.101,0.115,0.22,0.142,0.339c0.013,0.064,0.019,0.121,0.012,0.187
				C0.373,4.744,0.362,4.78,0.333,4.815c-0.021,0.026-0.031,0.05-0.035,0.083C0.295,4.932,0.302,4.957,0.318,4.985
				C0.323,4.995,2.14,8.337,2.68,9.111c0.206,2.586,0.826,5.173,1.714,7.553c0.023,0.063,0.034,0.097,0.047,0.139
				c-0.049-0.002-0.098-0.005-0.151-0.004c-0.332,0.008-0.599,0.077-0.597,0.155c0.002,0.078,0.272,0.136,0.604,0.128
				c0.243-0.005,0.448-0.044,0.542-0.095c0.013-0.004,0.023-0.015,0.034-0.034c0.006-0.009,0.021-0.017,0.021-0.025
				c0-0.002-0.004-0.003-0.004-0.005c0.02-0.05,0.033-0.107,0.035-0.117c0.187-0.433,1.198-0.973,1.653-1.05
				c0.025-0.002,0.463-0.022,0.387-0.126c-0.043-0.036-0.268-0.022-0.323-0.023c-0.409,0.063-1.799,0.874-1.958,1.221
				c-0.051-0.01-0.106-0.018-0.17-0.022C3.384,13.112,2.62,9.68,2.969,5.804c0.001,0,0.002,0.001,0.003,0.001
				C3.04,5.813,3.092,5.769,3.119,5.71c0.092,0.091,0.168,0.157,0.415,0.365c0.35,0.295,2.596,1.982,2.829,1.958
				c1.197-0.122,3.148-0.446,4.395-0.831c0.012,0.008,0.017,0.021,0.03,0.025c0.031,0.01,0.061,0,0.089-0.008
				c-0.109,0.383-0.215,0.762-0.317,1.137c-0.108-0.094-0.211-0.177-0.267-0.196c-0.095-0.018,0.669,0.756,0.769,0.874
				c0.154,0.192,0.271,0.377,0.39,0.594c0.334,0.634,0.5,1.183,0.61,1.852c0.002,0.016,0.001,0.026-0.005,0.039
				s-0.014,0.019-0.026,0.023c-0.012,0.005-0.023,0.005-0.037,0c-0.015-0.005-0.025-0.012-0.036-0.024
				c-0.462-0.493-0.811-0.727-1.341-1.075c-0.095-0.059-0.193-0.116-0.286-0.18c-0.002-0.001-0.003-0.002-0.005-0.003
				c-0.017-0.012-0.572-0.383-0.571-0.266c-0.407,0.012-0.063,0.183,0.31,0.34c-0.505,2.166-0.831,4.309-0.825,6.678
				c-0.653-0.729-2.052-1.72-3.033-1.618c0.94-0.015,2.214,1.033,2.778,1.782c0.007,0.009,0.014,0.019,0.023,0.028
				c0.008,0.012,0.02,0.023,0.027,0.034l0.007-0.004c0.086,0.074,0.236,0.163,0.428,0.24c0.308,0.123,0.581,0.165,0.609,0.092
				c0.029-0.072-0.196-0.231-0.504-0.354c-0.011-0.005-0.021-0.007-0.031-0.011c-0.044-2.395,0.265-4.567,0.753-6.77
				c0.123,0.05,0.233,0.096,0.293,0.126c0.511,0.286,0.894,0.558,1.318,1.013c0.025,0.026,0.048,0.042,0.08,0.053
				c0.031,0.01,0.056,0.01,0.083,0.001c0.027-0.011,0.043-0.026,0.058-0.052c0.013-0.028,0.016-0.053,0.011-0.087
				c-0.113-0.684-0.276-1.236-0.604-1.889c-0.154-0.292-0.351-0.621-0.578-0.864c-0.036-0.037-0.117-0.117-0.207-0.202
				c0.106-0.41,0.216-0.823,0.33-1.241c0.081-0.294,0.068-0.392-0.035-0.395c0.022-0.078,0.043-0.159,0.065-0.236
				c0.005-0.001,0.015-0.002,0.019-0.002c0.152-0.021,0.401-0.145,0.534-0.218c0.19-0.105,0.336-0.209,0.481-0.373
				c0.07-0.084,0.117-0.157,0.158-0.26c0.04-0.11,0.053-0.197,0.043-0.313C12.34,5.45,12.33,5.417,12.309,5.377
				c-0.021-0.037-0.042-0.062-0.074-0.09c-0.059-0.047-0.111-0.069-0.184-0.088c-0.141-0.03-0.264-0.023-0.405-0.002
				c-0.015,0.002-0.026,0.01-0.04,0.013c0.157-0.402,0.322-0.801,0.511-1.223c0.313-0.7,0.336-0.451-0.712-0.692
				c-0.155-0.036-0.311-0.073-0.466-0.109c-0.037-0.149,0.248-0.765,0.482-1.015C11.421,2.17,12.239,2.454,12.577,1.514z
				 M3.186,3.958c0,0.003-0.001,0.005-0.001,0.008C3.182,3.962,3.179,3.958,3.175,3.954C3.179,3.956,3.183,3.956,3.186,3.958z
				 M2.353,8.449C1.693,7.6,0.971,5.951,0.389,4.943C0.381,4.93,0.379,4.919,0.38,4.905C0.381,4.891,0.386,4.881,0.395,4.87
				c0.042-0.05,0.058-0.098,0.067-0.162c0.009-0.076,0.002-0.14-0.012-0.214C0.421,4.36,0.373,4.231,0.296,4.118
				c-0.007-0.01-0.01-0.019-0.01-0.031c0.001-0.012,0.005-0.021,0.013-0.03c0.008-0.008,0.017-0.013,0.028-0.015
				c0.012-0.001,0.021,0,0.031,0.007C0.852,4.377,1.299,4.728,1.71,5.156c0.074,0.079,0.147,0.158,0.22,0.238
				c0.059,0.063,0.514,0.621,0.708,0.814C2.592,7.069,2.6,7.937,2.658,8.807C2.542,8.655,2.368,8.466,2.353,8.449z M3.112,4.221
				C3.104,4.234,3,4.376,3.093,4.32c0.005,0,0.008-0.002,0.013-0.003C3.073,4.471,3.041,4.622,3.011,4.768
				C2.952,4.709,2.891,4.657,2.883,4.65C2.782,4.561,2.708,4.452,2.642,4.334C2.568,4.196,2.525,4.078,2.509,3.921
				C2.5,3.762,2.524,3.643,2.613,3.509C2.636,3.476,2.66,3.457,2.699,3.443c0.037-0.01,0.064-0.009,0.101,0
				c0.075,0.024,0.127,0.067,0.18,0.125c0.038,0.049,0.069,0.101,0.075,0.165c0.001,0.012,0.002,0.054,0.006,0.097
				C3.042,3.813,3.024,3.797,3.007,3.785c-0.071-0.046-0.149-0.083-0.236-0.07C2.75,3.717,2.729,3.722,2.713,3.736
				C2.705,3.744,2.674,3.777,2.672,3.788c-0.019,0.037-0.036,0.066-0.01,0.101c0.005,0.005,0.063,0.055,0.056,0.026
				C2.715,3.892,2.73,3.874,2.745,3.859l0.001-0.001c0.055-0.053,0.138-0.024,0.197,0.005C3.07,3.929,3.191,4.076,3.112,4.221z
				 M10.835,6.704l0.008-0.031c0.017,0.003,0.033,0.005,0.054,0.005C10.875,6.686,10.848,6.698,10.835,6.704z M10.791,3.15
				c-0.049-0.011-0.098-0.023-0.146-0.034c-0.12-0.295,0.217-0.817,0.437-1.002c0.023-0.018,0.24-0.206,0.16-0.249
				c-0.212-0.298-0.131-0.742,0.186-0.996c0.319-0.257,0.755-0.224,0.974,0.075c0.218,0.298,0.137,0.749-0.183,1.005
				c-0.214,0.173-0.479,0.204-0.696,0.121c-0.007,0.005-0.013,0.013-0.02,0.019c0.015-0.036,0.017-0.066-0.031-0.07
				c-0.036,0.004-0.139,0.106-0.188,0.14C11.2,2.242,10.847,2.822,10.791,3.15z"/>
			<path d="M6.782,5.452C6.733,5.436,6.696,5.42,6.653,5.392C6.549,5.317,6.449,5.165,6.407,5.414
				c-0.07,0.028,0.034,0.103,0.07,0.12c0.039,0.015,0.071,0.02,0.113,0.02c0.041,0,0.099,0.006,0.14,0.013
				c0.168,0.01,0.288,0.014,0.458-0.003C7.484,5.529,7.686,5.46,7.961,5.406C8.037,5.39,8.381,5.25,8.235,5.194
				C8.202,5.189,8.057,5.251,7.972,5.263C7.705,5.316,7.555,5.429,7.18,5.475C7.04,5.487,6.919,5.487,6.782,5.452z"/>
			<path d="M7.267,3.718C7.226,3.704,7.19,3.682,7.154,3.66C7.103,3.628,7.054,3.597,6.999,3.568
				c-0.047-0.024-0.088-0.042-0.14-0.053c-0.04-0.007-0.072-0.009-0.112,0.004C6.729,3.526,6.715,3.534,6.698,3.547
				C6.678,3.563,6.663,3.58,6.648,3.602C6.597,3.672,6.571,3.747,6.546,3.83C6.532,3.865,6.519,3.899,6.501,3.932
				c-0.043,0.096-0.084,0.382,0.025,0.31c0.027-0.029,0.045-0.16,0.091-0.244c0.019-0.036,0.036-0.118,0.046-0.16
				c0.014-0.067,0.031-0.135,0.07-0.192C6.741,3.633,6.75,3.623,6.763,3.613c0.006-0.005,0.012-0.008,0.02-0.011
				c0.02-0.005,0.037-0.003,0.057,0.001c0.039,0.009,0.07,0.024,0.104,0.045c0.043,0.027,0.076,0.054,0.113,0.088
				C7.09,3.771,7.118,3.803,7.147,3.841c0.075,0.104,0.131,0.212,0.234,0.042C7.45,3.881,7.394,3.797,7.368,3.771
				C7.336,3.745,7.306,3.73,7.267,3.718z"/>
		</g>
	</g>
</g>
<g id="Layer_2" style="display:none;">
</g>
</svg>
            </div>
            <h3>Start discovering Groups and join the ones that interest you!!</h3>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-content>
</div>
