<ion-view view-title="Invite Contacts" hide-nav-bar="true" class="rubyonic-pane chat-screen">
    <ion-content class="has-header rubyonic-pane" style="top:50px;">
        <div class="membersHead text-center">Invite contacts to this group</div>

        <div class="col invite-category">
            <div class="row">
                <ion-radio ng-model="sendMode" class="col col-33" ng-disabled="false" ng-value="Tring" ng-show="members.length" ng-click="filterInRegisteredMembers()"><i class="icon icon-passel"></i></ion-radio>
                <ion-radio ng-model="sendMode" class="col col-33" ng-disabled="false" ng-value="SMS" ng-show="members.length" ng-click="filterInNonRegisteredMembers()"><i class="icon icon-sms"></i></ion-radio>
                <ion-radio ng-model="sendMode" class="col col-33" ng-disabled="false" ng-value="WhatsApp" ng-show="members.length" ng-click="invokeWhatsApp(group)"><i class="icon icon-whatsapp"></i></ion-radio>
            </div>
        </div>
        <!--
            <div class="row">
                <button class="button button-light" ng-show="groupInput.members.length" ng-click="inviteForGroupMembership(group, groupInput.members)">Done</button>
            </div>
-->
        <!--
                    <select-with-auto-suggest initialize-elements="initializeContacts()" select-handler="addInvitee(element)" get-elements-paged="getContactsPaged(first,last,elements)" keep-suggestions>
                    </select-with-auto-suggest>
-->
                    
                <select-with-auto-suggest initialize-elements="initializeContacts()" refresh-elements="refreshContacts()" get-elements-paged="getContactsPaged(first, last, elements)" keep-suggestions additional-element-markup="&lt;span  class=&quot;list-action&quot; &gt; &lt;span ng-click=&quot;additionalElementClickHandler({element:element})&quot; ng-if=&quot;!element.registered &quot; &gt; &lt;button class=&quot;button ruby-button-clear icon icon-message-check brand-base-text-color&quot;  &gt;&lt;/button&gt; &lt;/span&gt; &lt;button ng-if=&quot;element.registered &quot; class=&quot;button ruby-button-clear icon icon-passel brand-base-text-color&quot; ng-click=&quot;additionalElementClickHandler({element:element})&quot; &gt;  &lt;/button&gt; &lt;/span&gt;" additional-element-click-handler="sendInvite(element)" >
                </select-with-auto-suggest>

            <!--
                <div class="item" ng-show="groupInput.members.length" style="width:100%;">
                    <span class="list" ng-repeat="mem in groupInput.members">
                       <span class="item item-input">
                           <label style="width:280px;">{{mem.name}}</label>
                            <select ng-model="mem.type" >
                                <option selected value="Member">
                                    Member</option>
                                <option value="Moderator">
                                    Moderator</option>
                            </select>
                           <button class="button-clear" ng-click= "groupInput.members.splice($index,1)">
                               <i class="icon ion-trash-b"
                                       ></i>
                           </button>
                       </span>
                    </span>
                </div>
-->
    </ion-content>
</ion-view>