<!-- Login Screen - refer to login.scss -->
<!-- Login Screen - refer to login.scss -->
<ion-view view-title="Login" hide-nav-bar="true" ng-controller="UserCtrl">
  <ion-header-bar class="bar-stable item-input-inset" style="box-shadow: 1px 1px 1px 1px #ccc">
    <div style="margin-left: auto;margin-right: auto;margin-top:8px;">
      <img ng-src="img/tring-logov2.png">
    </div>
  </ion-header-bar>
  <ion-content class="rubyonic-pane login-screen">
    <p class="footer-box" ng-if="inActiveDevice === true">Another device has been found to be currently active. Hence de-activating
      Tring on this device. Please follow registration process to make this device active.</p>
    <!-- A title section.-->
    <h4 style="margin-top: 46px;" class="app-title">Enter your mobile number</h4>
    <!-- End title -->
    <!-- Logo Section - center aligned by default -->
    <div class="login-container">
      <div class="login-top">
        <div class="logo">

        </div>
        <!-- End Logo Section -->



        <form name="form">
          <!-- Login Form - note the modifier 'is-transparent' is for the form to be see through -->
          <div class="list list-inset login-form is-transparent">
            <label class="item item-input"
                   style="border-bottom: 1px solid #8c98ac;margin-bottom: 0;padding-bottom: 14px; border-radius: 0px;">
              <i class="icon ion-android-globe placeholder-icon" style="font-size: 20px;"></i>
              <button class="button-icon button-countryCode" ng-click="openCountrySelectorModal()">{{country.name}}
                (+{{country.intlPrefix}})
              </button>
            </label>
            <label class="item item-input" style="padding:0; border-radius: 0px;">
              <i class="icon ion-iphone ion-ios-checkmark placeholder-icon"
                 ng-class="{'phonenumber-valid': (device.mobileNo.length && form.phonenumber.$valid)}"
                 style="left: 9px;border-bottom:0;top: 5px;"></i>
              <input type="tel" id="phonenumber"  name="phonenumber" ng-model="device.mobileNo"
                     placeholder="Mobile number" autofocus phone-number country-code="country.countryCode">
            </label>
            <div class="button-stack">
              <button ng-disabled="!(device.mobileNo.length && form.phonenumber.$valid)" ng-click="registerDevice(false)" id="register" class="button button-block button-outline tring-bg-color" style="color:white;margin:auto;margin-top:25px; width: 80px;height: 40px;border-radius: 15px;">Enter
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="footer-box">
      By Clicking Enter, I agree to the Terms & Conditions & the privacy policy
    </div>
    <!-- End Login Form-->
    <!-- footer section start -->
    <!--<div class="footer-box">-->
      <!--&copy; 2016, Manifolde Web Technologies<br>-->
      <!--All rights reserved-->
    <!--</div>-->
    <!-- footer section end-->
  </ion-content>
</ion-view>
