<div class="list">
    <div class="item profile-head" ng-if="showNotification">
        Notifications
    </div>
    <div class="item padding" ng-if="showNotification">
        <div class="reputation-list" ng-controller="UserReputationReportController">
            <div class="item">
                <div class="row">
                    <div class="col col-50">Individual </div>
                    <div class="col col-50 status-no">
                        <div class="radio-group">
                            <input type="radio" ng-model="notification.radio.individual" ng-value="false" id="notiIndiOff" name="notiIndividual" class="custom-switch" ng-change="notification.change()">
                            <label for="notiIndividual">OFF</label>
                            <input type="radio" ng-model="notification.radio.individual" ng-value="true" id="notiIndiOn" name="notiIndividual" class="custom-switch" ng-change="notification.change()" checked>
                            <label for="notiIndiOn">ON</label>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-50 padding-top-20">Group </div>
                    <div class="col col-50 status-no">
                        <div class="radio-group">
                            <input type="radio" ng-model="notification.radio.group" ng-value="false" id="notiGroupOff" name="notiGroup" class="custom-switch" ng-change="notification.change()">
                            <label for="notiGroupOff">OFF</label>
                            <input type="radio" ng-model="notification.radio.group" ng-value="true" id="notiGroupOn" name="notiGroup" class="custom-switch" ng-change="notification.change()" checked>
                            <label for="notiGroupOn">ON</label>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-50 padding-top-20">Admin </div>
                    <div class="col col-50 status-no">
                        <div class="radio-group">
                            <input type="radio" ng-model="notification.radio.admin" ng-value="false" id="notiAdminOff" name="notiAdmin" class="custom-switch">
                            <label for="notiAdminOff">OFF</label>
                            <input type="radio" ng-model="notification.radio.admin" ng-value="true" id="notiAdminOn" name="notiAdmin" class="custom-switch" checked>
                            <label for="notiAdminOn">ON</label>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                