<!-- Login Screen - refer to login.scss -->
<ion-view view-title="Login" hide-nav-bar="true" ng-controller="UserCtrl">

  <ion-header-bar class="bar-stable item-input-inset" style="box-shadow: 1px 1px 1px 1px #ccc">
    <div style="margin-left: auto;margin-right: auto;margin-top:8px;">
      <img ng-src="img/tring-logov2.png">
    </div>
    </ion-header-bar>
  <ion-content class="rubyonic-pane login-screen">

      <!-- A title section.-->
    <h4 style="margin-top: 46px;" class="app-title">Enter your PIN number</h4>
  	<!-- Logo Section - center aligned by default -->
  	<div class="logo">

	  </div>
	<!-- End Logo Section -->

	<!-- A description section. Useful for a short pitch -->
  	<!-- <h4 class="description">A high-status theme pack for your next Ionic Project</h4> -->
  	<!-- End description -->

  	<!-- Login Form - note the modifier 'is-transparent' is for the form to be see through -->
  	<div class="list list-inset login-form is-transparent">

	  <label class="item item-input" style="border-bottom: 1px solid #8c98ac; border-radius: 0;">
	  	<i class="icon ion-pin placeholder-icon"></i>
	    <input type="number" id="pinnumber" placeholder="Enter the PIN number sent via SMS" ng-model="device.pin" style="border-bottom:0;font-size: small">
	  </label>

	  <div class="button-stack" ng-controller="NavigationCtrl">
	  	<button ng-click="verifyPin()" id="verifyPin" class="button button-block button-outline tring-bg-color" style="color:white;margin:auto;width: 80px;height: 40px;border-radius:15px;">Next</button>
          <div class="row">
      <div class="col col-50">
        <a href="#" class="text-left button-small button-positive" ng-click="reEnterMobileNo()">Re-enter mobile no.</a>
      </div>
      <div class="col col-50">
        <a  href="#"  ng-class="reSendPinEnabled === false? 'linkDisabled text-right button-small button-positive ': 'text-right button-small button-positive'"  ng-click="reSendPin()">Resend Pin</a>
      </div>
    </div>
	  </div>


	</div>
	<!-- End Login Form-->
    <!-- footer section start -->
      <div class="footer-box">
          &copy; 2016, Manifolde Web Technologies<br>
                 All rights reserved
      </div>
    <!-- footer section end-->

  </ion-content>
</ion-view>
