<!-- Profile Screen - Refer to profile.scss -->
<ion-view view-title="Profile" ng-controller="ProfileController" hide-tabs>
  <!--
  setting 'hide-nav-bar="true"' above enables us to create our own header bar
  by hiding the default one without messing with ionic's state/history management
  -->
  <div align-title="center" class="bar bar-header bar-stable" ng-controller="NavigationCtrl">
    <div class="row">
      <div style="position:absolute;left:5px;bottom: 5px">
        <button class=" button button-back button-clear tring-color" ng-click="goBackAStep()" style="margin-bottom: -10px">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </div>
      <div class="h4 col " style="text-align:center;">
        <span style="line-height:2.0;vertical-align:middle;">Settings</span>
      </div>
    </div>
  </div>
  <ion-content class="has-header " style="background-color:#FCFCFC;">
    <div class="silver-grey-background" style="min-height:6%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
      <span style="position: absolute;bottom: 7px;font-size: medium;font-weight: 100"></span>
    </div>
    <ion-list class="text-center item-borderless " style=" background-color:#FCFCFC;border-width: 0">
      <ion-item class="groups-image-panorama" style="margin:0;padding:3px;background-color: #FCFCFC;border-width: 0">
        <div class="container-with-centered-content "
             style=" height:150px; width:100%;margin:0;">


          <img ng-if="profile.profileThumbnailData && groupInput.groupInfo.thumbnailData!=='//:0'" border="0"
               class="groups-thumb-big" style="margin: 0"
               ng-src="{{profile.profileThumbnailData}}" ng-click="readOnly && downloadAndOpenProfileImage() || !readOnly && setProfilePicture()">
          <!--<i ng-if="!groupInput.groupInfo.thumbnailData || groupInput.groupInfo.thumbnailData==='//:0'" class="icon ion-ios-camera  groups-thumb-big"></i>-->

          <img ng-if="!profile.profileThumbnailData || profile.profileThumbnailData==='//:0'"
               ng-click="readOnly && downloadAndOpenProfileImage() || !readOnly && setProfilePicture()"
               class="groups-thumb-big" style="margin: 0"
               src="img/my-profile-icon.png">
        </div>
      </ion-item>
    </ion-list>
    <div class="silver-grey-background" style="min-height:8%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
      <span style="position: absolute;left:4%;bottom: 7px;font-size: medium;font-weight: 100;color: lightslategray">PERSONAL INFO</span>
    </div>
    <div style="background-color:#FCFCFC;min-height:24%;position:relative;width:90%;margin-left:4%">
      <div class="list createForm">
        <form>
          <div class="cus-input">
            <label>
              <input placeholder="Name" type="text" ng-model="profile.name" readonly ng-show="readOnly">
              <input placeholder="Name" type="text" ng-model="profile.name" ng-show="!readOnly">
            </label>
          </div>

          <div class="row ">
            <div class="col col-50" ><h4 style="color:lightslategray">Notifications</h4></div>
            <div class="col col-50">
              <div class="ios-check-box">
                <input type="checkbox"
                       ng-model="profile.notifications.group"
                       id="notifonoffswitch" checked>
                <div class="ios-custom-toggle">
                  <label for="notifonoffswitch"><i></i></label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="silver-grey-background" style="min-height:100px;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
      <div style="position: absolute;left:4%;bottom: 10px;font-size: medium;font-weight: lighter;width:100% ">
        <div class="row">
          <div  style="width:132px;line-height:2.5;vertical-align: baseline;color:lightslategray">CHECK OUT WITH
          </div>
          <div style="float:left;margin:5px">
            <img height="30px" src="img/paypal-logo2.png">
          </div>
        </div>
        <div class="row" style="background-color: #FCFCFC; margin-bottom:-10px; margin-left:-15px">
          <div style="margin-left:15px;margin-top:5px">
            <img height="30px" src="img/paypal-logo1.jpg">
          </div>
          <div style="float:left;margin:5px" >
             <input ng-model="profile.paypalId" style="background-color: #FCFCFC;" type="text" placeholder="Enter your Paypal ID*">
          </div>
        </div>
      </div>
    </div>

      <!--
      <div class="row">
          <div class="col col-20">Status:</div>
          <div class="col col-80 edit-status">
              <input class="status-input" ng-model="profile.statusMessage" readonly placeholder="Custom Message" ng-if="readOnly">
              <input class="status-input" ng-model="profile.statusMessage" placeholder="Custom Message" ng-show="!readOnly">
              <span ng-if="!readOnly">Max 30</span>
          </div>
      </div>
-->
        <!--            <h4>Notifications</h4>-->
<!--
                <div class="row bottomLine">
                    <div class="col col-50">P2P notifications</div>
                    <div class="col col-50">
                        <div class="radio-group">
                            <input type="radio" ng-value="false" id="note1" name="a1" ng-model="profile.notifications.individual" class="custom-switch">
                            <label for="note1">OFF</label>
                            <input type="radio" ng-value="true" id="note2" name="a1" ng-model="profile.notifications.individual" class="custom-switch" checked>
                            <label for="note2">ON</label>
                        </div>
                    </div>
                </div>
-->

              <!--
                              <div class="row bottomLine">
                                  <div class="col col-50">Admin/ Owner/ Moderator notifications</div>
                                  <div class="col col-50">
                                      <div class="radio-group">
                                          <input type="radio" ng-value="false" id="note5" name="a3" ng-model="profile.notifications.admin" class="custom-switch">
                                          <label for="note5">OFF</label>
                                          <input type="radio" ng-value="true" id="note6" name="a3" ng-model="profile.notifications.admin" class="custom-switch" checked>
                                          <label for="note6">ON</label>
                                      </div>
                                  </div>
                              </div>
              -->
                <!--<div class="row">-->
                    <!--<h4 class="col col-30">Paypal id:</h4>-->
                    <!--<div class="col col-60 cus-input">-->
                        <!--<input style="width:100%;" class="status-input" ng-model="profile.paypalId" type="text"-->
                               <!--placeholder="Type your Paypal id" maxlength="30"/>-->
                    <!--</div>-->
                <!--</div>-->

    <div class="silver-grey-background" style="min-height:4%;position:relative;box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8">
    </div>
      <!--<div class="row">-->
        <!--<div class="col text-center" ng-click="doneHandler()" ng-if="!readOnly">-->
          <!--<button class="button button-assertive button-outline"><pre>    Save         </pre></button>-->
        <!--</div>-->
      <!--</div>-->
    <div style="margin-top: 20px;" class="container-with-centered-content row">
      <button style="margin:auto;width: 120px;height: 30px;border-radius: 15px;" class="button button-outline button-balanced col col-33" ng-if="!readOnly" ng-click="doneHandler()">
        Save
      </button>
    </div>
    <div  style="height:15%;position:relative;color:#f5f5f5">
    </div>
<!--
        <div class="padding setting-page setPass" style="padding-bottom: 0;">
            <div class="row">
                <div class="col">
                    <a href="#." ng-click="loadPasswordPop()">Set my password <i class="icon icon-round-arrow"></i></a>
                </div>
            </div>
        </div>
-->



      <!--
      <div class="slide-animate-container" ng-controller="UserReputationReportController">
          <div class="slide-animate" ng-include="'templates/rubyonic/userReputationReport.html'"></div>
      </div>
-->
      <!--
      <div class="padding setting-page setPass" ng-if="false">
          <div class="row">
              <div class="col">
                  <button class="button button-assertive button-block">
                      Delete Tring account
                  </button>
              </div>
          </div>
      </div>
-->
    <!--div ng-include="templates/rubyonic/userReputationReport.html"></div-->
    <span ng-controller="DownloadController"></span>
  </ion-content>

</ion-view>
