<div class="profile-background">
    <div class="profile-overlay"></div>

    <img class="profile-wallpaper" src="img/demo/guitar.jpg" alt="">
    <div class="profile-details padding">
        <div class="profile-actions">
            <label class="status-input" placeholder="Name" ng-model="profile.name"></label>
        </div>
        <div class="row responsive-sm">
            <div class="col">
                <span>
                            <img class="profile-thumb" src="{{profile.profileUri}}" alt="Profile Picture">
                        </span>
            </div>
        </div>
    </div>
</div>
<div class="padding profile-status">
    <div class="row">
        <div class="col col-20">Status:</div>
        <div class="col col-80 edit-status">
            <label class="status-input" ng-model="profile.statusMessage" placeholder="Custom Message"></label>
            <span>Max 30</span>
        </div>
    </div>
</div>