<ion-content class="has-header">
    <div class="text-center">
        <h4 class="title">Request for Group membership</h4>
    </div>
    <form class="createForm padding" name="myForm">
        <ion-list>
            <div class="row">
                <div class="col cus-input">
                    <textarea placeholder="Type a message (optional)" rows="4" maxlength="100" ng-model="data.userMessageText" ng-pattern="/^[0-9a-zA-Z_\.]+$/"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col cus-input">
                    <input placeholder="Your username *" class="col col-70" ng-model="data.userHandle" name="myHandle" type="text" maxlength="15" required ng-pattern="/^[ 0-9a-zA-Z_\.]+$/" ng-change="data.checkAvailability();">
                    <div class="add_error_box">
                        <div ng-messages="myForm.myHandle.$error" class="errorBox" role="alert">
                            <div class="row" ng-message="pattern">
                                <i class="icon ion-help-circled" ng-click="errormyHandle=!errormyHandle"></i>

                                <div class="inputError left" ng-show="errormyHandle">No special characters other than _ and .
                                </div>
                            </div>
                            <div class="row" ng-message="maxlength">
                                <i class="icon ion-help-circled"></i>

                                <div class="inputError left">
                                    Max length is 15
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add_error_box" ng-show="data.userHandle">
                    <!--a ng-click="data.checkAvailability();" ng-style="(data.nameAvailable === null) ? {'color': 'gray'}:(data.nameAvailable?{'color': 'green'}:{'background-color': 'red'})">Check<br/>Availability</a-->
                    <i class="icon ion-ios-checkmark text-green" ng-show="data.userHandle && data.nameAvailable"></i>
                    <i class="icon ion-close-circled text-red" ng-hide="data.userHandle && data.nameAvailable"></i>
                </div>
            </div>
            <div ng-hide="true" class="row" style="padding-top:20px;" ng-controller="ProfileController">
                <div class="col">
                    <div class="group-thumb icon ion-ios-people" ng-click="setGroupProfilePictureInPlace()">
                        <img ng-src="{{profile.profileUri}}" border="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col cus-input">
                    <button class="button button-energized button-block" ng-click="requestMembership(group)" ng-disabled="!data.userHandle || angular.isDefined(myForm.myHandle.$error)">Send</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-assertive button-block" ng-click="cancelSendRequest()">Cancel</button>
                </div>
            </div>
        </ion-list>
    </form>
</ion-content>
