<div style="width:100%; height: 100%;">
    <div class="row search-row">
        <div class="col col-90">
            <input type="text" class="search-input" style="width:100%" placeholder="Contact Number or Name" ng-model="inputText" ng-change="handleInputTextChange()" ng-focus="focus=true" ng-blur="focus=false">
        </div>
        <div class="col col-10 padding-left-0 text-center" ng-if="hasRefreshElements()">
            <button class="button ruby-button-clear icon ion-ios-refresh-empty refresh-btn" ng-click="refreshElementsWrapper();">
            </button>
        </div>
    </div>
    <ion-scroll style="height: 100%" ng-show="focus || keepSuggestions">
        <ion-list class="list chat-list contact-list">
            <ion-item class="item item-avatar single-chat" collection-repeat="element in pageElements track by $index" ng-click="handleSelectElement({element:element});">
                <!--        <label class="row">123456789012345678901234567890123456789012345</label>-->
                <div class="row" style="width:100%">
                    <span class="col col-20 item-img-holder" ng-click="profileImageClickHandler({element:element})">
                        <!--<span class="new-notification-bubble">99</span>-->
                        <img ng-src="{{element.thumbnailData || 'img/user-silhouette.png'}}" class="notification-thumb">
                    </span>
                    <span class="col col-80">
                        <span class="row">
                            <span class="col col-80">
                              <h2>{{element.name}}</h2>
                              <p class="notification-summary">{{element.number}}</p>
                            </span>
                            <tring-additional-element class="col col-offset-80"></tring-additional-element>
                        </span>
                    </span>
                </div>
            </ion-item>
            <ion-item ng-if="nothingToShow" class="item item-avatar single-chat online">
                <span>Nothing Found</span>
            </ion-item>
            <ion-infinite-scroll on-infinite="addElementsPaged(false)" ng-if="!allRowsLoaded" immediate-check="false"></ion-infinite-scroll>
        </ion-list>
    </ion-scroll>

</div>