<div class="list createForm">
  <div class="row" style="min-height:20px">

  </div>
  <div class="row">
    <input max-length="50" style="background-color: #fcfcfc" limit-to="50"type="text" name="" ng-model="data.userHandle" id="" placeholder="Type your user name" ng-pattern="/^[ 0-9a-zA-Z_\.]+$/"/>
  </div>
</div>
