<div class="list createForm">
    <div class="modalHeader">
        Set my password
    </div>
 <!--   <div class="mod-body">
        <div class="form">
                            <div class="col">-->
            <div class="row">
                <p>If you wish to migrate your account to a new phone number, please set a password. Enter your current phone number along with your password in your new phone number to migrate this account. This password will also be used for certain other features we will be building soon.</p>
            </div>
            <div class="row">
                <input type="password" name="" ng-model="data.oldpassword" id="" placeholder="Type your old password if any" />
            </div>
            <div class="row">
                <input type="password" name="" ng-model="data.password" id="" placeholder="Type your new password" />
            </div>
            <div class="row">
                <input type="password" name="" ng-model="data.repassword" id="" placeholder="Retype your new password" />
            </div>
            <!--
                    <div class="text-center">
                        <button class="button button-energized button-block" ng-click="closePop()">Set Password</button>
                    </div>
                    <div class="text-center">
                        <button class="button button-energized button-block" ng-click="goBackAStep()">Cancel</button>
                    </div>
-->
            <!--                </div>-->
<!--
 </div>
</div>
-->
</div>