<ion-tabs class="tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}"  >

  <!-- Groups Tab -->
  <ion-tab title="Groups" icon-off="ion-ios-people-outline" icon-on="ion-ios-groups" ui-sref="app.groups">
    <ion-nav-view class="nav-view-100" name="app-groups"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-chatbubbles" icon-on="ion-chatbubbles"  ui-sref="app.chats">
    <ion-nav-view class="nav-view-100" name="app-chats"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="app.profile({readOnly:false, contact: null})">
    <ion-nav-view class="nav-view-100" name="app-settings"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="Admin" icon="icon-message" ui-sref="app.manage">-->
    <!--<ion-nav-view class="nav-view-100" name="app-manage"></ion-nav-view>-->
  <!--</ion-tab>-->
</ion-tabs>
