<div class="padding form-rb-plain" ng-controller="NewGroupController">

    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Type
            </div>
            <select ng-change="groupEdited.groupInfo.closed=groupInput.groupInfo.closed" ng-model="groupInput.groupInfo.closed" ng-options="o.v as o.n for o in [{ n: 'Open', v: false }, { n: 'Closed', v: true }]">
            </select>
        </label>
    </div>

    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Type
            </div>
            <select readonly ng-model="groupInput.groupInfo.o2m" ng-options="o.v as o.n for o in [{ n: 'Member to Member', v: false }, { n: 'Owner to Member', v: true }]">
            </select>
        </label>
    </div>

    <!--    <div class="list" ng-hide="true">
        <label class="item item-input item-select">
            <div class="input-label">
                Subgroups visible to Owner
            </div>
            <select ng-model="groupInput.groupInfo.subgroupsVisibleToOwner" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]">
            </select>
        </label>
    </div>-->

    <form name="myForm">

        <div class="list list-inset">
            <label>Group Name: </label>
            <span class="item item-input ruby-search-box">
                <label >
                    <input  readonly name="myGroupName" ng-pattern="/^[0-9a-zA-Z_\.]+$/"  type="text" style="width:180px;" placeholder="Group Name"
                           ng-model="groupInput.groupInfo.name" required maxlength="15"  ng-change="resetCheckAvailability()">
                </label>
            </span>
            <label>My Handle: </label>
            <label class="item item-input">
                <input readonly name="myHandle" ng-pattern="/^[0-9a-zA-Z_\.]+$/" type="text" placeholder="Owner Handle" ng-model="groupInput.ownerHandle" ng-maxlength="15" ng-required="true">
            </label>
        </div>
    </form>

    <div class="list">
        <label>Categories (at least 1, at most 3):</label>
        <span class="item item-input">
               <label >
                   <input type="text" style="width:280px;" placeholder="Categories" ng-model="groupInput.category">
               </label>
               <button ng-click="addCategory()"
                       ng-show="(!groupInput.groupInfo.categories.length || groupInput.groupInfo.categories.length < 3) && groupInput.category">
                   <i class="icon ion-ios-plus-empty"></i>
               </button>
        </span>

        <span ng-model="groupInput.groupInfo.categories" ng-change="groupEdited.groupInfo.categories=angular.copy(groupInput.groupInfo.categories)"></span>

        <span class="item" ng-show="groupInput.groupInfo.categories.length">
            <span class="list" ng-repeat="tag in groupInput.groupInfo.categories">
                <span class="item item-input">
                       <label style="width:280px;">{{tag}}</label>
                       <button class="button-clear" ng-click="groupInput.groupInfo.categories.splice($index,1);">
                           <i class="icon ion-trash-b"></i>
                       </button>
                </span>
        </span>
        </span>

        <span ng-show="!groupInput.groupInfo.categories.length" style="color:red">
        <div class="row">Error: Require at least one category</div>
        </span>
        <label>Description:</label>
        <label class="item item-input">
            <input type="text" ng-change="groupEdited.groupInfo.description=groupInput.groupInfo.description" ng-model="groupInput.groupInfo.description" placeholder="Description">
        </label>
        <label>Rules:</label>
        <label class="row item item-input">
            <textarea class="col col-offset-10" style="height:130px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; color: black;" placeholder="Rules" ng-change="groupEdited.groupInfo.rules=groupInput.groupInfo.rules" ng-model="groupInput.groupInfo.rules"></textarea>
        </label>
    </div>
    <div class="list" ng-controller="ProfileController">
        <label>Set Group Profile Picture:</label>
        <div class="row responsive-sm" ng-click="setGroupProfilePictureInPlace()">
            <div class="col col-10">
                <span>
                        <img class="profile-thumb" ng-src="{{groupInput.groupInfo.thumbnailData}}" alt="Profile Picture">
                        <a href="#" class="button-edit">
                            <i class="icon icon-pencil brand-base-text-color"></i>
                        </a>
                </span>
            </div>
        </div>
    </div>
    <div class="list">
        <label>Location:</label>
        <label class="item item-input item-select">
            <div class="input-label">
                Country
            </div>
            <select ng-model="groupInput.groupInfo.country" ng-options="cntry.v as cntry.n for cntry in getCountries() track by cntry.v" ng-change="groupInput.groupInfo.state=groupInput.groupInfo.city=''">
            </select>
        </label>
        <span ng-model="groupInput.groupInfo.country" ng-change="groupEdited.groupInfo.country=groupInput.groupInfo.country"></span>

        <label class="item item-input item-select" ng-if="groupInput.groupInfo.country">
            <div class="input-label">
                State
            </div>
            <select ng-model="groupInput.groupInfo.state" ng-change="groupInput.groupInfo.city=''">
                <option ng-repeat="state in getStates(groupInput.groupInfo.country)">{{state}}</option>
            </select>
        </label>
        <span ng-model="groupInput.groupInfo.state" ng-change="groupEdited.groupInfo.state=groupInput.groupInfo.state"></span>

        <label class="item item-input" ng-if="groupInput.groupInfo.country">
            <div class="input-label">
                Place
            </div>
            <span class="item item-input">
                <input type="text" ng-model="groupInput.groupInfo.city" placeholder="City/Place/Village">
            </span>
        </label>
        <span ng-model="groupInput.groupInfo.city" ng-change="groupEdited.groupInfo.city=groupInput.groupInfo.city"></span>

    </div>


    <span>
           <button class="button button-light" ng-disabled="!groupInput.groupInfo.name || !groupInput.ownerHandle || !groupInput.groupInfo.categories.length" ng-click="doneEditHandler()">
               Update
           </button>
            <button class="button button-light" ng-click="clearEditGroup();">
                Clear
            </button>
    </span>

</div>