<div class="list">
    <div class="item profile-head" ng-if="showReputation">
        Tring reputation report (TRR)
    </div>
    <div class="item padding" ng-if="showReputation">
        <div class="reputation-list" ng-controller="UserReputationReportController">
            <div class="item">
                <div class="row">
                    <div class="col col-50">Reported for abuse
                        <br> by other users </div>
                    <div class="col col-50 status-no">
                        <span class="round-count">{{abusesReported}}</span> times</div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-50 padding-top-20">Warned by moderators</div>
                    <div class="col col-50 status-no">
                        <span class="round-count">{{warnings}}</span> times</div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-50 padding-top-20">Evicted from groups </div>
                    <div class="col col-50 status-no">
                        <span class="round-count">{{evictions}}</span> times</div>
                </div>
            </div>
        </div>
        <!--
        <h4 class="blue-text">Group memberships</h4>
        <div class="list chat-list" ng-controller="NavigationCtrl">
             single user online with notification 
            <div class="item item-avatar  group-chat" ng-click="go('app.chat-ui')">
                <div class="item-img-holder">
                    <span class="new-notification-bubble">99</span>
                    <img src="img/user-silhouette.png" class="notification-thumb">
                </div>
                <div class="item-state-holder">
                    <h2>IPL 2015</h2>
                    <p class="notification-summary">Status message</p>
                </div>
            </div>
            <div class="item item-avatar group-chat" ng-click="go('app.chat-ui')">
                <div class="item-img-holder">
                    <span class="new-notification-bubble">99</span>
                    <img src="img/user-silhouette.png" class="notification-thumb">
                </div>
                <div class="item-state-holder">
                    <h2>UXD- Pune</h2>
                    <p class="notification-summary">Status message</p>
                </div>
            </div>
        </div>
-->

    </div>
    <div class="item info-message" ng-if="showReputation">
         TRR will be shared anonymously when you apply for membership to any open group.
    </div>
</div>