 /*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Rubyonic Files
@import 'rubyonic/partials/colors';
@import 'rubyonic/partials/typography';

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Rubyonic Files
@import 'rubyonic/partials/mixins';
@import 'rubyonic/partials/theme';
@import 'rubyonic/partials/buttons';
@import 'rubyonic/partials/general';
@import 'rubyonic/screens/login';
@import 'rubyonic/screens/feed';
@import 'rubyonic/screens/sidebar';
@import 'rubyonic/screens/chat';
@import 'rubyonic/screens/profile';
@import 'rubyonic/screens/chat-ui';
@import 'rubyonic/screens/groups-ui';
@import 'rubyonic/screens/groups-create';
@import 'rubyonic/screens/groups-membership';
@import 'rubyonic/screens/groups-manage';
@import 'rubyonic/screens/viewpost';
@import 'rubyonic/partials/forms';
 /* new added as per new theme */
@import 'rubyonic/screens/discover-cat';

