
<ion-content style="height: 100%" class="manage-members has-header" ng-controller="ManageSubGroupCreateCtrl">
  <ion-scroll direction="y" style="height: 100%">
  <div class="membersHead" style="font-size: 14px; padding-bottom:0;">
    Create new Sub-Group under {{group.name}}
  </div>
  <div class="row">
    <div class="col col-80">
      <label>
        <input type="text" ng-model="subGroup.name" ng-pattern="/^[0-9a-zA-Z_\.]+$/" required maxlength="20"
               placeholder="Sub Group ID *" class="item-subGrpName">
      </label>
    </div>
    <div class="col col-20 cus-input">
      <div class="help-box"  ng-click="popup3 = !popup3">?
          <span style="align:left" ng-show="popup3" class="popup-msg">
              Sub-Group ID should be unique string not more than 20 characters in length.
              Only alphanumeric, "." and "_" are allowed.
          </span>
      </div>
    </div>

  </div>

  <div class="row action-legend">
    <div class="col col-33"><i class="icon icon-modrater text-dark-grey"></i> <span>Moderator</span></div>
    <div class="col col-33"><i class="icon icon-user-img text-green"></i> <span>Members</span></div>
    <div class="col col-33"><i class="icon icon-user-img text-orange"></i> <span>Non members</span></div>
  </div>
  <ion-list>
    <div ng-repeat="admin in admins track by $index">
      <div class="admin-member" ng-repeat="(key,value) in admin">
        <a class="item" href="#" href="#">
          <div class="member-thumb" random-color ng-click="showActions(true, key, value, $event, $parent.$index)">
            {{value.name.charAt(0).toUpperCase()}}
          </div>
          <div ng-click="showActions(true, key, value, $event, $parent.$index)">
            <span class="holderName">{{value.name}} </span>
          </div>
          <div class="action-icon">
            <i class="icon icon-modrater text-dark-grey"
               ng-class="value.role === ConstsService.MODERATOR_ROLE? 'icon-active': ''"
               ng-click="addAdmin(ConstsService.MODERATOR_ROLE, $parent.$index, key, value, $event, value.name === group.handleName)"></i>
            <i class="icon icon-user-img text-orange" ng-class="isNonMember(value) ? 'icon-active': ''"
               ng-click="addAdmin(ConstsService.NON_MEMBER_ROLE, $parent.$index, key, value, $event, false)"></i></div>
        </a>
      </div>
    </div>

  </ion-list>
  <ion-list ng-class="memberList ">
    <div ng-repeat="member in members track by $index">
      <div class="list-member" ng-repeat="(key,value) in member">
        <a class="item cus-list" href="#">
          <div class="member-thumb" random-color ng-click="showSubGroups(value, $event)">
            {{value.name.charAt(0).toUpperCase()}}
          </div>
          <div ng-click="showSubGroups(value, $event)">
            <span class="holderName">{{value.name}} </span>
          </div>
          <div class="action-icon">
            <i class="icon icon-modrater text-dark-grey"
               ng-class="value.role === ConstsService.MODERATOR_ROLE? 'icon-active': ''"
               ng-click="addMember(ConstsService.MODERATOR_ROLE, $parent.$index, key, value, $event)"></i>
            <i class="icon icon-user-img text-green"
               ng-class="value.role === ConstsService.MEMBER_ROLE? 'icon-active': ''"
               ng-click="addMember(ConstsService.MEMBER_ROLE, $parent.$index, key, value, $event)"></i>
            <i class="icon icon-user-img text-orange" ng-class="isNonMember(value) ? 'icon-active': ''"
               ng-click="addMember(ConstsService.NON_MEMBER_ROLE, $parent.$index, key, value, $event)"></i></div>
        </a>
      </div>
    </div>
  </ion-list>

  <div class="row">
    <div class="col">
      <button class="button button-energized button-block" style="margin: 0" ng-click="createSubNetwork()">
        Create new sub group
      </button>
    </div>
  </div>
</ion-scroll>
  </ion-content>
