  <ion-content overflow-scroll="true" ng-controller="UserCtrl">


    <div class="inviteTxt">Invite friends of this n/w</div>


    <ion-tabs class="tabs-positive cust-IonTabs">

      <!-- tring Tab -->
      <ion-tab title="" class="cust-tabs" icon-off="icon-logo" icon-on="icon-logo" href="#/tab/dash">
        <ion-nav-view name="tab-dash" class="tabContainSty">
          <div class="list">
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-3.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxt">Richa Sharma</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-2.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxt">UXD Pune</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-2.jpg" class="imageDisable">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxtDisable">Seema Deo</span><br>
              <span class="avatarSubTxt">Dormant from 15th Dec, 2014</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-2.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxt">UXD Pune</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxtO">Richa Sharma</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-4.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxtSimp">Richa Sharma</span><br>
              <span class="avatarSubTxt">Latest message goes here..</span>
            </a>
          </div>
        </ion-nav-view>
      </ion-tab>

      <!-- sms Tab -->
      <ion-tab title="" class="cust-tabs" icon-off="icon-sms" icon-on="icon-sms" href="#/tab/chats">
        <ion-nav-view name="tab-chats" class="tabContainSty">
          <div class="list">
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-3.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxt">Richa Sharma</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-2.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxtO">UXD Pune</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-4.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxtSimp">Richa Sharma</span><br>
              <span class="avatarSubTxt">Latest message goes here..</span>
            </a>
          </div>
        </ion-nav-view>
      </ion-tab>

      <!-- whatsapp Tab -->
      <ion-tab title="" class="cust-tabs" icon-off="icon-whatsapp" icon-on="icon-whatsapp" href="#/tab/account">
        <ion-nav-view name="tab-account" class="tabContainSty">
          <div class="list">
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-3.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxtO">Richa Sharma</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>
            <a class="item item-avatar cust-ItemAtr" href="#">
              <img src="img/demo/profile-image-2.jpg">
              <img src="img/msg2.png" class="avatarMsg">
              <span class="avatarTxt">UXD Pune</span><br>
              <span class="avatarSubTxt">Status message</span>
            </a>

          </div>
        </ion-nav-view>
      </ion-tab>


    </ion-tabs>

  </ion-content>
