  <ion-content overflow-scroll="true" class="has-header" ng-controller="ManageGroupCtrl">
    <ion-scroll direction="y" style="height: 100%">
      <div class="">
            <div ng-show="noGroupsToManage">
              You have no groups to manage.
            </div>
            <div class="manageDiv manage-list" ng-repeat="group in groups | orderBy:'group.name' track by group._id">
                <ion-item class="item-member"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <a class="item item-avatar">
                        <div class="groups-thumb icon ion-ios-people">
                            <img ng-src="{{group.thumbnailData}}">
                        </div>
                        <i class="icon col" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                        <!--<p>{{group.name}}<span class="numberInvt">112</span></p>-->
                        <p>{{group.name}}</p>
                    </a>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(group)">
                  <div class="row"><!-- start row members -->
                    <div class="col-50">
                      <div class="memberBox">
                        <a href="#" ng-click="handleMemberships(group)">
                          <!--<span class="numberInvt">112</span>-->
                          <i class="icon icon-group"></i>
                          <span>Members</span>
                        </a>
                      </div>
                    </div>
                    <div class="col-50">
                      <div class="memberBox">
                        <a href="#" ng-click="handleInviteMembers(group)">
                          <i class="icon icon-message-check"></i>
                          <span>Invite Members</span>
                        </a>
                      </div>
                    </div>
                  </div>  <!-- end of row members-->
          <div class="row"><!-- start row subgroups -->
            <div class="col-50">
              <div class="memberBox">
                <a href="#" ng-click="handleListSubgroups(group)">
                    <!--<span class="numberInvt">112</span>-->
                    <i class="icon icon-sub-group"></i>
                  <span>Sub-Groups</span>
                </a>
              </div>
            </div>
            <div class="col-50">
              <div class="memberBox">
                <a href="#" ng-click="handleGroupDetails(group)">
                    <i class="icon icon-more-details"></i>
                  <span>More Details</span>
                </a>
              </div>
            </div>
          </div>  <!-- end of row subgroups-->
        </ion-item>
            </div>
      </div>
      </ion-scroll>
  </ion-content>
