<ion-content style="height: 100%"  overflow-scroll="true" class="has-header">
  <ion-scroll direction="y" style="height: 100%">
    <div class="text-center">
        <h4 class="title">{{groupInput.groupInfo.name}} Details</h4>
    </div>
    <div class="row">
        <div class="col col-50 text-center">
            {{groupInput.groupInfo.closed?'Closed':'Open'}}
        </div>
        <div class="col col-50 text-center">
            {{groupInput.groupInfo.o2m?'O2M':'M2M'}}
        </div>
    </div>
    <div class="row text-center">
        Categories:{{groupInput.groupInfo.categories}}
    </div>
    <div class="row" style="padding-top:20px;" ng-controller="ProfileController">
        <div class="col">
            <div class="group-thumb icon ion-ios-people" ng-click="readOnly && downloadAndOpenProfileImage() ||   !readOnly && setGroupProfilePictureInPlace()">
                <img ng-src="{{groupInput.groupInfo.thumbnailData}}" border="0">
                <span ng-controller="DownloadController"></span>
            </div>
        </div>
    </div>
    <div class="createForm">
        <div class="row">
            <div class="col cus-input">
                <label>Description <span class="subDetailsTxt" ng-if="!readOnly">(Max 100 characters)</span></label>
                <textarea ng-readonly="readOnly" placeholder="Description" ng-model="groupInput.groupInfo.description" ng-model-options="{debounce: 100}" maxlength="100"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-energized" ng-click="doneEditHandler()" ng-hide="true">Update Description</button>
            </div>
        </div>
        <div class="row">
            <div class="col cus-input">
                <label>Rules <span class="subDetailsTxt" ng-if="!readOnly">(Max 100 characters)</span></label>
                <textarea placeholder="Rules" ng-model="groupInput.groupInfo.rules" ng-model-options="{debounce:100}" ng-hide="readOnly" maxlength="100"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-energized" ng-hide="readOnly" ng-click="!readOnly && doneEditHandler()">Update </button>
            </div>
        </div>
    </div>
    </ion-scroll>
</ion-content>