<ion-view view-title="Group Owner/Admin">
  <div align-title="center" class="groups-nav-bar bar bar-header bar-stable " ng-controller="NavigationCtrl">
    <button class="button button-back button-clear brand-base-text-color tring-color" ng-click="goBackAStep()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="h4 title" style="margin-top: 0px;
    float: left;
    margin-left:2px
    ">{{group.name}}</div>
  </div>
<ion-content overflow-scroll="true" style="height: 100%" class="manage-members has-header" >
  <ion-scroll direction="y" style="height: 100%">
    <div>
      <div class="item">
        <span style="float: left;border-radius: 50%" class="  ion-ios-people " ng-if="!group.thumbnailData">
        </span>
        <img style="float: left;border-radius: 50%" ng-if="group.thumbnailData" ng-src="{{group.thumbnailData}}">
        <div style="padding-left:10px; display:inline-table">
          <!--<p style="font-size: large; word-wrap:break-word;white-space: normal;width:250px">{{group.name}}</p>-->
          <p style="font-size: medium; word-wrap:break-word;white-space: normal;width:250px">{{group.description}}</p>
          <p style="font-size: small; word-wrap:break-word;white-space: normal;width:250px">Categories: {{group.categories.join()}}</p>
        </div>

      </div>
    </div>
    <div>
      <div class="row action-legend" style="background-color: white">
        <div class="col col-33" style="padding-left: 25px">
          <div class="row" style="margin-left: 5px">
            <i class="icon icon-user-group-img text-green"></i>
          </div>
          <div class="row" style="margin-top: auto">
            Owner
          </div>
        </div>
        <div class="col col-33" style="padding-left: 25px">
          <div class="row" style="margin-left: 7px">
            <i class="icon icon-user-group-img text-orange"></i>
          </div>
          <div class="row" style="margin-top: auto">
            Admin
          </div>
        </div>
        <div class="col col-33" style="padding-left: 25px">
          <div class="row" style="margin-left: 9px">
            <i class="icon icon-user-group-img text-dark-grey"></i>
          </div>
          <div class="row" style="margin-top: auto">
            Member
          </div>
        </div>
      </div>
      <ion-list>
        <div ng-repeat="admin in admins track by $index">
          <div class="admin-member" ng-repeat="(key,value) in admin">
            <a class="item" href="#" ng-click="showActions(true, key, value, $event, $parent.$index)">
              <div class="member-thumb" random-color>
                {{value.name.charAt(0).toUpperCase()}}
              </div>
              <div>
                <span class="holderName">{{value.name}} </span>
              </div>
              <div class="action-icon"><i class="icon icon-user-group-img" ng-class="$parent.$index === 0? 'text-green':  'text-orange'"></i></div>
            </a>
          </div>
        </div>
      </ion-list>
      <ion-list ng-class="memberList">
        <div ng-repeat="member in members track by $index">
          <div class="list-member" ng-repeat="(key,value) in member">
            <a class="item cus-list" ng-class="$parent.$index == 0?'item-borderless': ''" href="#" ng-click="showActions(false, key, value, $event, $parent.$index)">
              <div class="member-thumb" random-color>
                {{value.name.charAt(0).toUpperCase()}}
              </div>
              <div>
                <span class="holderName">{{value.name}} </span>
              </div>
              <div class="action-icon"><i class="icon icon-user-group-img text-dark-grey"></i></div>

            </a>

          </div>
        </div>
      </ion-list>
    </div>

  </ion-scroll>
</ion-content>
</ion-view>
