  <ion-content overflow-scroll="true" class="manage-members has-header" ng-controller="ManageSubGroupMembersCtrl">
    <ion-scroll direction="y" style="height: 100%">
      <div class="membersHead">{{group.name}}/{{subgroup.name}}
          <a href="javascript:;" class="update-btn" ng-click="updateSubNetwork()"> <i class="icon icon-pencil"></i> edit</a>
      </div>
    <div class="row action-legend">
      <div class="col col-33"><i class="icon icon-modrater text-dark-grey"></i> <span>Moderator</span></div>
      <div class="col col-33"><i class="icon icon-user-img text-green"></i> <span>Members</span></div>
    </div>
    <ion-list>
        <div ng-repeat="moderator in moderators track by $index">
            <div class="admin-member" ng-repeat="(key,value) in moderator">
                <a class="item" href="#" ng-click="showActions(true, key, value, $event, $parent.$index)">
                    <div class="member-thumb" random-color>
                        {{value.name.charAt(0).toUpperCase()}}
                    </div>
                    <div>
                        <span class="holderName">{{value.name}}</span>
                    </div>
                    <div class="action-icon">
                      <i class="icon icon-modrater text-dark-grey"></i>
                    </div>
                </a>
            </div>
        </div>
    </ion-list>
    <ion-list ng-class="memberList">
        <div ng-repeat="member in members track by $index">
            <div class="list-member" ng-repeat="(key,value) in member">
                <a class="item cus-list" href="#" ng-click="showActions(false, key, value, $event, $parent.$index)">
                    <div class="member-thumb" random-color>
                        {{value.name.charAt(0).toUpperCase()}}
                    </div>
                    <div>
                        <span class="holderName">{{value.name}} </span>
                    </div>
                    <div class="action-icon">
                      <i class="icon icon-user-img text-green"></i>
                    </div>
                </a>
            </div>
        </div>
    </ion-list>
      </ion-scroll>

  </ion-content>
