  <ion-content overflow-scroll="true" ng-controller="ManageSubGroupCtrl" class="has-header">
    <ion-scroll direction="y" style="height: 100%">
    <div class="membersHead text-center">{{group.name}} - Sub Group</div>
    <ion-list>
        <div class="manage-list">
            <div ng-repeat="subgroup in subgroups track by subgroup._id" class="manageDiv">
                <ion-item class="item-member" ng-click="handleSubGroup(subgroup)">
                    <!-- ui-sref="app.groups.seeGroupDetails({'readOnly': true, 'group': groups[$index]})"-->
                    <a class="item item-avatar">
                        <div class="groups-thumb icon ion-ios-people">
                            <img ng-src="{{group.thumbnailData}}">
                        </div>
                        <p>{{subgroup.name}}</p>
                    </a>
                </ion-item>
            </div>
        </div>
    </ion-list>
      <div class="row">
          <div class="col">
              <button class="button button-energized button-block" ng-click="handleCreateSubGroup()">
                  Create new sub n/w
              </button>
          </div>
      </div>
      </ion-scroll>
  </ion-content>
