// Colors
// ---------------------------------------------

	//Other Colors
	// ---------------------------------------------
	$mine-shaft: #2E2E2E; //Proffessional Looking Black
	$white : #fff;
    $off-white:#d4d7d8;
    $grey-border-color:#dadada;
    $active-text-color:#dee3e6;
	$grey : #8c98ac;
	$outer-space : #31383a;
	$dimmer-space : #464c4e;
	$dim-gray : #5f5f5f;
    $dim-gray-1:#8a8a8a;
	$storm-dust : #5D6264;
    $brand-text : #3d63a3;
    $green-text: #008931;
    $dim-text:#303030;
    $orange-text:#f35c20;


	// Flat Colors (All the rage these days)
	// The have been grouped in analogous pairs, with an accompanying comment stating
	// the primary color they are closest to.
	// Useful for creating subtle contrast without
	// comparing colors and coming back (What would we do without ALT-TABing?)
	// -------------------------------------------

	// Cyan
	$turquiose : #1ABC9C;
	$green-sea : #16A085;

	// Green
    $page-green:#008931;
	$emerald : #2ECC71;
	$nephritis : #27AE60;
    $group-border-color:#8de4ac;
    $group-outbond-color:#b5f1cb;

	// Blue
    $light-blue:#c8daf6;
	$peter-river : #eff4f6;
    $dark-blue:#35435a;
	$belize-hole : #09a6c5;
    $belize-light-blue:#527aba;
    $navi-blue:#1d2838;
    $sky-blue:#6ac8db;

	// Purple
	$amethyst : #9B59B6;
	$wisteria : #8E44AD;

	// Dark Navy Blue
	$wet-asphalt : #34495E;
	$mid-night-blue : #2C3E50;

	// Yellow - Orange
	$sunflower : #F1C40F;
	$light-orange : #f2f6c9;
	$orange : #e4a151;

	// Carrot
	$carrot : #E67E22;
	$pumpkin : #D35400;

	// Red
	$alizarin: #E74C3C;
	$pomegranate : #C0392B;

	// White Grey
	$clouds : #ECF0F1;
	$silver : #BDC3C7;

	// Flat Grey :D
	$concrete : #95A5A6;
	$asbestos : #7F8C8D;

  $tring-color : #00c600;


	/*Bar Colors*/
	$light:                           #ECF0F1 !default;  $bar-light-text: #ccc;
	$stable:                          #fff !default;	 $bar-stable-text: #333;
	$positive:                        #2980B9 !default;  $bar-positive-text: #fff;
	$calm:                            #11c1f3 !default;  $bar-calm-text: #fff;
	$balanced:                        #33cd5f !default;  $bar-balanced-text: #fff;
	$energized:                       #f5a633 !default;  $bar-energized-text: #fff;
	$assertive:                       #ef473a !default;  $bar-assertive-text: #fff;
	$royal:                           #886aea !default;  $bar-royal-text: #fff;
	$dark:                            #444 !default;	 $bar-dark-text: #fff;


