// General Rules for items not classified elsewhere

	// Background Images
	$default-screen-background : '../img/blur-background.jpg';
    $default-logo-background : '../img/SplashBack.svg';
    $default-logo : '../img/tring-logo.svg';
	$sidebar-profile-background : '../img/demo/sidebar-bg.jpg';
    $footer-backgorund:'../img/footer-bg.png';
    $group-chat-icon:'../img/temp-group-icon.png';

	

	// .rubyonic-pane .bar {height: 50px;}
	// .rubyonic-pane ion-content {padding-top:7px;}

	// Margins
	.no-margin {margin:0;}
	// .rubyonic-pane {padding-top:10px;}
	.rubyonic-pane .ruby-button-clear {border:none; background:none;}
    .subDetailsTxt{ font-size: 13px; color: #bcbfc0;}