/* Setup the default font App-wide */

$font-family-base : Myriad !default;
$font-src : '../fonts/Myriad-Pro-Regular.ttf';

$secondary-font-family-base : Humnst !default;
$secondary-font-src : '../fonts/humnst-777-blk-bt.ttf';

$font-icon-path: "../fonts" !default;//#{$font-icon-version}
$font-icon-family: "icopassel";
$font-icon-version: "37qemy" !default;

@font-face {
    font-family: $font-family-base;
    src: url($font-src) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: $secondary-font-family-base;
    src: url($secondary-font-src) format('truetype');
    font-weight: 200;
}

body *, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-base , Fallback, sans-serif;
}

.secondary-font {
  font-family: $secondary-font-family-base , Fallback, sans-serif;
}

input, button, select, textarea {
	font-family: $font-family-base , Fallback, sans-serif;
}
$button-bar-button-icon-size:     28px !default;
$button-bar-button-height:55px !default;
.bold {font-weight:bold;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-orange{ color:$orange;}
.text-green{ color:$green-text;}
.text-red{ color:$orange-text;}
.text-dark-grey{ color:$dim-gray;}
.box-relative{ position: relative;}
.uppercase {text-transform:uppercase;}

//font new icons
@font-face {
  font-family: $font-icon-family;
  src:url('#{$font-icon-path}/icopassel.eot?#{$font-icon-version}');
  src:url('#{$font-icon-path}/icopassel.eot?#{$font-icon-version}#iefix') format('embedded-opentype'),
  url('#{$font-icon-path}/icopassel.ttf?#{$font-icon-version}') format('truetype'),
  url('#{$font-icon-path}/icopassel.woff?#{$font-icon-version}') format('woff'),
  url('#{$font-icon-path}/icopassel.svg?#{$font-icon-version}#icopassel') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before,.cmIcon{
  font-family: $font-icon-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display:inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sms:before {
  content: "\e91d";
}
.icon-whatsapp:before {
  content: "\e91e";
}
.icon-sub-group:before {
  content: "\e91a";
}
.icon-modrater:before {
  content: "\e91b";
}
.icon-more-details:before {
  content: "\e91c";
}
.icon-pencil:before {
  content: "\e919";
}
.icon-camera:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-contact:before {
  content: "\e902";
}
.icon-copy-message:before {
  content: "\e903";
}
.icon-create-group:before {
  content: "\e904";
}
.icon-double-arrow:before {
  content: "\e905";
}
.icon-file-add:before {
  content: "\e906";
}
.icon-group:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-message:before {
  content: "\e909";
}
.icon-message-check:before {
  content: "\e90a";
}
.icon-mic:before {
  content: "\e90b";
}
.icon-notification:before {
  content: "\e90c";
}
.icon-passel:before {
  content: "\e90d";
}
.icon-profile:before {
  content: "\e90e";
}
.icon-round-arrow:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-setting:before {
  content: "\e911";
}
.icon-single-arrow:before {
  content: "\e912";
}
.icon-smily-happy:before {
  content: "\e913";
}
.icon-trash:before {
  content: "\e914";
}
.icon-user-img:before {
  content: "\e915";
}
.icon-v-card:before {
  content: "\e916";
}
.icon-video-camera:before {
  content: "\e917";
}
.icon-view-group:before {
  content: "\e918";
}