// Chat Interface for Contact List and Conversation
// refer to www/templates/chat-list.html for html code

// Chat-list
.chat-list {
  &.contact-list{
    &.col{
      padding: 5px 0;
    }
    .item{
      padding:5px 0;
      width: 100% !important;
    }
  }
  .item{
    border:none;
    background:none;
    min-height:50px;
    border-bottom:1px solid $off-white;
    padding:10px;
    height: auto !important;
    .row{
      padding: 0;
    }
    &:active{
      background-color:$belize-hole;
      color:$white;
      h2,.notification-summary{
        color:$white;
      }
    }
    .item-img-holder{
      float:left;
      width:50px;
      position:relative;
      img{
        width:100%;
        border-radius:50%;
        display:block;
      }
    }
    &:last-child{
      border-bottom:0;
    }
    .item-state-holder{
      margin-left:70px;
      min-height:50px;
      padding-top:5px;
      position:relative;
      h2{
        font-size:19px;
        color:$dark-blue;
      }
      .notification-summary{
        color:$dim-gray;
      }
      &:before{
        position:absolute;
        content:"";
        display:block;
        width:5px;
        height:15px;
        box-sizing:border-box;
        left:-11px;
        top:8px;
      }
      .list-action{
        position:absolute;
        right:0;
        font-size:20px;
        color:$dim-text;
      }
    }
    &.online{
      .item-state-holder{
        &:before{
          background-color:$page-green;
        }
      }
    }
    &.idle{
      .item-state-holder{
        &:before{
          background-color:$white;
          border:1px solid $page-green;
        }
      }
    }
  }
  .item:after{
    content:"";
    display:block;
    clear:both;
  }
  .item-avatar{
    &.single-chat{
      .new-notification-bubble{
        border-color:$grey; background:$brand-text;
      }
      .item-img-holder{
        img{
          border-color:$dark-blue;
        }
      }
    }
    &.group-chat{
      .new-notification-bubble{
        border-color:$grey; background:$green-text;
      }
      .item-img-holder{
        img{
          border-color:$green-text;
        }
      }
      .item-state-holder{
        h2{
          color:$green-text;
        }
      }
    }
  }
}

// color borders for status messages
//.chat-list .item-avatar.online .item-img-holder img.notification-thumb {border-color:$emerald;}
//.chat-list .item-avatar.busy .item-img-holder img.notification-thumb {border-color:$alizarin;}
//.chat-list .item-avatar.idle .item-img-holder img.notification-thumb {border-color:$sunflower;}

//group and single sepration
//.chat-list .item-avatar.group-chat .new-notification-bubble{border-color:$grey; background:$green-text;}
//.chat-list .item-avatar.group-chat .item-img-holder img{border-color:transparent;}
//.chat-list .item-avatar.group-chat h2{ color:$green-text;}
////group
//.chat-list .item-avatar.single-chat .new-notification-bubble{}
//.chat-list .item-avatar.single-chat .item-img-holder img{border-color:transparent;}
//.chat-list .item-avatar.single-chat h2{ color:$brand-text;}


// Menu Sidebar Notifications
.notifications {} 
.notifications .item {padding:22px 22px 22px 72px;}
.notifications .notification-title {}
.notifications .item-avatar  .item-img-holder img.notification-thumb {border:2px solid $dimmer-space; top: 12px; left: 10px; max-width: 50px; max-height: 50px;}
.notifications .notification-summary {font-style:italic; font-size:13px; @include opacity(0.5);}



//Footer bar controls
.tabs.chat-footer-controls {background:darken($brand-base-color, 10%); border-color:transparent; border-width:0;}
.tabs.chat-footer-controls .tab-item .icon {margin:7px auto 0 auto;}
.tabs.chat-footer-controls .tab-item {}
.tabs.chat-footer-controls .tab-item.tab-item-active {background:$brand-base-color;}

//chats custom

.platform-android .bar .title{ line-height:55px;}
.chat-screen .has-footer{
  bottom:56px;
}