// Single Conversation Chat -
// refer to www/templates/chat-ui.html for html code

//.chat-window {  margin-top: 40px;}
.bar.bar-chat .buttons {margin-top: 10px;}

// Chat Conversation UI
/*.bar.bar-chat {min-height:75px; border-bottom:4px solid $brand-contrast-color;}
.bar.bar-chat .title {overflow:visible; margin:0;}
.bar.bar-chat .button-clear.button-clear {}

// Contact Name, Location, and Thumb
.chat-contact-thumb {@include border-radius(500px); position:absolute; left:0; top:5px; width:60px; border:5px solid transparentize($brand-analogous-color, 0.65);}
.chat-bar-contact-name {padding-left:70px; position:relative; padding-top:15px; }
.chat-bar-contact-name .contact-title{ margin-top:0; margin-bottom:0;}*/
.bar{
  &.bar-passel-header{
    .btn-rack-right{
      .icon{
        &:before{
          font-size: 20px;
        }
      }
      .icon-view-group{
        display: none;
      }
    }
    .title{
      left:0px !important;
    }
    .chat-bar-contact-name{
      margin: auto;
      margin-top: 3px;
      img{
        border-radius:50%;
        width:55px;
      }
      .bar-contact-info{
        margin-top:10px;
      }
      h4,h6{
        margin:auto;
      }
      h4{
        display: inline;
        font-size:16px;
        position: relative;
        float: right;
        padding-top:20px;
        padding-left: 2px;
      }
    }
  }
}
.user-info{
  position:relative;
  top:55px;
  width:100%;
  height:73px;
  background-color:$white;
  border-top:1px solid $grey-border-color;
  border-bottom:1px solid $grey-border-color;
  .button-back{
    position:absolute;
    left:0;
    top:8px;
  }

}
.chat-ui-screen{
  .has-header{
    top:128px;
  }
  .chat-window{
    margin-top:8px;
  }
  .has-footer {
    bottom: 56px;
  }
}

// Message Bubbles
.ion-round{
  position:relative;
}
.chat-message{
  padding: 3px 15px;
  img{
    width:100%;
    @include border-radius(1px);
    @include border-color-contrast($brand-base-color,$color-algorithm);
    border-width:5px;
    border-style:solid;
  }
  .message-holder{
    border-radius:8px;
    padding:5px 10px;
    background-color:#d1ddf5;
    box-shadow:1px 1px 2px $grey-border-color;
    position:relative;
    display: inline-block;
  }
  .chat-label {
    font-size:12px; clear:both; margin:0 0 0; @extend %clearfix; color:$dim-text;
    padding-left:0;
    .text-shift-right {display:inline-block; color:$dim-gray; font-size:12px;}
    &.ion-round{
      + .message-holder{
        &:after{
          content:"";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 0 0 10px;
          border-color: transparent transparent transparent #d1ddf5;
          position:absolute;
          top:-5px;
          left:0;
        }
      }
    }
  }
  &.is-outbound {
    text-align: right;
    .message-holder{
      background-color:#fbe1e5;
    }
    .chat-label {
      clear:both; margin:5px 15px 0 0; text-align:right;
      padding-right:0;
      padding-left:0;
      position: relative;
      color:$brand-text;
      .status-icon{
        position: absolute;
        right: -14px;
        font-size: 11px;
        top: 2px;
        color: #656565;
        &.text-green{
          coror:$green-text;
        }
      }

      .text-shift-right { display:inline-block; color:$dim-gray; font-size:12px;}
      &:before{
        left:inherit;
        right:0;
        background-color:#fbe1e5;
      }
      + .message-holder{
        .chat-label{
          margin-right:0px;
          padding-right:0;
        }
        .text-shift-right{
          float:right;
        }
        &:after{
          left:inherit;
          right:0;
          border-width: 0 0 7px 10px;
          border-color: transparent transparent #fbe1e5 transparent;
        }
      }
    }
    .message-holder{
      .chat-label{
        margin-right:0px;
        padding-right:0;
      }
      .text-shift-right{
        float:right;
      }
    }
  }
}

// Message Input Section
/*ion-footer-bar.chat-footer-bar {background:lighten($brand-base-color, 10%); border-top-width:1px; border-top-style:solid; border-top-color:$brand-contrast-color;}
ion-footer-bar.chat-footer-bar, ion-footer-bar.chat-footer-bar .row {padding:0;}
ion-footer-bar.chat-footer-bar .button {background:transparent; border:none;}
.chat-text-input[type="text"] {
	width:100%;
	background:transparent;
	// @include input-placeholder($brand-base-color, $color-algorithm);
	// @include text-color-contrast($brand-base-color, w3c);
}*/

ion-footer-bar{
  .prvt-chat-close{
    position: absolute;
    right: 17px;
    top: 50%;
    font-size: 19px;
    margin-top: -10px;
  }
  &.chat-footer-bar{
    background: rgba(255,255,255,0.95);
    height: 50px;
    padding-top: -5px;
    padding-bottom:5px;
    border-bottom-width: 0;
    box-shadow: 2px 2px 2px 2px #ccc;
    .col-25{ padding-right:0;
      position: relative;}
  }
  &.offline-status{
    input[type="text"]::-webkit-input-placeholder {
      color:    #333;
    }
    input[type="text"]:-moz-placeholder {
      color:    #333;
    }
    input[type="text"]::-moz-placeholder {
      color:    #333;
    }
    input[type="text"]:-ms-input-placeholder {
      color:    #333;
    }
    .button{
      &.chat-sent-button{
        overflow: hidden;
        background-color: #9bb8c3 !important;
      }
    }
  }
  .row{
    padding:0 0 0 0;
  }
  .chat-text-input::-webkit-input-placeholder {
    color: #666;
  }
  .chat-text-input {
    width:100%;
    border-radius:20px;
    padding-left:10px;
    padding-right:10px;
    overflow: auto;
    outline: none;
    resize: none;
    max-height:90px;
    min-height: 34px;
    background-color:$off-white;
  }
  .button{
    &.chat-sent-button{
      background-color: $tring-color;
      border: none;
      height: 35px;
      line-height: 1;
      width: 35px;
      border-radius: 50%;
      min-height: initial;
      padding:0;
      margin-top:-3px;
      color:$dark-blue;
      position: absolute;
      bottom: 8px;
      .icon:before{
        line-height:1.1;
        font-size:25px;
      }
    }
  }
  .button-add-wapper{
    padding: 5px;
    width: 35px;
    display: inline-flex;
    box-sizing: content-box;
    margin-left: 0px;
    border-radius: 50px;
    border-color: $white;
    .button{
      background-color: $tring-color;
      border: none;
      height: 35px;
      line-height: 1;
      width: 35px;
      border-radius: 50%;
      min-height: initial;
      padding:0px;
      margin-top:-3px;
      color:$white;
      border-style: solid;
      border-width: thin;
      border-color:$white;
      .icon:before{
        line-height:35px;
        font-size:27px;
      }
    }
    .sub-buttons{
      display:none;
      .button{
        margin-bottom: 0px;
        background: none;
        color:$dark-blue;
        .icon{
          &:before{
            line-height: 1.2;
          }
        }
      }
    }
    &.active{
      background-color:$belize-light-blue;
      .sub-buttons{
        display:block;
        margin-bottom:5px;
      }
    }
    &.on{
      .sub-buttons{
        display:block;
        margin-bottom:5px;
      }

    }
  }
}
//Group chat UI css
.load-more{
  background-color:#fff;
  display:block;
  color:#303030;
  padding:3px 0;
  text-align:center;
  text-decoration:none;
  font-size:14px;
}
.chat-group-ui{
  .bar{
    .bar{
      &.bar-passel-header{
        .btn-rack-right{
          .icon-view-group{
            display: inline-block;
          }
          .ion-ios-minus-outline{
            display: none;
          }
        }
        .chat-bar-contact-name{
          h4{
            padding-left: 0;
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
  .chat-message{
    .message-holder{
      border:0px solid $white;
      font-size: 15px;
      .icon-holder{
        .icon{
          font-size: 30px;
        }
      }
    }
    .chat-label {
      &.ion-round{
        + .message-holder{
          &:before{
            border-bottom:12px solid $group-border-color;
          }
        }
      }
    }
    &.is-inbound {
      &.sys-msg {
        //b3ffe0
        .message-holder {
          background-color: $grey-border-color;
          &:after {
            border-left-color: $grey-border-color !important;
          }
        }
      }
      &.admin-msg {
        //b3ffe0
        .message-holder {
          background-color: #eee;
          color: #5d5d5d;
          &:after {
            border-left-color: #eee !important;
          }
        }
      }
      &.prvt-msg {
        .message-holder {
          background-color: #FFFEA6;
          &:after {
            border-left-color: #FFFEA6 !important;
          }
        }
      }
    }
    &.is-outbound {
      &.sys-msg{
        .message-holder{
          background-color: #BAC6DA;
          &:after{
            border-bottom-color:#BAC6DA !important;
          }
        }
      }
      &.admin-msg {
        //b3ffe0
        .message-holder {
          background-color: #eee;
          color: #5d5d5d;
          &:after {
            border-left-color: #eee !important;
          }
        }
      }
      &.prvt-msg {
        .message-holder {
          background-color: #b3ffe0;
          &:after {
            border-left-color: #b3ffe0 !important;
          }
        }
      }
      .message-holder{
        background-color:$group-outbond-color;
        border-color:$group-outbond-color;
      }
      .chat-label {
        color:$page-green;
        &:before{
          background-color:$page-green;
        }
        + .message-holder{
          &:before{
            border-bottom-color:$group-outbond-color;
          }
          &:after{
            border-bottom-color:$group-outbond-color;
          }
        }
      }
    }
  }
  .button-chat-icon{
    position:absolute;
    right:15px;
    .icon:before{
      font-size:45px !important;
      color:$belize-hole;
    }
  }
  .ion-group-chat{
    &:before{
      background:url($group-chat-icon);
      width:44px;
      height:26px;
      content:"";
      display:block;
    }
  }
}
.actionViewPop{
  //width: 100%  !important;
  //left: 0 !important;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.75) !important;
  .row{
    &.messageRw{
      .col{
        text-align: center;
        padding:0px;
        a{
          color: $dark-blue;
          text-decoration: none;
          display: block;
          padding:0px;
          > i{
            font-size: 28px;;
          }
          &:hover{
            color: $dark-blue;
          }
        }
      }
    }
  }
}
.btn-rack-right {
  .icon {
    &:before {
      font-size: 20px !important;
    }
  }
}
.bar-passel-header{
  .icon {
    background-color: transparent !important;
    border:0px !important;
  }
}
