.showSearchOption{
  background-color: $belize-hole;
  padding:15px 0;
  text-align: center;
  position: relative;
  .custom-round{
    position: relative;
    display: inline-block;

    line-height: 1.2;
    background-color: transparent;
    border: 0;
    overflow: inherit;

    .item-content{
      padding: 0;
      margin: 0;
      overflow: inherit;
      background-color: transparent;
      display: inline-block;
      font-size: 16px;
      padding-left: 18px;
      padding-right: 20px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        border: 2px solid #35435a;
        border-radius: 50%;
        top:0;
        left: 0;
      }
    }
    .radio-icon{
      display: none;
    }
    .ng-valid-parse{
      & + .item-content{
        color:$white;
        background-color: transparent;
        &:before{
          content: "";
          display: block;
          position: absolute;
          width: 14px;
          height: 14px;
          border:2px solid $white;
          border-radius: 50%;
          top:0;
          left: 0;
        }
        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 4px;
          left: 4px;
          background-color: #fff;
        }
      }
    }
    &.item-radio{
      input:checked ~ .item-content{
        color:$white;
        background-color: transparent;
        &:before{
          content: "";
          display: block;
          position: absolute;
          width: 14px;
          height: 14px;
          border:2px solid $white;
          border-radius: 50%;
          top:0;
          left: 0;
        }
        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 4px;
          left: 4px;
          background-color: #fff;
        }
      }
    }
  }

  .searchBoxView{
    position: relative;
    a{
      text-decoration: none;
      color: $white;
      text-align: right;
      display: block;
      margin: 0 5%;
    }
    input[type="text"]{
      display: block;
      width:90%;
      box-sizing: border-box;
      border-radius: 50px;
      height: 35px;
      line-height: 35px;
      background-color: #6ac8db;
      padding:0 10px 0 23px;
      margin: 5px 5%;
      &:focus{
        background-color: $white;
      }
    }
    button{
      &.discoverSearch{
        position: absolute;
        padding:0;
        margin: 0;
        right: 5%;
        top: 0;
        border-radius:0 50% 50% 0;
        min-width: inherit;
        min-height: inherit;
        height: 35px;
        width: 35px;
        font-size: 10px;
        border-width:0;
        background-color: #35435a;
        color:#6ac8db;
        &:before{
          font-size: 19px;
          line-height: 34px;
        }
      }
    }
  }
}
.filter-cat{
  background-color: #e2e2e2;
  position: absolute;
  text-align: left;
  width: 100%;
  top: 117px;
  z-index: 99;
  &:after{
    content:"";
    display: block;
    clear: both;
  }
}
.search-result{
  padding:10px;
  .discover-item{
    &:first-child{
      border-top:none;
      padding-top: 0;
    }
    border-top: 1px solid $grey-border-color;
    padding: 10px 0;
    .item-head{
      position: relative;
      &:after{
        content:"";
        display: block;
        clear: both;
      }
      .group-thumb{
        width: 50px;
        height:50px;
        margin: 0;
        position: absolute;
        &:before{
          font-size: 58px;
          width: 50px;
          height: 50px;
          line-height: 49px;
        }
        &:after{
          display: none;
        }
      }
      .item-name{
        margin-left: 60px;
        font-size: 20px;
        position: relative;
        height: 50px;
        line-height: 50px;
        .view-list{
          position: absolute;
          right: 0;
          top:0;
        }
        span{
          font-size: 16px;
          color:#a9abab;
          i{
            background-color: #dae1e5;
            padding: 4px;
            color:#09a6c5;
            font-size: 14px;
            margin-right: 5px;
            position: relative;
          }
        }
      }
    }
  }
  .item-details{
    margin-left: 60px;
    .view-block{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      .view-list{
        display: block;
        box-sizing: border-box;
        width: 33.33%;
        float: left;
        text-align: center;
        padding: 10px 0 5px;
        div:first-of-type {
          background: $white;
          border: 2px solid $green-text;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 5px auto;
          line-height: 28px;
          font-size: 12px;
          color:$green-text;
        }
      }
    }
    .view-stars{
      text-align: center;
      color:$green-text;
      font-size: 16px;
    }
    .item-action{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      .col-2{
        float: left;
        width: 50%;
        box-sizing: border-box;
        text-align: left;
        button{
          line-height: 25px;
          min-height: 0;
          min-width: 0;
          border:0;

        }
      }
      .more-view{
        margin-top: 4px;
        display: block;
        font-size: 16px;
        text-decoration: none;
        text-align: right;
        color:$brand-text;
        i:before{
          transform:rotate(-90deg);
          vertical-align: middle;
        }
        &.active{
          i:before{
            transform:rotate(90deg);
          }
        }
      }
    }
  }
  .item-more-details{
    padding:2% 0;
    .row{
      .col{
        span{
          float: none;
          display: inline-block;
        }
      }
    }
  }
  .group-description{
    .row{
      padding:0;
      .col{
        padding:5px 0;
      }
    }
  }
  .row {
    padding:0;
    .col {
      margin-bottom:0;
      padding:0;
      img.profile-thumb{
        position:relative;
      }
      span{
        position:relative;
        display: block;
        float: left;
      }
      .button-edit{
        position: absolute;
        left: 95px;
        bottom: 0;
        line-height: 29px;
        top: inherit;
        border-radius: 50px 50px 0;
        .icon{
          &:before{
            transform:rotate(273deg);
          }
        }
      }
    }
  }
  .review-box{
    position:relative;
    .button{
      position:absolute;
      z-index:5;
    }
    .slider-pager{
      display:none;
    }
    .review-slide{
      background-color:$white;
      border-bottom:1px solid $green-text;
      border-top:1px solid $green-text;
      .slider-slide{
        padding:15px 40px;
        p{
          &:last-child{
            margin:0;
          }
        }
      }
    }
    .button-prev{
      left:-10px;
      top:50%;
      margin-top: -23px;
      color:$belize-hole;
    }
    .button-next{
      right:-10px;
      top:50%;
      margin-top: -23px;
      color:$belize-hole;
      .icon{
        &:before{
          transform:rotate(180deg);
        }
      }
    }
  }
}
.catViewList{
  position: absolute;
  top: 0;
  right: 15%;
  .catViewArrow{
    background-color: #35435a;
    height: 35px;
    width: 30px;
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
    a{
      transform: rotate(-90deg);
      .icon-single-arrow{
        margin-top: 5px;
        line-height: 35px;
        color:$sky-blue;
      }
    }
  }
}
.catOption {
  position: absolute;
  background-color: #35435a;
  width: 77%;
  top: 35px;
  margin: 0 8%;
  z-index: 5;
  padding:5px 0;
  a{
    padding: 5px 0;
    text-align: left !important;
    display: inline-block;
  }
}
.item.item-input, .menu-screen .item.item-input{
  background-color:$white;
  padding: 0;
  border-radius: 50px;
  margin: 0;
  border: 0;
}
.item.item-input.city-enter{
  &:after{
    content: inherit;
    border:none;
  }
}
.item.item-input  .input-label{
  padding: 6px 0 5px 23px;
  text-align: left;
  font-size: 14px;
}
.item-select select{
  background: $white;
}
.tab-discover{
   .pane{
     background-color: $white;
   }
 }