// News/Home Feed
// refer to www/templates/feed.html for html code

// .feed-screen, .feed-screen.pane {background: $outer-space;}
.bar{height:65px;}
.bar.bar-transparent {background:none;}
.word-break{ word-break: break-all;}
// .bar.bar-transparent .title {}
.bar.bar-ruby-header {border-bottom:3px solid transparentize($brand-analogous-color, 1);}
//passel header theme
.bar.bar-passel-header{padding:0 8px; top:0; border-bottom:0; position: fixed;background:rgba(255,255,255,0.95) !important; border-bottom-width: 0; box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc;}
.bar.bar-passel-header .brand-base-text-color{ color:$assertive;}
.bar.bar-passel-header .title{ text-align:left; margin-left:47px !important;}
.bar.bar-passel-header .title span{ color:$white;}

.ruby {}
.ruby .list-inset {background-color:transparent; margin-top:5px; margin-bottom:15px;}
.ruby .item.ruby-search-box {@include border-radius(8px); }


.feed-item {margin:10px 0 16px 0;}
.feed-item .feed-media {height:auto; overflow:hidden; position:relative;}
.feed-item .feed-gradient-overlay {position:absolute; @include card-top-down-shadow(); height:200px; bottom:0; width:100%; z-index:1;}
.feed-item .feed-image {width:100%;}
.feed-item .feed-title {color:$white; position:absolute; bottom:5px; z-index:2; left:10px; right: 10px;}
.feed-item .feed-item-details, .feed-item .feed-item-details--poster-type {background-color:$brand-contrast-color;; padding:12px;}
.feed-item .feed-item-details--poster-type {position:relative; min-height:65px;}
.feed-item .feed-stat, .feed-item .feed-stat {padding:6px 16px; border-width:1px; border-style:solid; @include border-radius(30px); display:inline-block; margin:0 3px; white-space: nowrap;}
.feed-item .feed-poster-thumb {position: absolute; width: 45px; @include border-radius(500px); border:4px solid $white; top:10px;}
.feed-posted-by {margin-left: 56px; margin-top: 13px;}
.feed-time-post {position:absolute; right:0; top:16px; right:10px;}

//feed quote
.feed-item.is-quote {
	position: relative;
	padding: 43px 10px 15px 10px;
}

.feed-item.is-quote:before {
	content: "\f347";
	font-family: ionicons;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 30px;
	top: 15px;
	left: 13px;
	// margin: -300px 0 0 -200px;
	z-index: 1;
}

// .news-feed

.new-notification-bubble {
  display: inline-block;
  position: absolute;
  top: 47px;
  right:44px;
  width: 18px;
  border-radius: 50%;
  height: 18px;
  padding: 5px;
  z-index: 5;
  background: #EC2117;
  line-height: 10px;
  color: $white;
  font-size: 12px;
}
.item-img-holder .new-notification-bubble{
  width: 25px;
  height: 25px;
  border: 2px solid $dimmer-space;
  padding: 0;
  color: #FFF;
  text-align: center;
  line-height: 21px;
  top: 0;
  right: -8px;
}
.bar .button{ padding:0 5px;}
.blue-text{ color:$brand-text;}
.text-center{ text-align:center;}
.padding-left-0{
  padding-left:0 !important;
}
.padding-top-20{ padding-top:20px;}
.info-message{
  font-size:16px;
  text-align:center;
  padding:14px;
  background:$light-blue;
  white-space: normal;
}
.hr{
  border-bottom:1px solid $off-white;
  height:0;
  width:100%;
  padding:0;
}
.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs,.pane[hide-nav-bar="true"] .has-tabs-top{
  top:0;
}
ion-nav-view{
  &.view-container{
    &.tab-content{
      margin-top: -9px;
      height: 91%;
      &.tab-create{
        margin-top: 45px;
        height: 84%;
      }
    }
  }
}
.green-round{
  display:inline-block;
  background-color:$green-text;
  color:$white;
  width:25px;
  height:25px;
  text-align:center;
  line-height:25px;
  border-radius:50%;
}
.refresh-btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  height: 30px;
}
.button.refresh-btn:before {
  font-size: 40px;
  line-height:40px;
}
.search-input {
  border-radius: 5px;
  padding: 3px 10px 0 !important;
  max-width: 100%;
  border: 1px solid $brand-text !important;
}
.bar-passel-header{
  .button-overlay{
    background-color: #35435a;
    width: 100%;
    position: absolute;
    left: 0;
    top: 54px;
    .button {
      width: 50%;
      float: left;
      border-top: 1px solid #1d2838;
      &:nth-child(2n){
        border-left: 1px solid #1d2838;
      }
    }
    .new-notification-bubble{
      top: 8px;
      right: 70px;
    }
  }
}
/* popup style */
.customPopup{
  &.popup-container{
    .popup{
      width: 90%;
    }
    .popup-head{
      display: none;
    }
    .popup-body{
      padding: 0;
    }
    .modalHeader{
      text-align: center;
      font-size: 16px;
      color: #fff;
      margin-top:0px;
      line-height:30px;
      background-color: #6ac8db;
      padding-top: 15px;
      padding-bottom:15px;
      .group-name{
        font-size: 18px;
      }
    }
    .modalBody{
      padding: 20px 10px 10px;
      font-size: 16px;
    }
    .popup-buttons {
      display: block !important;
    }
  }
}
.create-title,.title{
  font-size: 17px !important;
}
.setting-page{
  padding-top: 0;
  &.setPass{
    background-color: $grey-border-color;
  }
  .row{
    padding: 5px 0;
    + .row{
      margin-top: 0;
    }
    .col{
      padding:0;
      button{
        margin-top: 8px;
        margin-bottom: 8px;
      }
      a{
        padding: 5px 0;
        text-decoration: none;
        color: $belize-hole;
        display: block;
        i.icon{
          margin-left: 6px;
          display: inline-block;
          vertical-align: bottom;
          &:before{
            transform: rotate(90deg);
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.scroll-content{
  .scroll{
    height: 100%;
  }
}
.intro-screen{
  background: linear-gradient(to bottom, rgba(146,207,252,1) 0%, rgba(145,240,252,1) 100%);
  box-shadow: none;
  .box{
    position: relative;
    display: flex;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    &.pink{
      background-color: pink;
    }
  }
  &.has-header{
    .box{
      height: 85vh;
    }
  }
  .slider {
    height: 100%;
    &.intro-slider{
      .icon-o2m,.icon-repu{
        width: 50%;
        height: 100%;
        margin-top: 5px;
      }
      .icon-m2m{
        width: 35%;
        height: 100%;
      }
      .icon-anonymity,.icon-privat-chat,.icon-abuse{
        width: 70%;
        height: 100%;
      }
      p{
        margin-bottom: 5px;
      }
      h3{
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 5px;
      }
    }
    .start-text{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 9px;
      font-size: 15px;
      background-color: #fbdc60;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }
  }
  .slider-slide {
    color: #000;
    text-align: center;
  }
}
.mascot{
  .mascot-item{
    width: 50%;
    height: 100%;
  }
}
//new intro screen

.intro-screen{
  &.new-screen{
    p.intro-title{
      font-size: 20px;
    }
    .intro-screen-1{
      background: url('../img/dots-15.svg') no-repeat center 10%, url('../img/dots-white.svg') no-repeat center 90%;
      background-size: 100% auto, 100% auto;
    }
    .intro-screen-2{
      background: linear-gradient(to bottom, rgba(184,238,136,1) 0%, rgba(255,254,162,1) 100%);
      display: flex;
      flex-wrap: wrap;
      .img-holder{
        background: url('../img/intro-02.png') no-repeat center bottom,url('../img/dots-white.svg') no-repeat center 0%;
        background-size: auto 85%,100% auto;
      }
    }
    .intro-screen-3{
      background: linear-gradient(to bottom, rgba(168,209,218,1) 0%, rgba(255,217,145,1) 100%);
      display: flex;
      flex-wrap: wrap;
      .img-holder{
        background:url('../img/intro-03.png') no-repeat center bottom,url('../img/dots-white.svg') no-repeat center 0%;
        background-size: auto 85%,100% auto;
      }
    }
    .intro-screen-4{
      background: linear-gradient(to bottom, rgba(251,255,219,1) 0%, rgba(212,197,214,1) 100%);
      display: flex;
      flex-wrap: wrap;
      .img-holder{
        background: url('../img/intro-04.png') no-repeat center bottom,url('../img/dots-white.svg') no-repeat center 0%;
        background-size: auto 85%,100% auto;
      }
    }
    .intro-screen-5{
      background: linear-gradient(to bottom, rgba(107,198,218,1) 0%, rgba(213,213,213,1) 100%);
      display: flex;
      flex-wrap: wrap;
      .img-holder{
        background: url('../img/intro-05.png') no-repeat center bottom,url('../img/dots-white.svg') no-repeat center 0%;
        background-size: auto 85%,100% auto;
      }
    }
  }
}
