.tabs-positive{
  .tabs{
    height:45px;
    border-bottom:0;
    top:0;
    background-color:$sky-blue;
    color:$navi-blue;
    .tab-item{
      opacity:1;
      background-color:$sky-blue;
      color:$navi-blue;
      &.activated{
        border:0px;
        margin: 0;
      }
      .icon{
        margin-top: 4px !important;
        font-size: 20px;
        height: 21px;
        /* margin-bottom: 5px; */
      }
      &.tab-item-active{
        background-color:$belize-hole;
        color:$white;
        margin:0px !important;
        border: 0;
      }
    }
    .tab-title{
      font-size:12px;
    }
  }
  .tab-content{
    .padding{
      padding: 0px;
    }
    .scroll-content{
      height: auto !important;
    }
  }
}
.text-black{
  color:$dim-text;
}
.user-group-info{
  background-color:$white;
  padding:15px;
  .item-img-holder{
    position:relative;
    float:left;
    img{
      width:50px;
      height:50px;
      border-radius:50%;
      margin-right:20px;
      display:block;
    }
  }
  .item-state-holder{
    position:relative;
    margin-left:70px;
    .groups-info{
      position:absolute;
      right:0;
      top:0;
      font-size:12px;
      color:$page-green;
      span{
        display:block;
        border:2px solid $page-green;
        border-radius:50%;
        margin:0 auto;
        width:30px;
        height:30px;
        text-align:center;
        line-height:25px;
        font-size:20px;
      }
    }
  }
}
.user-group-list{
  .item{
    border-bottom:1px solid $off-white;
    padding:15px;
    .item-img-holder img{
      display:block;
      border:none;
    }
    .item-state-holder{
      border-bottom:0;
      padding-bottom:0;
      margin-bottom:0;
    }
  }
}
//create groups
.create-title{
  text-align:center;
  margin: 0;
}
.help-box {
  width: 23px;
  height: 23px;
  background-color: #b1b1b1;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  color: #FFF;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.radio-group input[type='radio']{ display:none;}
.radio-group{
  background-color:#b1b1b1;
  display:inline-block;
  width:134px;
  height:38px;
  border:1px solid #a0a0a0;
  overflow:hidden;
  border-radius:50px;
  box-sizing:border-box;
  label{
    width:50%;
    box-sizing:border-box;
    text-align:center;
    line-height:36px;
    font-size:16px;
    display:block;
    color:grey;
    float:left;
    cursor:pointer;
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
      border-radius:50px 0 0 50px;
    &:last-child{
      border-radius:0 50px 50px 0;
      box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    }
  }
  input[type='radio']{
    &:checked{
      + label {
        background-color: #09a6c5;
        color: $white;
        &:last-child{
          box-shadow: inset 2px 1px 4px 2px rgba(255, 255, 255, 0.5);
        }
      }
      &:first-child{
        + label{
          box-shadow: inset 2px 1px 4px 2px rgba(255, 255, 255, 0.5);
          border-radius:50px 0 0 50px;
        }
      }
    }
  }
}
.form-box{
  .col{
    padding:7px;
  }
  input[type='text']{
    background-color:transparent;
    border-bottom:1px solid $dim-gray-1;
    width:100%;
    font-size:16px;
    padding:10px;
  }
  .invite-box{
    input[type='text']{
      margin-bottom:10px;
    }
    p:last-child{
      margin-bottom:0;
    }
  }
  .button-check{
    font-size:14px;
    color:$belize-hole;
    display:block;
    padding-left:35px;
    position:relative;
    line-height:1.2;
    text-decoration:none;
    .icon{
      display:block;
      position:absolute;
      left:0;
      top: 50%;
      font-size: 17px;
      margin-top: -8px;
      &.deg90{
        &:before{
          transform: rotate(90deg);
          margin-left: 10px;
        }
      }
    }
  }
  button[type='submit'],input[type='submit']{
    vertical-align:middle;
    margin-left:5px;
  }
  .action-links{
    font-size:16px;
  }
}
.action-links{
  color:$belize-hole;
  text-decoration:none;
}
.group-thumb{
  width:114px;
  height:114px;
  position:relative;
  margin:0 auto;
  img{
    position:relative;
    z-index:1;
    width:100%;
    height:100%;
    display:block;
    border:0px !important;
    border-radius: 50%;
  }
  &:after {
    @extend .cmIcon;
    content: $ionicon-var-ios-people;
    width: 114px;
    height: 114px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    font-size:114px;
    z-index:0;
    color:#c6ced3;
  }
  &:after{
    @extend .cmIcon;
    content: "\e90f";
    font-size:30px;
    color:$dim-text;
    z-index:2;
    text-align:center;
    line-height:114px;
    cursor:pointer;
  }

}
.ion-ios-people {
  &:before {
    background-color: #c6ced3;
    color: $white;
    font-size: 80px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }
}
