.manageDiv{
  margin:10px 0px 10px 0px;
  padding: 0px;
  border: 0;
  background-color: transparent;
  .item{
    &.item-member{
      background-color: #67c6da;
      border: none;
      padding: 0;
    }
    &.item-avatar{
      padding: 15px 15px 15px 75px;
      background-color: transparent;
      p{
        font-size: 14px;
        color: inherit;
        margin: 0;
        &.subItemTxt{
          font-size: 11px;
        }
      }
      .groups-thumb{
          width: 50px !important;
          height: 50px !important;
          top: 50%;
          margin-top: -25px !important;
          left: 14px;
          position: relative;
        border-radius: 50%;
        overflow: hidden;
        img{
          position: relative;
          z-index: 5;
          width: 50px;
          height: 50px;
        }
        &:before{
          width: 50px;
          height: 50px;
          font-size: 56px;
          z-index: 0;
        }
      }
      .icon{
        &.icon{
          position: absolute;
          right: 8px;
          top: 50%;
          width: 16px;
          height: 16px;
          line-height: 20px;
          padding: 0;
          margin-top: -10px;
          font-size: large;
        }
      }
    }
  }
  .row{
    &.rating{
      padding: 0;
      font-size: 22px;
      line-height: 1;
      color: $green-text;
      li{
        margin-right:2px;
      }
    }
  }
  .review-textarea{
    border-bottom: 1px solid #c8d4d9;
    margin-top: 5px;
    .col{
      textarea {
        width: 100%;
        height: 40px;
        background-color: transparent;
        resize:vertical;

      }
    }
  }
  .invite-join {
    font-size: 13px;
    color: $brand-text;
    margin-top: -20px;
    position: relative;
    top: -8px;
    .icon{
      font-size: 17px;
      line-height: 0;
      display: block;
      text-align: center;
    }
  }
}
.invite-category{
  background-color: $light-blue;
  &.col{
    padding: 0;
    margin-bottom: 15px;
    .row{
      padding: 0;
    }
  }
  .item{
    &.item-radio{
      &.col{
        padding: 0;
        border: 0;
        margin: 0 ;
        background-color: transparent;
      }
      .item-content {
        display: block;
        padding: 0;
        border: 0;
        text-align: center;
        background-color: transparent;
        height: 32px;
        padding-top: 5px;
        box-sizing: border-box;
      }
      input{
        ~ .item-content{
          .icon{
            font-size: 20px;
            &.icon-sms{
              color: $belize-hole;
            }
            &.icon-whatsapp{
              color: $page-green;
            }
          }
          ~ .icon{
            display: none;
          }
        }
      }
      input{
        &:checked{
          ~ .item-content{
            background-color: $peter-river;
            .icon{
              text-align: center;
            }
            ~ .icon{
              display: none;
            }
          }
        }
      }
    }
  }
}