.manage-list{
  .item{
    &.item-accordion{
      background-color: transparent;
      line-height: normal;
      padding: 0px;
      margin-bottom: -10px;
      border:0;
      .memberBox {
        text-align: center;
        border: 1px solid #ebebeb;
        font-size: 12px;
        background-color: #fff;
        position: relative;
        display: flex;
        height: 15vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin: 5px;
        a{
          text-decoration: none;
          color: $belize-hole;
          position: relative;
          .numberInvt {
            font-size: 9px;
            line-height: normal;
            color: #fff;
            background-color: #008931;
            padding: 4px 10px 4px 10px;
            border-radius: 10px;
            position: absolute;
            left: 98px;
            top: 0;
          }
        }
        .icon{
          display: block;
          text-align: center;
          font-size: 25px;
          line-height: 0.8;
          margin-bottom: 0;
          color: $belize-hole;
          &.icon-group{
            line-height: 0.5;
          }
        }
      }
    }
    &.item-avatar{
      p{
        line-height: 42px;
        .numberInvt {
          font-size: 9px;
          line-height: normal;
          color: #fff;
          background-color: #008931;
          padding: 4px 10px 4px 10px;
          border-radius: 10px;
          margin-left: 8px;
        }
      }
    }
  }
}
.manage-members{
  .membersHead {
    font-size: 17px;
    padding: 10px 10px 10px 10px;
    a{
      color: $belize-hole;
      font-size: 20px;
      float: right;
      &.update-btn{
        i{
          display: block;
          margin: 0 auto;
          font-size: 20px;
        }
        font-size: 12px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
.membersHead {
  font-size: 17px;
  padding: 10px 10px 10px 10px;
}
.manage-members{
  .sub-search-box{
    padding: 15px;
    background-color: #FFF;
    border-bottom: 1px solid $dim-gray;
    input {
      height: 40px;
      line-height: 41px;
      font-size: 15px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #5f5f5f;
      border-radius: 50px;
      padding: 0 15px;
    }
  }
  .action-legend {
    font-size: 14px;
    color: grey;
    line-height: .8;
    .icon{
      font-size: 25px;
      float: left;
      margin-right: 5px;
    }
    .col{
      span{
        display: flex;
        margin-left: 28px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        min-height: 30px;
      }
    }

  }
  .list{
    .item {
      background-color: $white;
      position: relative;
      padding: 10px 6px 10px 72px;
      height: 70px;
      line-height: 50px;
      .member-thumb {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left: 10PX;
        top: 10px;
        background-color: $belize-hole;
        text-transform: uppercase;
        font-size: 30px;
        color: #FFF;
        text-align: center;
        line-height: 55px;
      }
    }
    .admin-member {
      .item {
      }
    }
    .action-icon{
      position: absolute;
      top: 50%;
      right: 10px;
      font-size: 25px;
      margin-top: -21px;
      .icon{
        margin-left:10px;
        &.icon-active{
          position: relative;
          &:after{
            content: "\f122";
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            font-size: 18px;
            color: #333;
            right: -2px;
            top: -4px;
          }
        }
      }
    }
  }
  .item-subGrpName{
    border-radius: 50px;
    width: 100%;
    padding: 0 10px;
    line-height: 1.3;
  }
}
.popover {
  height: auto !important;
  ion-content {
    top: 0;
    position: relative;
    .scroll{
      transform: inherit !important;
    }
  }
}
.sub-group-details{
  width:100% !important;
  left: 0 !important;
  .row{
    &.messageRw{
      border-bottom: 1px solid grey;
      .col{
        text-align: center;
        a{
          text-decoration: none;
          display: block;
          padding:5px 0;
          > i{
            font-size: 28px;;
          }
        }
      }
    }
  }
}
