.popup-msg{
  position: absolute;
  background-color: $belize-hole;
  padding: 7px 5px;
  font-size: 13px;
  color:$white;
  width: 150px;
  border-radius: 3px;
  top: 28px;
  left: -65px;
  line-height: 1.3;
  z-index: 3;
}
.createForm{
  form{
    margin: 0px !important;
    padding: 0px !important;
  }
  .cus-input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    padding-top: 5px;
    position: relative;
    .help-box{
      margin: 0;
      position: absolute;
      right: 0;
      top: 15px;
      .popup-msg{
        right: 0px;
        left: inherit;
      }
    }
    input{
      width: 100%;
      background-color: transparent;
    }
    textarea{
      width: 70%;
      height: 50px;
      resize: vertical;
      background-color: transparent;
    }
    select{
      background-color: transparent;
      padding: 0;
      margin: 0;
      width: 100%;
      border: 0px;
    }
  }
  .row{
    position: relative
  }
  .inputError{
    position: absolute;
    width: 100px;
    top: 29px;
    right: 5px;
    background-color: $pomegranate;
    color: #FFF;
    font-size: 12px;
    line-height: 1.1;
    padding: 5px;
    z-index: 3;
    &.left{
      right: inherit;
      left: -115px;
    }
  }
  .errorBox{
    color: $pomegranate;
    .icon{
      position: absolute;
      top: 8px;
      right: 5px;
      &:before{
        font-size: 20px;
      }
    }
  }
  .add_error_box{
    position: absolute;
    top: 5px;
    right: 0;
    .add-cat{
      font-size: 21px;
      width: 25px;
      height: 25px;
      background-color: $brand-text;
      display: block;
      text-align: center;
      line-height: 30px;
      border-radius: 50px;
      margin-top: 5px;
    }
  }
  .category-list{
    padding-top: 5px;
    .category-item{
      display: inline-block;
      margin-right: 8px;
      .close-item{
        margin-left: 5px;
        font-size: 14px;
        color: $pomegranate;
      }
    }
  }
}
tags-input{
  .tags {
    border: 0 !important;
    box-shadow: none !important;
    .input{
      padding-left: 0 !important;
      width: 100% !important;
      margin: 0 !important;
    }
  }
  .host{
    padding:0;
    margin: 0 !important;
  }
}
