// Login Screen
// refer to www/templates/login.html for html code

.pane, .view {background: #d9e0e4; -moz-box-shadow: inset 0 8px 60px #c8d0d4;
  -webkit-box-shadow: inset 0 8px 60px #c8d0d4;
  box-shadow:inset 0 8px 60px #c8d0d4;}

.login-screen .description {border-top:1px solid $grey; border-bottom:1px solid $grey; padding:35px; text-align:center; color : $white;}
.login-screen .login-form .is-transparent, .login-screen .login-form.is-transparent, .login-screen .login-form.is-transparent .item {background:none;}
.login-form.is-transparent .item {border-width:0;}
.login-form .item.item-input {padding:5px 0 5px;}
.login-form .item.item-input input {color:$brand-text; border-bottom:1px solid $grey; height:40px; padding-right: 15px; padding-left: 27px; font-size:16px;}
.login-form .item.item-input i.icon {font-size:24px;position: absolute; left: 5px; top: 10px; color:$brand-text;}

.login-screen{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91cffb+0,91f5fb+100 */
  background: url($default-logo-background) center center no-repeat $white; /* Old browsers */
  background-size: 98% 100%;
  .logo{
    text-align: center;
    margin-top: 20px;
    .logo-svg{
      width: 60%;
      height: 100%;
    }
  }
  .login-form {
    margin:0 13% 0 13% ;
    .button-stack{
      padding:20px 0;
      text-align: center;
      a{
        display: block;
        color:$brand-text;
        text-decoration: none;
      }
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      .row{
        padding: 0;
        .col{
          padding: 0;
        }
      }
    }
  }
}
.social-login .button.button-block {margin:0;}
.app-title{
  text-align:center;
  padding: 12px 12% 0;;
  margin-bottom:0;
  line-height:1.1;
}
.footer-box{
  font-size:13px;
  text-align:center;
  margin-top: -12px;
  margin-left:20px;
  margin-right:20px;
  color: grey;
}
.title-on-lines {
  position: relative;
  text-align: center;
}

.title-on-lines span {
  background: $clouds;
  @include border-radius(5px);
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.title-on-lines:before {
  background: $white;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.title-on-lines:before {
  left: 0;
}

.divider{
        color:#ccc;
        width:70%;
        margin:10px auto;
        overflow:hidden;
        text-align:center;
        line-height:1.2em;
    }

    .divider:before, .divider:after{
        content:"";
        vertical-align:top;
        display:inline-block;
        width:50%;
        height:0.65em;
        border-bottom:1px solid #ccc;
        margin:0 2% 0 -55%;
    }
    .divider:after{
        margin:0 -55% 0 2%;
    }
.button-icon{
  &.button-countryCode{
    position: relative;
    left: 20px;
    top: 5px;
  }
}

