// Profile Styles
// Refer to www/templates/profile.html
.profile-background {
  overflow:hidden; position:relative;
  .button-edit{
    position:absolute;
    right:20px;
    top:10px;
    line-height:29px;
  }
}
.profile-background, .profile-overlay {height:226px;}
.profile-overlay {
  z-index:2;
  position: absolute;
  width:100%;
//  background-color:transparentize(black, 0.6);
  display:none;
}
.button-edit{
  background-color:#1e99bf;
  width:25px;
  height:25px;
  border-radius:50px 50px 50px 0;
  text-align:center;
  line-height:25px;
  .icon{
    font-size:14px;
  }
}
.profile-details {
  z-index:3;
  position: absolute;
  bottom: 0; width:100%;
  background-color: transparentize(darken($brand-base-color, 5%), 0.2);

  .profile-thumb{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 1px solid #666;
    position: relative;
    z-index: 0;
    overflow: hidden;
    img{
      position: relative;
      width:120px;
      height: 120px;
      z-index: 5;
    }
    &:before{
      width: 120px;
      height: 120px;
      font-size: 120px;
      color: #666;
      position: absolute;
      top: -9px;
      left: -1px;
      z-index: 0;
    }
    &:after{
      content: "\e90f";
      font-family: "icopassel";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 48%;
      margin-top: -20px;
      font-size: 20px;
      left: 50%;
      margin-left: -10px;
      z-index: 0;
      color:$brand-text;
    }
  }
  .profile-actions{
    /*position: absolute;
    right: 20px;
    top: 50%;
    background: #FFF;
    border-radius: 50px;
    width: 70%;
    text-align: left;
    height:40px;
    margin-top:-20px;
    font-size:20px;
    color: $dim-text;
    line-height:40px;
    padding-left:50px;*/
    input{
      width: 100%;
      padding: 7px 15px;
      margin-top: 10px;
      border-radius: 50px;
      border: 0;
    }
    .button-edit{
      position: absolute;
      right: 6px;
      top:6px;
      .icon{
        font-size:14px;
      }
    }
  }
  .row {
    padding:0;
    .col {
      margin-bottom:0;
      padding:0;
      img.profile-thumb{
        position:relative;
      }
      span{
        position:relative;
        display: block;
        float: left;
      }
      .button-edit{
        position: absolute;
        left: 95px;
        bottom: 0;
        line-height: 29px;
        top: inherit;
        border-radius: 50px 50px 0;
        .icon{
          &:before{
            transform:rotate(273deg);
          }
        }
      }
    }
  }
  .profile-thumb{
    width:120px;
    height:120px;
    border-radius:50%;
    display:block;
  }
}
.profile-status{
  border-top:1px solid $off-white;
  padding-bottom: 0;
  .row{
    padding: 0;
    &.bottomLine{
      padding-top: 10px;
      border-bottom: 1px solid #dee3e6;
      .col:first-child{
        padding-top: 13px;
      }
    }
    .col{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .status-input{
    border:0;
    border-bottom:1px solid #8a8a8a;
    background-color: transparent;
    width: 107.5%;
    padding: 0 26px 8px 10px;
    margin-left: -15px;
  }
  .edit-status{
    padding-left:0;
    padding-bottom:0;
    position:relative;
    .button-edit{
      right:0;
      position:absolute;
      line-height:28px;
    }
    span{
      float:right;
      font-size:12px;
      color:$dim-gray-1;
    }
  }
}
.profile-head{
  color:$white;
  background-color:$brand-text;
  text-align:center;
}
.reputation-list{
  .item{
    padding:0;
    background-color:transparent;
    border-top:0;
    border-left:0;
    border-right:0;
    font-size:14px;
    .status-no{
      color:$orange-text;
    }
  }
}
.reputation-list .item .status-no span.round-count {
  width: 50px;
  height: 50px;
  background: $white;
  display: inline-block;
  border: 2px solid $orange-text;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  margin-right: 5px;
}
// group details page
.profile-background{
  &.group-details{
    height:200px;
    .profile-details{
      .profile-thumb{
        width:50px;
        height:50px;
        float:left;
      }
      .group-name{
        position:relative;
        float:left;
        margin-left:15px;
        margin-top:8px;
        .contact-title{
          margin-left:0px;
          margin-top:auto;
        }
      }
      .button{
        position:absolute;
        right:0;
        color:$brand-text;
        .icon{
          &:before{
            font-size:40px;
          }
        }
      }
      .rating{
        margin-left:63px;
        margin-top: 10px;
        min-height:30px;
        .icon{
          &:before{
            font-size:20px;
            color:$dim-gray-1;
          }
          &.active{
            &:before{
              color:$green-text;
            }
          }
        }
      }
      .col{
        position:relative;
        .groups-info{
          position:absolute;
          right:0;
          top:0;
          color: $green-text;
          font-size:12px;
          text-align:center;
          span{
            display:block;
            border:2px solid $green-text;
            background-color:$white;
            border-radius:50%;
            width:30px;
            height:30px;
            text-align: center;
            line-height: 28px;
            font-size: 16px;
            margin-left:10px;
          }
          p{
            margin-bottom:0;
          }
        }
      }
      .hr{
        margin:10px 0 10px 63px;
        border-color:$grey;
        width:auto;
      }
    }
  }
}
.group-description{
  .row{
    padding:0;
    .col{
      padding:5px 0;
    }
    &.group-type{
      padding:15px 0;
    }
  }
}
.review-box{
  position:relative;
  .button{
    position:absolute;
    z-index:5;
  }
  .slider-pager{
    display:none;
  }
  .review-slide{
    background-color:$white;
    border-bottom:1px solid $green-text;
    border-top:1px solid $green-text;
    .slider-slide{
      padding:15px 40px;
      p{
        &:last-child{
          margin:0;
        }
      }
    }
  }
  .button-prev{
    left:-10px;
    top:50%;
    margin-top: -23px;
    color:$belize-hole;
  }
  .button-next{
    right:-10px;
    top:50%;
    margin-top: -23px;
    color:$belize-hole;
    .icon{
      &:before{
        transform:rotate(180deg);
      }
    }
  }
}
.bar-contact-info{
  cursor:pointer;
}
.input-line{
  input{
    border-bottom: 1px solid $grey;
    background-color: transparent;
    width: 100%;
  }
  span{
    text-align: right;
    font-size: 12px;
    float: right;
    color: $grey;
  }
}
.setPassword{
  .popup{
    width: 90%;
    background-color:#d0e9ee;
    color:#666;
  }
  .popup-buttons,.popup-head{
    display: none;
  }
  .popup-body{
    padding: 0;
  }
  .mod-title {
    font-size: 16px;
    padding: 10px 10px 0;
  }
  .form{
    .row{
      .col{
        input{
          border-bottom: 1px solid #d1d3d6;
          background-color: transparent;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.modratePopup{
  .popup{
    width: 90%;
  }
  .popup-buttons,.popup-head{
    display: none;
  }
  .popup-body{
    padding: 0;
  }
  .mod-head{
    background-color: $belize-hole;
    padding: 10px 10px 10px 70px;
    position: relative;
    height: 70px;
    line-height: 50px;
    font-size: 16px;
    color: #FFF;
    .profile-thumb{
      img{
        position: relative;
        z-index: 5;
        width: 50px;
        height: 50px;
        border: 0px;
      }
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      left: 10px;
      top: 10px;
      overflow: hidden;
      &:before{
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 50px;
        left:0;
        top: 0;
        color: #666666;
        line-height: 43px;
        z-index: 0;
      }
    }
  }
  .mod-title {
    font-size: 16px;
    padding: 10px 10px 0;
  }
  .mod-body{
    .row{
      .col{
        text-align: center;
        &:first-child{
          border-right: 1px solid #d1d3d6;
        }
        p{
          margin-bottom: 5px;
          &:last-child{
            margin-bottom: 0;
          }
          &.no-box{
            width: 30px;
            height: 30px;
            margin: 0 auto 10px;
            border: 1px solid #d39211;
            text-align: center;
            border-radius: 50%;
            line-height: 30px;
            font-weight: bold;
            color: #d39211;
          }
        }
      }
    }
    .form{
      input{
        border-bottom: 1px solid #d1d3d6;
        background-color: transparent;
      }
      .row{
        .col{
          border-top: 1px solid #9e9e9e;
          span{
            color:#a6a6a6;
            font-size:10px;
            text-align: right;
            display: block;
          }
        }
      }
    }
  }
}

/*
.bar.profile-bar {
	background-color:rgba(0, 0, 0, 0.5);
	border-bottom:0px solid transparent;
	border-color:transparent;
}
.bar.profile-bar .title {color:white;}

.profile-background {overflow:hidden; position:relative;}
.profile-background .profile-wallpaper {} //your image should be big enough to cover the area (about 500px in height)
.profile-background, .profile-overlay {height:226px;}
.profile-overlay {
	z-index:2;
	position: absolute;
	width:100%;
	background-color:transparentize(black, 0.6);
}

.profile-details {
	z-index:3;
	position: absolute;
	bottom: 0; width:100%;
	background-color: transparentize(darken($brand-base-color, 5%), 0.2);
	color: white;
}


.profile-details .profile-actions{
	position: absolute;
	right: 10px;
	top : 10px;
}

.profile-details .row {padding:0;}
.profile-details .row .col {margin-bottom:0;}

.profile-name-title {  border-bottom: 1px solid white; padding-bottom: 10px; margin-top: 0;}
.profile-thumb {
	margin: -45px 5px 5px 0;
	border-radius: 500px;
	border: 5px solid rgba(255, 255, 255, 0.5);
	width: 100px;
}

.profile-stats {
	padding: 3px 13px 3px 13px;
	border-width: 1px;
	border-style: solid;
	@include border-radius(30px);
	border-radius: 50px;
	display: inline-block;
	margin: 8px 5px 8px 0;
	white-space: nowrap;
	font-size: 12px;
}
.profile-stats i {padding-right:3px;}

.profile-details-extra {
	background-color: transparentize($brand-contrast-color, 0.4);
	margin:-10px 0px;
}*/
