/* Empty. Add your own CSS if you like  #4CE73C #E74C3C*/

@font-face {
  font-family: 'BlinkMacSystemFont';
  src: url('../lib/ionic/fonts/SanFranciscoDisplayRegular.ttf')  format('truetype');
}
* {
  font-family: 'BlinkMacSystemFont' !important;

}

.body {
  background-color: #fcfcfc;
}

.pane, .view {
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #00c600;
}

::-webkit-input-placeholder {
  /*text-align: center;*/
  color: grey !important;
  font-size: small !important;
}

:-moz-placeholder { /* Firefox 18- */
  /*text-align: center;*/
  color: grey !important;
  font-size: small !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  /*text-align: center;*/
  color: grey !important;
  font-size: small !important;
}

:-ms-input-placeholder {
  /*text-align: center;*/
  color: grey !important;
  font-size: small !important;
}

input.left-placeholder::-webkit-input-placeholder {
  text-align: center;
  color: lightgrey;
}

input.leftplaceholder:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: lightgrey;
}

input.leftplaceholder::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  color: lightgrey;
}

input.leftplaceholder:-ms-input-placeholder {
  text-align: center;
  color: lightgrey;
}

.online-status {
  background: #4CE73C
}

.offline-status {
  background: #E74C3C
}
.login-page {

}

/**
 * we are using flexbox for the layout
 */
.login-page .login-container {

}

/**
 * logo
 */
.login-top img {

}

/**
 * customization of "what's your number and don't worry.."
 */
.login-top h3 {color: white;}
.login-top p {margin: 0 auto 16px; color: #DDD;}

/**
 * display the country selector and the phone number input
 * next to each other on the same line
 */
.login-top label {

}
.login-top label.item-country-code {

}
.login-top label.item-phonenumber {
}

/**
 * The confirmation code input is taking the full width
 */
.login-top label.item-code {
}

/**
 * use a ligth shadow when tapping on the country selector button
 */
.login-top label.item-country-code.activated {
  border-color: none;
  background-color: rgba(0,0,0,0.2);
}

/**
 * customization of the forms
 */
.login-top .countrycode,
.login-top .item-code input,
.login-top .item-phonenumber input {

}
.login-top .item-phonenumber input {}
.login-top .item-code input {text-align: center;padding-right: 0;}

/**
 * Down arrow next to the country selector button
 */
.login-top .countrycode  .arrow-down {

}

/**
 * Customization of the input placeholder
 */
.login-top .item-code input::-webkit-input-placeholder,
.login-top .item-phonenumber input::-webkit-input-placeholder {

}

/**
 * The green icon appears when the phone number is valid
 */
.login-top .item-phonenumber .icon {
  opacity: 0;
  transition:.25s opacity;
  color:#5CDC54;
  font-size: 18px;
  right: -12px;
}

.login-top .item-phonenumber .icon.phonenumber-valid  {
  opacity: 1;
}

/**
 * Position the button to right side of the form
 */
.login-top .button {

}

.login-text-not-received a,
.login-disclaimer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/**
 * Country selector: reduce the default height of a ionic item
 */
.item-country {
  padding: 8px 16px;
}

/**
 * Platform specific, to be have the best rendering on each platform
 */
.platform-android .login-action-sheet .action-sheet .button {
  font-size: 15px;
  padding-left: 20px;
}
.platform-cordova.platform-ios  .countrycode,
.platform-cordova.platform-ios  .item-code input,
.platform-cordova.platform-ios  .item-phonenumber input {
  line-height: 28px;
}
.platform-cordova.platform-ios .phonenumber-valid {
  padding-bottom: 6px;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
/***
  NEW THEME CSS STARTS HERE
**/

/* avatar */
.thumb-cover{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}

.thumb-img{
  width:58px;
  height:58px;
  border-radius: 50%;
}

.item-avatar.item-avatar-big .item-content{
  padding-left: 80px;
}
.singal-thumb.thumb-big-left{
  margin-left:0 !important;
}
.thumb-cover .thumb-big-left{
  width:50px;
  height:50px;
  background-size:cover;
  margin-left: -25px;
}
.thumb-cover .thumb-small-top{
  width:25px;
  height:25px;
  background-size:cover;
  margin-top: -50px;
  margin-left: 25px;
}
.thumb-cover .thumb-small-bottom{
  width:25px;
  height:25px;
  background-size:cover;
  margin-top: 0px;
  margin-left: 25px;
}
.image-cover{
  margin:0 auto;
  width:80px;
  height:80px;
  background-size:cover;
  border-radius: 80px;
  overflow: hidden;
}
.thumb-big-left{
  width:80px;
  height:80px;
  background-size:cover;
  margin-left: -40px;
}
.thumb-small-top{
  width:40px;
  height:40px;
  background-size:cover;
  margin-top: -80px;
  margin-left: 40px;
}
.thumb-small-bottom{
  width:40px;
  height:40px;
  background-size:cover;
  margin-top: 0px;
  margin-left: 40px;
}
/* message bubble */
.chat-message .item{
  border:none;
}
.message-bubble {
  display: inline-block;
  padding: 10px;
  border-radius: 14px;
  max-width: 200px;
}
.message-bubble.positive-bg{
  color: white !important;
  text-align: left;
}
.message-bubble:before {
  position: absolute;
  left: 64px;
  content: '';
  width: 0;
  height: 0;
  border-width: 7px 14px 7px 0;
  border-style: solid;
  border-color: transparent #f8f8f8 transparent;
}
.item-avatar-right .message-bubble:before {
  left: auto;
  right: 64px;
  border-width: 7px 0 7px 14px;
  border-color: transparent #387ef5 transparent;
}
/* cover image */
.cover-image{
  min-width: 40px;
  min-height: 40px;
  background-size:cover;
  border-radius:50%;
}
/* auth */
.item-input{
  padding-right:10px;
}
/* groups */
.groups .item-content{
  padding-right: 16px;
}

.padding-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.no-padding {
  padding: 0px !important;
}

.nav-view-100 {
  margin-top: 0px !important;
  height: 100% !important;
}
.groups-item-action:after {
  content: "";
  display: block;
  clear: both;
}

.groups-item-action .groups-col-2 {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: left;
}

.groups-item-action .groups-col-2 button {
  line-height: 25px;
  min-height: 0;
  min-width: 0;
  border: 0;
}

.groups-item-action .more-view {
  margin-top: 4px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-align: right;
  color: #3d63a3;
}

.groups-item-action .more-view i:before {
  transform: rotate(-90deg);
  vertical-align: middle;
}

.groups-item-action .more-view.active i:before {
  transform: rotate(90deg);
}

.group-photo {
  margin:0;
  width: 100%;

  /*display: inline-block;*/
  /*position: absolute;*/
  /*top: 16px;*/
  /*left: 16px;*/
  /*width: 80px;*/
  /*height: 80px;*/
  /*background-size: cover;*/
  /*border-radius: 50px;*/
  /*overflow: hidden;*/
}
.group-photo-members {
  margin-left:5px;
  margin-top:3px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  border-radius: 25%;
}

.group-info-members {
  margin-left:30px;
  max-width: 90%;
  resize:none;
}
.text-wrap {
  word-wrap: break-word;
  white-space: normal;
}
.text-group-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*[class^="icon-"]:before, [class*=" icon-"]:before, .cmIcon, .group-thumb:after {*/
/*font-family: "icopassel";*/
/*speak: none;*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*font-variant: normal;*/
/*text-transform: none;*/
/*line-height: 1;*/
/*display: inline-block;*/
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*}*/
.ion-ios-groups:before
{
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ion-ios-groups:before {
  content: ""; }

/*.groups-nav-bar.bar   .icon  {*/
  /*color:red;*/
/*}*/
/*.groups-nav-bar.bar  .title {*/
  /*color:red;*/
/*}*/

.groups-thumb-big {
  align-content: center;
  height:100%;
  /*width:100%;*/
  border-radius:50%;
  margin: 0;
  font-size: 100px;
  color: lightgrey;
  /*border-width: thick;*/
  /*border-style: solid;*/
}
.container-with-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.groups-image-panorama{
  max-width: 100%;
  width:auto;
  max-height:275px;
  height:auto;
  overflow: hidden;
}

.tabs {
  height: 55px;
  /*background: linear-gradient(rgba(230,230,230,0.96), rgba(240,240,240,0.96)) !important;*/
  background: rgba(255,255,255,0.95);
  border-top-width: 0;
  border-bottom-width: 0;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.item-chat {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.padding-right-0 {
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
}

.scroll-content {
  margin-top: 8px;
  overflow: visible !important;
}


.bar.bar-header {
  background: rgba(255,255,255,0.95) !important;
  border-bottom-width: 0;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #ccc;
}

.bar.bar-header h1 {
  color: black !important;
}


.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top:0px;
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(0,20px,0);
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translate3d(0,10px,0);
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes slideOutSmooth {
  0% {
    -webkit-transform: translate3d(0,0px,0);
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translate3d(0,15px,0);
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translate3d(0, 30px,0);
    animation-timing-function: ease-in-out;
    visibility: hidden;
  }
}


.slide-in{
  -webkit-animation: slideInSmooth;
  animation: slideInSmooth;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

.slide-out{
  display: block !important;
  -webkit-animation: slideOutSmooth;
  animation: slideOutSmooth;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

ion-footer-bar .button-add-wapper .button .icon:before {
  font-size: 22px;
  color: whitesmoke;
}

.icon-double-arrow:before {
  color: whitesmoke;
  font-size:16px;
}

.icon-copy-message:before {
  color: whitesmoke;
  font-size:16px;
}

.icon-trash:before {
  color: whitesmoke;
  font-size: 16px;
}


.icon-user-img:before {
  color: whitesmoke;
  font-size: 16px;
}

.icon-user-group-img:before {
  content: "\e915";
}

.ion-ios-email-outline:before {
  color: whitesmoke;
  font-size: 16px;
}

ion-scroll[direction=y] {
  height: 100vh;
}

/*For ios style on-off switch*/

.onoffswitch {
  position: relative; width: 60px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 36px; padding: 0; line-height: 36px;
  border: 2px solid #CCCCCC; border-radius: 36px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 36px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 22px;
  border: 2px solid #CCCCCC; border-radius: 36px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

/*******************/

.ios-check-box{
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}

input[type="checkbox"]{
  display: none;
}

.ios-custom-toggle {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 9px;
  margin: auto;
  width: 51px;
  height: 31px;
}

.ios-custom-toggle label,
.ios-custom-toggle i{
  box-sizing: border-box;
  display: block;
  background: #ffffff;
}

.ios-custom-toggle label{
  width: 51px;
  height: 32px;
  border-radius: 32px;
  border: 2px solid #e5e5e5;
  transition: all 0.30s ease;
}

.ios-custom-toggle i{
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
  0 3px 3px 0 rgba(0,0,0, 0.15);
  background: #ffffff;
  transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

input[type="checkbox"]:active + .ios-custom-toggle i{
  width: 35px;
}

input[type="checkbox"]:active + .ios-custom-toggle label,
input[type="checkbox"]:checked + .ios-custom-toggle label{
  border: 16px solid #4cd964;
}

input[type="checkbox"]:checked + .ios-custom-toggle i{
  left: 21px;
}

input[type="checkbox"]:checked:active + .ios-custom-toggle label{
  border: 16px solid #e5e5e5;
}

input[type="checkbox"]:checked:active + .ios-custom-toggle i{
  left: 14px;
}

.tring-color {
  color:#00c600 !important;
}

.tring-bg-color {
  background-color: #00c600 !important;
}
/*   */
.silver-grey-background {
  background-color: #F5F5F5
}
